﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="~/Themes/images/favicon.ico" />

    <link href="~/Themes/css/loading.min.css" rel="stylesheet" />
    <link href="~/Themes/css/CommonClass.css" rel="stylesheet" />
    <link href="~/Themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Themes/css/style.css" rel="stylesheet">
    <link href="~/Themes/css/responsive.css" rel="stylesheet">
    <link href="~/Themes/css/fonts.css" rel="stylesheet">
    <link href="~/Themes/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Themes/css/menu-style.css" rel="stylesheet" />
    <link href="~/Themes/css/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Themes/css/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Themes/css/CommonClass.css" rel="stylesheet" />
    <link href="~/Themes/css/animate.css" rel="stylesheet" />
    <link href="~/Themes/css/jquery-clockpicker.css" rel="stylesheet" />

    <script src="~/Themes/js/jquery.min.js"></script>
    <script src="~/Themes/js/kendo.all.min.js"></script>
    <script src="~/Themes/js/jquery.loading.min.js"></script>
    <script src="~/Themes/CommonFunction/CommonFunction.js"></script>
    <script src="~/Themes/js/bootstrap.min.js"></script>
    <script src="~/Themes/js/underscore-min.js"></script>
    <script src="~/Themes/js/jquery-clockpicker.js"></script>
    <style>
        .centered {
            position: absolute;
            top: 19%;
            left: 8%;
            transform: translate(-50%, -50%);
            color: white;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div id="costumModal5" class="modal" data-easein="flipBounceYIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
            <div class="modal-dialog animated animated bounceIn">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="ClearPopupChangePwd();">
                            ×
                        </button>
                        <h2>change password</h2>
                    </div>
                    <div class="modal-body">
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Old Password:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Old Password" type="password" id="txt_oldpassword">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                New Password:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="New Password" type="password" id="txt_newpassword">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Confirm Password:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Confirm Password" type="password" id="txt_conform">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <input value="update password" type="button" onclick="UpdatePassword();"><input value="cancel" type="button" data-dismiss="modal" aria-hidden="true" onclick="ClearPopupChangePwd();">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="sidebar">
        <div class="dashboard-left">
            <div class="user-box">
                <div class="user-logo">
                    <a href="#" id="upload_link"><img id="userimg" alt="user">@*<div class="centered">Change</div>*@</a>
                </div>
                <div class="user-text">
                    <p id="lbl_username"></p>
                    <span></span>
                    <!-- <a href="#">upload profile</a> -->
                    <a class="btn btn-default btn-file" href="@Url.Action("User_profile","User_Dashboard",new { area="User"})">edit profile</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <ul class="list-unstyled components">
            <li><a id="menu_dashboard" href="@Url.Action("Dashboard","User_Dashboard",new { area="User"})"><i class="fa fa-home"></i>dashboard</a></li>
            <li><a id="menu_book" href="@Url.Action("Book_a_Job","User_Dashboard",new { area="User"})"><i class="fa fa-book"></i>book a cab</a></li>
            <li><a id="menu_track" href="@Url.Action("Track_a_cab","User_Dashboard",new { area="User"})"><i class="fa fa-calendar-check-o"></i>track a cab</a></li>
            <li>
                <a href="#costumModal5" data-toggle="modal"><i class="fa fa-user"></i>change password</a>
            </li>
            <li><a id="menu_logout" href="@Url.Action("Logout","User_Dashboard",new { area="User"})"><i class="fa fa-sign-out"></i>logout</a></li>
        </ul>
    </nav>
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
        @RenderBody()
    </div>
    </div>

    <input id="upload_profile" type="file" style="display:none;" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            var UserName = '@Session["UserName"]';
            $('#lbl_username').text(UserName);

            var UserImg = '@Session["UserImg"]';
            if (UserImg != '') {
                var p = profilePicture(window.location.pathname);
                if (p == 0) {
                    $('#userimg').attr('src', '../../UserPicture/' + UserImg);
                } else { $('#userimg').attr('src', '../../UserPicture/' + UserImg); }
            } else {
                var p = profilePicture(window.location.pathname)
                if (p == 0)
                { $('#userimg').attr('src', '../../Themes/images/user.png'); } else {
                    $('#userimg').attr('src', '../../Themes/images/user.png');
                }

            }

            $('#lbl_username').text(UserName);
            var ActivePage = window.location.pathname;
            UserManuActive(ActivePage);

        });
        $("#upload_link").on('click', function (e) {
            e.preventDefault();
            $("#upload_profile:hidden").trigger('click');

        });
        $("#upload_profile").change(function () {
            var data = new FormData();
            var files = $("#upload_profile").get(0).files;
            data.append("ProfileImage", files[0]);

            var extension = $("#upload_profile").val().split('.').pop().toUpperCase();
            if (extension != "PNG" && extension != "JPG" && extension != "JPEG") {
                alert('Imvalid image file format.');
                return false;
            }
            $.showLoading({ name: 'circle-turn' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadProfile", "User_Dashboard", new { area = "User" })',
                data: data,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    $.hideLoading({ name: 'circle-turn' });
                    if (response.status == 'success') {
                        alert('Change Profile Successfully.');
                        setInterval(function () {
                            window.location.reload();
                        }, 1000);
                    } else { console.log(response) }
                }
            });
        });
        function UpdatePassword() {
            var txt_oldpassword = (PasswordValidation($('#txt_oldpassword').val(), 6, 50));
            if (!txt_oldpassword) { alert('Enter old Password'); return; }

            var txt_newpassword = (PasswordValidation($('#txt_newpassword').val(), 6, 50));
            if (!txt_newpassword) { alert('Enter new Password'); return; }

            var txt_conform = false;
            if ($('#txt_newpassword').val() == $('#txt_conform').val()) {
                txt_conform = true;
            } else { txt_conform = false; alert('Confirm Password Not Match') }

            if (txt_oldpassword && txt_newpassword && txt_conform) {
                $.showLoading({ name: 'circle-turn' });
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("UpdateChangePassword", "User_Dashboard", new { area = "User" })',
                    data: { OldPasword: $('#txt_oldpassword').val(), NewPassword: $('#txt_newpassword').val() },
                    success: function (data) {
                        $.hideLoading({ name: 'circle-turn' });
                        alert(data.data);
                        if (data.data == 'Change Password Successfully') {
                            $('#costumModal5').modal('hide');
                        }
                        ClearPopupChangePwd();
                    }
                });
            }
        }
        function ClearPopupChangePwd() {
            $('#txt_oldpassword').val('');
            $('#txt_newpassword').val('');
            $('#txt_conform').val('');
        }
    </script>
</body>
</html>