﻿@using System.Data
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<style>
    thead {
        display: none;
    }

    .table-box table tr td {
        text-align: left;
    }

    body {
        counter-reset: Serial;
    }

    .black-backhround table {
        border-collapse: separate;
    }

   .black-backhround tr td:first-child:before {
        counter-increment: Serial; 
        content: "" counter(Serial);
    }
</style>

<div class="dashboard-right">
    <div class="dashboard-icon">
        <ul>
            <li><a href="@Url.Action("Book_a_Job","User_Dashboard",new { area="User"})"><i class="fa fa-book"></i><p>book cab</p></a></li>
            <li><a href="@Url.Action("Track_a_cab","User_Dashboard",new { area="User"})"><i class="fa fa-calendar-check-o"></i><p>track a cab</p></a></li>
        </ul>
    </div>

    <div class="table-box">
        <h6>last 5 Journey</h6>
        <table>
            <tr>
                <td style="text-align:center;width:200px"><a href="#">Job Id</a></td>
                <td style="width:400px;text-align:left"><a href="#">From Job</a></td>
                <td style="width:600px;text-align:left"><a href="#">To Job </a></td>
            </tr>
        </table>
        @if (Model.Tables[0].Rows.Count == 0)
        {
            <div style="text-align: center;"><h3 style="padding:9px;">No Job Found !</h3></div>
        }
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <table class="black-backhround">
                <tr>
                    <td style="text-align:center;width:200px"><a href="#"></a></td>
                    <td style="width:400px;text-align:left"><a href="#">@row["from_job_postcode"]</a>  <a>@row["from_job_address"]</a>   <a>@row["from_job_street"]</a></td>
                    <td style="width:600px;text-align:left"><a href="#">@row["tojob_address"]</a></td>
                </tr>
            </table>
        }
    </div>
</div>

