﻿@using System.Data
@{
    ViewBag.Title = "Track_a_job";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<style>
    #map {
        width: 100%;
        height: 100%;
    }

    #map_damy {
        width: 50%;
        height: 100%;
        margin-top: 11%;
        margin-left: 20%;
    }

    #gmimap5 {
        display: none !important;
    }
   
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6NJR2j3dlZdZNh_n7FZDghYULahe-eKM"></script>
<script>

    var lat_val = '';
    var lng_val = '';
    var cab_title = '';
    var User_latitude = '';
    var User_longitude = '';
    var markers = [{ "lat": 51.509865, "lng": -0.118092 }, { "lat": 51.509865, "lng": -0.118092 }];
    var CounterA = 0;
    $(document).ready(function () {
        $(function () {
            mapLocation();
            var UserId = '@Session["UserID"]';
            var socket = io.connect("http://localhost:8083");
            socket.emit('UserId', UserId);
            socket.on('showrows', function (dataJourney) {
               // RemovePoint();
                markers = [];
                console.log(dataJourney.recordsets[0]);
                track_a_job(dataJourney.recordsets[0]);
            });
            
        });
    });

    window.onload = function () {
        setInterval(function () {
            //RemovePoint();
            document.getElementById('routebtn').click();
        }, 2000);
    }
    //function RemovePoint() {
    //    var images = document.getElementsByTagName('img');

    //    for (var i = 0; i < images.length; i++) {
    //        if ((images[i].src).includes('data:image/svg')) {
    //            $('img[src="' + (images[i].src) + '"]').css("display", "none");
    //        }
    //    }
    //}
    function track_a_job(jsondata) {
        $('#map_damy').empty();
        if (jsondata.length > 0) {
            if (jsondata[0].status == '1') {
                $('#map_damy').hide();
                var driverLocation = { "lat": jsondata[0].driver_let, "lng": jsondata[0].driver_lon }
                markers.push(driverLocation);
                cab_title = (jsondata[0].tariff_name);
                var geocoder = new google.maps.Geocoder();

                if (CounterA == 0) {
                    geocoder.geocode({ 'address': jsondata[0].from_job_address }, function (results, status) {

                        if (status == google.maps.GeocoderStatus.OK) {
                            User_latitude = results[0].geometry.location.lat();
                            User_longitude = results[0].geometry.location.lng();

                        }
                    });
                }
                var driverLocation = { "lat": User_latitude, "lng": User_longitude }
                markers.push(driverLocation);

            } else { $('#map').hide(); $('#map_damy').append(' <div style="text-align: center;"><h4 style="padding:9px;border: 1px solid gray;">Please Wait..Finding Nearest Driver !</h4></div>'); }
        } else { $('#map').hide(); $('#map_damy').append(' <div style="text-align: center;"><h4 style="padding:9px;border: 1px solid gray;">No Cab Found !</h4></div>'); }
    }

    function mapLocation() {
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        var map;

        function initialize() {
            directionsDisplay = new google.maps.DirectionsRenderer();
            var chicago = new google.maps.LatLng(markers[0].lat, markers[0].lng);
            var mapOptions = {
                zoom: 7,
                center: chicago
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            directionsDisplay.setMap(map);
            google.maps.event.addDomListener(document.getElementById('routebtn'), 'click', calcRoute);

        }
        var marker = null;
        function calcRoute() {
            if (marker) {
                marker.setMap(null);
            }
            var start = new google.maps.LatLng(markers[0].lat, markers[0].lng);
            var end = new google.maps.LatLng(markers[1].lat, markers[1].lng);
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };
            marker = new google.maps.Marker({
                position: end,
                map: map//,
               // icon: '../../Themes/images/pesanger.png'
            });
            marker = new google.maps.Marker({
                position: start,
                map: map///,
                //icon: '../../Themes/images/texti.png'
            });
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    directionsDisplay.setMap(map);
                }

            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    }

</script>
<div class="dashboard-right">
    <div class="dashboard-icon">
        <ul>
            <li><a href="@Url.Action("Book_a_Job","User_Dashboard",new { area="User"})"><i class="fa fa-book"></i><p>book cab</p></a></li>
            <li><a href="@Url.Action("Track_a_cab","User_Dashboard",new { area="User"})"><i class="fa fa-calendar-check-o"></i><p>track a cab</p></a></li>
        </ul>
    </div>
    <div class="table-box">
        <h6>track a cab</h6>
        <div class="page-from-bg track-page-map">
            <input type="button" id="routebtn" value="route" style="display:none;" />
            <div id="map"></div>
            <div id="map_damy"></div>
        </div>
        <div class="table-box">
        </div>
    </div>
</div>
