﻿
@{
    ViewBag.Title = "User_profile";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        if (!Number.prototype.toLowerCase) {
            Number.prototype.toLowerCase = function () {
                return this.toString();
            }
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("getUserProfile", "User_Dashboard", new { area = "User" })',
            success: function (data) {
                var dataJSON = JSON.parse(data.data);
                $('#txt_firstname').val(dataJSON[0].usm_fname);
                $('#txt_lastname').val(dataJSON[0].usm_lname);
                $('#txt_email').val(dataJSON[0].usm_email);
                $('#txt_mobile').val(dataJSON[0].usm_phone);
                $('#txt_address').val(dataJSON[0].usm_address);
                $('#txt_city').val(dataJSON[0].usm_city);
                $('#txt_state').val(dataJSON[0].usm_state);
                $('#txt_country').val(dataJSON[0].usm_country);
            }
        });
    });
    function update_Profile() {
        var FirstName_txt = (CheckValueNullOrNOT($('#txt_firstname').val()));
        if (!FirstName_txt) { alert('Enter First name'); return; }

        var LastName_txt = (CheckValueNullOrNOT($('#txt_lastname').val()));
        if (!LastName_txt) { alert('Enter Last name'); return; }

        var Email_txt = (CheckEmail($('#txt_email').val()));
        if (!Email_txt) {
            alert('Please Enter Valid Email'); return;
        }

        var Mobile_txt = (MobileValidation($('#txt_mobile').val()));
        if (!Mobile_txt) { alert('Enter Valid Mobile'); return; }

        var Address_txt = (CheckValueNullOrNOT($('#txt_address').val()));
        if (!Address_txt) { alert('Enter Address'); return; }

        var Country_txt = (CheckValueNullOrNOT($('#txt_country').val()));
        if (!Country_txt) { alert('Enter Country'); return; }

        var State_txt = (CheckValueNullOrNOT($('#txt_state').val()));
        if (!State_txt) { alert('Enter State'); return; }

        var City_txt = (CheckValueNullOrNOT($('#txt_city').val()));
        if (!City_txt) { alert('Enter City'); return; }

        if (FirstName_txt && LastName_txt && Email_txt && Mobile_txt && Address_txt && Country_txt && State_txt && City_txt) {
            $.showLoading({ name: 'circle-turn' });
            var data = {
                usm_fname: $('#txt_firstname').val(),
                usm_lname: $('#txt_lastname').val(),
                usm_email: $('#txt_email').val(),
                usm_phone: $('#txt_mobile').val(),
                usm_address: $('#txt_address').val(),
                usm_city: $('#txt_city').val(),
                usm_state: $('#txt_state').val(),
                usm_userrole: '2',
                usm_country: $('#txt_country').val(),
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("UpdateUserProfile", "User_Dashboard", new { area = "User" })',
                data: data,
                success: function (data) {
                    $.hideLoading({ name: 'circle-turn' });
                    if (data.status == 'success')
                    { alert('Profile Update Successfully.') }
                }
            });
        }
    }
</script>

<div class="dashboard-right">
    <div class="dashboard-icon">
        <ul>
            <li><a href="@Url.Action("Book_a_Job","User_Dashboard",new { area="User"})"><i class="fa fa-book"></i><p>book cab</p></a></li>
            <li><a href="@Url.Action("Track_a_cab","User_Dashboard",new { area="User"})"><i class="fa fa-calendar-check-o"></i><p>track a cab</p></a></li>
        </ul>
    </div>
    <div class="table-box">
        <h6>Profile info</h6>
        <div class="page-from-bg">
            <div class="book-form">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                First Name:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="First Name *" type="text" id="txt_firstname" maxlength="25">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Email:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Email *" type="text" id="txt_email" maxlength="50">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Mobile:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Mobile *" type="number" id="txt_mobile" onKeyDown="if(this.value.length==15 && event.keyCode!=8) return false;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                State:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="State *" type="text" id="txt_state" maxlength="20">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Last Name:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Last Name *" type="text" id="txt_lastname" maxlength="25">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Address:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Address *" type="text" id="txt_address" maxlength="200">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                City:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="City *" type="text" id="txt_city" maxlength="25">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Country:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Country : *" type="text" id="txt_country" maxlength="25">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-btn">
                    <ul>
                        <li><a href="#" onclick="update_Profile();">update</a></li>
                        <li><a href="@Url.Action("Dashboard","User_Dashboard",new { area="User"})">Cancel</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>