﻿
@{
    ViewBag.Title = "Admin_Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanel.cshtml";
}
<style>
    #content1 {
        width: 100% !important;
    }

    .pd-rgt {
        padding: 0px !important;
    }

    #map {
        width: 100%;
        height: 100%;
    }

    #RouteStatus thead {
        display: none;
    }

    #RouteStatus table tbody tr td {
        border: 1px solid gray;
        background: #FAF5E1;
    }
   
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6NJR2j3dlZdZNh_n7FZDghYULahe-eKM"></script>
<script>
    var User_latitude = '';
    var User_longitude = '';
    var map;
    var markers = [];
    var Temp_Route = [];

    var markersLatLng =
   [{ "lat": 51.509865, "lng": -0.118092 },
   { "lat": 51.509865, "lng": -0.118092 }];
    var RouteStatus = [];
    var counterS = 0;
    var countIcon = 0;
    $(function () {
        startmap();

        var socket = io.connect("http://localhost:8083");
        socket.emit('UserId', 0);
        socket.on('showrows', function (dataJourney) {
            track_a_job(dataJourney.recordsets[0]);
            if (countIcon == 0) {
                // track_a_job(dataJourney.recordsets[0]);
                remove_GoogleIcon();
                countIcon++;
            }
        });

    });
    $(document).ready(function () {
        getDriver_Count();
        Get_Disruption();
        var window_Height = window.screen.availHeight;
        var window_Width = window.screen.availWidth;
        if (window_Height >= 728 && window_Width >= 1366)
        { console.log('Small Screen'); } else { console.log('Large Screen'); }


        setInterval(function () {
            getDriver_Count();
            Get_Disruption();
           
        }, 200000);

    });
    function startmap() {
        $('#map').empty();
        directionsDisplay = new google.maps.DirectionsRenderer({
            polylineOptions: {
                strokeColor: "red"
            }
        });
        var lat_lng = { "lat": 51.509865, "lng": -0.118092 };
        var markers = [];
        var mapOptions = {
            zoom: 8,
            center: lat_lng
        };

        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);
        directionsDisplay.setMap(map);

    }
    function remove_GoogleIcon() {
        var images = document.getElementsByTagName('img');

        for (var i = 0; i < images.length; i++) {
            if ((images[i].src).includes('https://maps.gstatic.com/mapfiles/api-3/images/google4.png')) {
                $('img[src="' + (images[i].src) + '"]').css("display", "none");
            }
        }
    }
    function addMarker(location, type, Uni_no) {
        if (type == "1") {
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                // icon: '../../Themes/images/pesanger.png'
            });
            markers.push(marker);
            //markersLatLng.length = 0;
        } else {
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: Uni_no,
                icon: '../../Themes/images/texti.png'
            });

            markers.push(marker);
        }
    }
    function testing() {
        startmap();
    }
    var directionsDisplay;
    var directionsService;
    var marker = null;
    function drowPath(start, end) {
        Temp_Route.push(start);
        Temp_Route.push(end);
        var directionsDisplay = new google.maps.DirectionsRenderer({
            polylineOptions: {
                strokeColor: "green"
            }
        });;
        directionsService = new google.maps.DirectionsService;
        var request = {
            origin: start,
            destination: end,
            travelMode: google.maps.TravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setOptions({ preserveViewport: true });
                directionsDisplay.setDirections(response);
                directionsDisplay.setMap(map);

            }

        });
    }
    function deleteMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        if (directionsDisplay != null) {
            directionsDisplay.setMap(null);
            directionsDisplay = null;
        }
        markers = [];
    }
    function ClearMap() {
        for (var a = 0; a < Temp_Route.length; a++) {
            if (a % 2 != 0) {
                var start = a;
                var end = a - 1;
                console.log(end, start);
                directionsDisplay = new google.maps.DirectionsRenderer;
                directionsService = new google.maps.DirectionsService;
                var request1 = {
                    origin: Temp_Route[end],
                    destination: Temp_Route[start],
                    travelMode: google.maps.TravelMode.DRIVING
                };
                directionsService.route(request1, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        directionsDisplay.setDirections(response);
                        directionsDisplay.setMap(map);

                    }
                });
            }
        }
        Temp_Route = [];
        if (directionsDisplay != null) {
            directionsDisplay.setMap(null);
            directionsDisplay = null;
        }
        google.maps.event.addDomListener(window, 'load', startmap);
    }
    function track_a_job(jsondata) {
        deleteMarkers();
        var count = 0;
        _.each(jsondata, function (jobData) {
            //var geocoder = new google.maps.Geocoder();
            //geocoder.geocode({ 'address': jobData.from_address }, function (results, status) {
            //    if (status == google.maps.GeocoderStatus.OK) {
            //        markersLatLng.push({ "lat": results[0].geometry.location.lat().toString(), "lng": results[0].geometry.location.lng().toString() });
            //        markersLatLng.push({ "lat": jobData.driver_let.toString(), "lng": jobData.driver_lon.toString() });

            //        var lat_lng1 = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            //       // addMarker(lat_lng1, "1");
            //        var lat_lng2 = new google.maps.LatLng(jobData.driver_let.toString(), jobData.driver_lon.toString());
            //        addMarker(lat_lng2, "2");
            //      //  drowPath(lat_lng1, lat_lng2);
            //    }
            //});
            var lat_lng2 = new google.maps.LatLng(jobData.driver_let.toString(), jobData.driver_lon.toString());
            addMarker(lat_lng2, "2", jobData.uni_no);
        });
    }

    function getDriver_Count() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("Get_DriverCount", "Admin_Dashboard", new { area = "Admin" })',
            success: function (data) {
                var dataJSON_driver_count = JSON.parse(data.data);
                if (dataJSON_driver_count.length > 0) {
                    $('#tariff_tbl').empty();

                    var tbl_driverCount = '<div class="dynamic_table2"><div class="dynamic_table1" style="text-align:center; color:black;"> TYPE </div>';
                    _.each(dataJSON_driver_count, function (tariff_data1) {
                        tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="text-align:center;font-weight:bold;background-color:' + tariff_data1.Tariff_Colour + '">' + tariff_data1.Tariff_Name + '</div>';
                    });
                    tbl_driverCount = tbl_driverCount + '</div><div class="dynamic_table2">'
                    tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="text-align:center;color:black;">ONLINE (AVAILABLE)</div>'
                    _.each(dataJSON_driver_count, function (tariff_data2) {
                        var tarif_Y = tariff_data2.Y;
                        if (tarif_Y > 0) {
                            tarif_Y = tariff_data2.Y;
                        } else {
                            tarif_Y = 0;
                        }
                        tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="background-color:' + tariff_data2.Tariff_Colour + '">' + tariff_data2.X + ' (' + tarif_Y + ')</div>';
                    });
                    tbl_driverCount = tbl_driverCount + '</div><div class="dynamic_table2">'

                    tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="text-align:center; color:black;">LOGGED OUT</div>'
                    _.each(dataJSON_driver_count, function (tariff_data3) {
                        tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="background-color:' + tariff_data3.Tariff_Colour + '">' + tariff_data3.Z + '</div>';
                    });
                    tbl_driverCount = tbl_driverCount + '</div><div class="dynamic_table2">'

                    tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="text-align:center; color:black;">TOTAL</div>'
                    _.each(dataJSON_driver_count, function (tariff_data4) {
                        tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="background-color:' + tariff_data4.Tariff_Colour + '">' + (tariff_data4.Total_Driver) + '</div>';
                    });
                    tbl_driverCount = tbl_driverCount + '</div>'

                    tbl_driverCount = tbl_driverCount + '';

                    $('#tariff_tbl').append(tbl_driverCount);
                    $.hideLoading({ name: 'circle-turn' });
                } else { $.hideLoading({ name: 'circle-turn' }); }
            }
        });
    }
    function Get_Disruption() {
        console.log(CurrentDate());
        $.ajax({
            type: "GET",
            dataType: "json",
            url: 'https://api.tfl.gov.uk/Road/all/Street/Disruption?startDate=' + CurrentDate() + '&endDate=' + CurrentDate(),
            success: function (data) {
                RouteStatus = [];
                _.each(data, function (RoadDetails) {
                    var arr = { "streetName": RoadDetails.streetName, "closure": RoadDetails.closure, "directions": RoadDetails.directions, "severity": RoadDetails.severity, "category": RoadDetails.category, "subCategory": RoadDetails.subCategory, "comments": RoadDetails.comments }
                    RouteStatus.push(arr);
                });
                console.log('Without Distinct :', data.length);
                var lookup = {};
                var items = RouteStatus;
                var result = [];

                for (var item, i = 0; item = items[i++];) {
                    var name = item.streetName;
                    var closure = item.closure;
                    var directions = item.directions;
                    var severity = item.severity;
                    var category = item.category;
                    var subCategory = item.subCategory;
                    var comments = item.comments;

                    if (!(name in lookup)) {
                        lookup[name] = 1;
                        result.push({ "streetName": name, "closure": closure, "directions": directions, "severity": severity, "category": category, "subCategory": subCategory, "comments": comments });
                    }
                }
                console.log('After Distinct :', result.length);
                BindRouteDetails(result);
            }
        });

    }
   
    function BindRouteDetails(RouteStatus) {
        $('#RouteStatus').empty();
        var element = $("#RouteStatus").kendoGrid({
            dataSource: RouteStatus,
            sortable: true,
            filterable: false,
            pageable: false,
            height: 600,
            columns: [
            { field: "streetName", title: "streetName", width: "200px" },
             { field: "closure", title: "closure", width: "120px" },
              { field: "directions", title: "directions", width: "120px" },
               { field: "severity", title: "severity", width: "80px" },
                { field: "category", title: "category", width: "80px" },
                 { field: "subCategory", title: "subCategory", width: "100px" },
                  { field: "comments", title: "comments", width: "500px" }
            //{ field: "closure", template: '#if(statusSeverity == "Closure" ) { # <div><img src="../../Themes/images/status-1.png"><span>Closure</span></div> #} else if(statusSeverity == "Serious"){ # <div><img src="../../Themes/images/status-2.png"><span>Serious delays</span></div> #}else if (statusSeverity =="Good"){ # <div><span>No exceptional delays</span></div> #} #', width: "100px" }
            ]
        });
    }
</script>

<div class="wrapper">
    <div id="content1" class="pd-rgt">
        <div class="col-md-12" style="margin-top:5px;">
            <div class="table-box11" id="tariff_tbl" style="overflow:auto;">
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">

    <div class="col-sm-5" style="border:2px solid gray;height:600px;margin-top:5px;padding: 5px;">
        <div id="map"></div>
        <input type="button" id="routebtn" value="route" style="display:none;" />
        <input type="button" id="routebtn" value="route" style="display:none;" />
    </div>
    <div class="col-sm-7" style="border:2px solid gray;height:600px;margin-top:5px;padding-left: 0px;padding-right: 0px;">
        <div id="RouteStatus"></div>
    </div>

</div>



