﻿
@{
    ViewBag.Title = "ForgotPassword";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PinPoint</title>
    <link rel="shortcut icon" href="~/Themes/images/favicon.ico" />

    <link href="~/Themes/css/loading.min.css" rel="stylesheet" />
    <link href="~/Themes/css/CommonClass.css" rel="stylesheet" />
    <link href="~/Themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Themes/css/style.css" rel="stylesheet">
    <link href="~/Themes/css/responsive.css" rel="stylesheet">
    <link href="~/Themes/css/fonts.css" rel="stylesheet">
    <link href="~/Themes/css/font-awesome.min.css" rel="stylesheet">


    <script src="~/Themes/js/jquery.min.js"></script>
    <script src="~/Themes/js/jquery.loading.min.js"></script>
    <script src="~/Themes/CommonFunction/CommonFunction.js"></script>
    <script src="~/Themes/js/bootstrap.min.js"></script>
    <script>
        function RecoverPassword() {
            var email = $('#txt_emailr').val();
            var email = (CheckEmail($('#txt_emailr').val()));
            if (!email) {
                alert('Please Enter Valid Email');
                return;
            }
            if (email) {
                $.showLoading({ name: 'circle-turn' });
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("RecoverPassword", "Login",new { area = ""})',
                    data: { Email: $('#txt_emailr').val() },
                    success: function (data) {
                        if (data.status == 'success') {
                            alert('Send Email Successfully.');
                            $.hideLoading({ name: 'circle-turn' });
                            var redirectUrl = '@Url.Action("Login", "Login", new { area = "" })';
                            window.location.href = redirectUrl;
                        } else {
                            alert('Email Sending Fails.');
                            $.hideLoading({ name: 'circle-turn' });
                        }
                    }
                });

            } else {
                alert('Please Enter Valid Email');
                return;
            }
        }
        function RegistrationPage() {
            var redirectUrl = '@Url.Action("Registration", "Login", new { area=""})';
            window.location.href = redirectUrl;
        }
        function LoginPage() {
            var redirectUrl = '@Url.Action("Login", "Login", new { area=""})';
            window.location.href = redirectUrl;
        }
    </script>
    <style>
    </style>
</head>
<body>
    <div class="login-bg">
        <div class="login-screen">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="logo">
                        <a href="#"><img src="~/Themes/images/pinpoint-7.png" alt="pinpoint-7"></a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <div class="left-back">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="login-heading">
                                    <h6><a class="active" href="@Url.Action("ForgetPassword", "Login", new { area=""})">Forgot</a></h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="sign-heading">
                                    <h6><a href="#" onclick="LoginPage();">Login</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="form-section forgot-mr">
                            <div class="form-box">
                                <input placeholder="Email" type="text" id="txt_emailr" autofocus>
                            </div>

                            <div class="login-btn">
                                <input value="send email" type="submit" onclick="RecoverPassword()" onkeydown="jQuery: if (event.keyCode == 13) RecoverPassword();">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
