﻿
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cab Finder</title>
    <link rel="shortcut icon" href="~/Themes/images/favicon.ico" />
    <link href="~/Themes/css/loading.min.css" rel="stylesheet" />
    <link href="~/Themes/css/CommonClass.css" rel="stylesheet" />
    <link href="~/Themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Themes/css/style.css" rel="stylesheet">
    <link href="~/Themes/css/responsive.css" rel="stylesheet">
    <link href="~/Themes/css/fonts.css" rel="stylesheet">
    <link href="~/Themes/css/font-awesome.min.css" rel="stylesheet">

    <script src="~/Themes/js/jquery.min.js"></script>
    <script src="~/Themes/js/jquery.loading.min.js"></script>
    <script src="~/Themes/CommonFunction/CommonFunction.js"></script>
    <script src="~/Themes/js/bootstrap.min.js"></script>

    <script>
        function LoginNow() {
            var email = $('#txt_email').val();
            var password = $('#txt_password').val();
            var email = (CheckEmail($('#txt_email').val()));
            if (email) {
            }
            else {
                alert('Please Enter Valid Email');
                return;
            }
            var password = (PasswordValidation($('#txt_password').val()));
            if (password) {
            } else {
                alert('Please Enter Password');
                return;
            }

            if (email && password) {
                $.showLoading({ name: 'circle-turn' });
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("CheckLogin", "Login",new { area = ""})',
                    data: { Username: $('#txt_email').val(), Password: $('#txt_password').val() },
                    success: function (data) {
                        if (data.RoleId != 0) {
                            $.hideLoading({ name: 'circle-turn' });
                            if (data.RoleId != "2") {
                                var redirectUrl = '@Url.Action("Admin_Dashboard", "Admin_Dashboard", new { area="Admin"})';
                                window.location.href = redirectUrl;
                            } else{
                                var redirectUrl = '@Url.Action("Dashboard", "User_Dashboard", new { area="User"})';
                                window.location.href = redirectUrl;
                            }
                        } else {
                            $.hideLoading({ name: 'circle-turn' });
                            alert('Please Enter Valid User Name or Password');
                            return;
                        }
                    }
                });

            } else {
                alert('Please Enter Valid User Name or Password');
                return;
            }
        }
        function ForgetPassword() {
            var redirectUrl = '@Url.Action("ForgotPassword", "Login", new { area=""})';
            window.location.href = redirectUrl;
        }
        function RegistrationPage() {
            var redirectUrl = '@Url.Action("Registration", "Login", new { area=""})';
            window.location.href = redirectUrl;
        }
        function LoginPage() {
            var redirectUrl = '@Url.Action("Login", "Login", new { area=""})';
            window.location.href = redirectUrl;
        }
    </script>
</head>
<body>
    <div class="login-bg">
        <div class="login-screen">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="logo">
                        <a href="#"><img src="~/Themes/images/pinpoint-7.png" alt="pinpoint-7"></a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">

                    <div class="left-back">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="login-heading">
                                    <h6><a class="active" href="#" onclick="LoginPage();">login</a></h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="sign-heading">
                                    <h6><a href="#" onclick="RegistrationPage();">registration</a></h6>
                                </div>
                            </div>
                        </div>

                        <div class="form-section login-marging">
                            <div class="form-box">
                                <input placeholder="Email" type="text" id="txt_email" autofocus>
                            </div>
                            <div class="form-box lock-icon">
                                <input placeholder="Password" type="password" id="txt_password" onkeydown="jQuery: if (event.keyCode == 13) LoginNow();">
                            </div>
                            <div class="login-btn">
                                <input value="log in now" type="submit" onclick="LoginNow();">
                            </div>
                            <div class="bottom-password">
                                <a href="#" onclick="ForgetPassword();">Forgot password ?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


