﻿
@{
    ViewBag.Title = "Registration";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PinPoint</title>
    <link rel="shortcut icon" href="~/Themes/images/favicon.ico" />

    <link href="~/Themes/css/loading.min.css" rel="stylesheet" />
    <link href="~/Themes/css/CommonClass.css" rel="stylesheet" />
    <link href="~/Themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Themes/css/style.css" rel="stylesheet">
    <link href="~/Themes/css/responsive.css" rel="stylesheet">
    <link href="~/Themes/css/fonts.css" rel="stylesheet">
    <link href="~/Themes/css/font-awesome.min.css" rel="stylesheet">

    <script src="~/Themes/js/jquery.min.js"></script>
    <script src="~/Themes/js/jquery.loading.min.js"></script>
    <script src="~/Themes/CommonFunction/CommonFunction.js"></script>
    <script src="~/Themes/js/bootstrap.min.js"></script>
    <script>
        var OTPVerification = false;
        $(document).ready(function () {
            $('#reg_second').hide();
            $('#otp_wait').hide();
            $('#reg_first').show();
            $('#otp_resend').hide();
            setInterval(function () {
                $('#otp_wait').hide();
            }, 120000);
        });
        function Step1() {
            var FirstName_txt = (CheckValueNullOrNOT($('#txt_firstname').val()));
            if (!FirstName_txt) { alert('Enter First name'); return; }

            var LastName_txt = (CheckValueNullOrNOT($('#txt_lastname').val()));
            if (!LastName_txt) { alert('Enter Last name'); return; }

            var Email_txt = (CheckEmail($('#txt_email').val()));
            if (!Email_txt) {
                alert('Please Enter Valid Email');
                return;
            }
            var Password_txt = (PasswordValidation($('#txt_password').val(), 6, 50));
            if (!Password_txt) { alert('Enter Password Minimum 6 characters'); return; }

            var Mobile_txt = (MobileValidation($('#txt_mobile').val()));
            if (!Mobile_txt) { alert('Enter Valid Mobile'); return; }

            if (FirstName_txt && LastName_txt && Email_txt && Password_txt && Mobile_txt) {

                $.showLoading({ name: 'circle-turn' });
                $('#otp_wait').hide();
                var otpcode = Math.floor(1000 + Math.random() * 9000);
                //var otpcode = 78692;
                localStorage.setItem("OTP", otpcode);

                OPTSend();

                $('#reg_second').show();
                $('#reg_first').hide();
                $('#otp_wait').show();
                $('#email_alert').attr('style', 'color:red');
                $('#otp_resend').show();
            }
        }
        function OPTSend() {
            $.showLoading({ name: 'circle-turn' });
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("SendOTP", "Login",new { area = ""})',
                data: { Email: $('#txt_email').val(), OTP: localStorage.getItem("OTP") },
                success: function (data) {
                    $('#otp_wait').show();
                    $('#otp_wait').attr('src', '../Themes/images/loader.gif');
                    $.hideLoading({ name: 'circle-turn' });
                }
            });
        }
        function CheckOTP() {
            $.showLoading({ name: 'circle-turn' });
            var otpVal = localStorage.getItem("OTP");
            var otp_txt = $('#txt_otp').val();
            if (otpVal == otp_txt) {
                $('#otp_wait').attr('src', '../Themes/images/ckeck-icon-1.png');
                $('#email_alert').attr('style', 'color:white');
                $('#otp_resend').hide();
                OTPVerification = true;
            }
            $.hideLoading({ name: 'circle-turn' });
        }
        function Registration() {

            var Address_txt = (CheckValueNullOrNOT($('#txt_address').val()));
            if (!Address_txt) { alert('Enter Address'); return; }

            var Country_txt = (CheckValueNullOrNOT($('#txt_country').val()));
            if (!Country_txt) { alert('Enter Country'); return; }

            var State_txt = (CheckValueNullOrNOT($('#txt_state').val()));
            if (!State_txt) { alert('Enter State'); return; }

            var City_txt = (CheckValueNullOrNOT($('#txt_city').val()));
            if (!City_txt) { alert('Enter City'); return; }

            if (!OTPVerification) { alert('OTP Not Verify.'); return; }

            if (Address_txt && Country_txt && State_txt && City_txt && OTPVerification) {
                $.showLoading({ name: 'circle-turn' });
                var data = {
                    usm_fname: $('#txt_firstname').val(),
                    usm_lname: $('#txt_lastname').val(),
                    usm_email: $('#txt_email').val(),
                    usm_phone: $('#txt_mobile').val(),
                    usm_address: $('#txt_address').val(),
                    usm_city: $('#txt_city').val(),
                    usm_state: $('#txt_state').val(),
                    usm_userrole: '2',
                    usm_password: $('#txt_password').val(),
                    usm_country: $('#txt_country').val()
                }
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("AddReg","Login", new { area = "" })',
                    data: data,
                    success: function (data) {
                        $.hideLoading({ name: 'circle-turn' });
                        alert('Registration successfully.');
                        setInterval(function () {
                            var result = data.data;
                            var path = '@Url.Action("Dashboard", "User_Dashboard", new { area = "User" })';
                            window.location.href = path;
                        }, 2000);
                    }
                });
            }
        }
        function CheckUEmail() {
            $.showLoading({ name: 'circle-turn' });
            var email = $('#txt_email').val();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("CheckEmail", "Login", new { area = "" })',
                data: { Email: email },
                success: function (data) {
                    $.hideLoading({ name: 'circle-turn' });
                    if (data.message == "yes") {
                        alert('This Email is already exist enter different Email ID');
                        $('#txt_email').val("");
                    }
                }
            });
        }
    </script>
</head>
<body>
    <div class="login-bg" id="reg_first">
        <div class="login-bg">
            <div class="login-screen">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="logo">
                            <a href="#"><img src="~/Themes/images/pinpoint-7.png" alt="pinpoint-7"></a>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <div class="left-back">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="login-heading">
                                        <h6><a href="@Url.Action("Login", "Login", new { area=""})">login</a></h6>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <div class="sign-heading">
                                        <h6><a class="active" href="@Url.Action("Registration", "Login", new { area=""})">registration</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="form-section">
                                <div class="form-box">
                                    <input placeholder="First Name" type="text" id="txt_firstname">
                                </div>
                                <div class="form-box">
                                    <input placeholder="Last Name" type="text" id="txt_lastname">
                                </div>
                                <div class="form-box email-icon">
                                    <input placeholder="Email" type="text" id="txt_email" onblur="CheckUEmail();">
                                </div>
                                <div class="form-box">
                                    <input placeholder="Password" type="Password" id="txt_password">
                                </div>
                                <div class="form-box">
                                    <input placeholder="Mobile" type="number" id="txt_mobile">
                                </div>
                                <div class="login-btn">
                                    <input value="Next Step" type="submit" onclick="Step1();">
                                </div>
                            </div>
                            <div class="bottom-password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-bg" id="reg_second">
        <div class="login-screen">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="error-alert" id="email_alert">we have sent OTP to your registered email.</div>
                    <div class="logo">
                        <a href="#"><img src="~/Themes/images/pinpoint-7.png" alt="pinpoint-7"></a>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">
                    <div class="left-back">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="login-heading">
                                    <h6><a href="#">login</a></h6>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="sign-heading">
                                    <h6><a class="active" href="#">registration</a></h6>
                                </div>
                            </div>
                        </div>
                        <div class="form-section">
                            <div class="form-box">
                                <input placeholder="OTP" type="text" onblur="CheckOTP();" id="txt_otp" maxlength="4" size="4">
                                <img id="otp_wait" alt="ckeck-icon" src="../Themes/images/blanck.png">
                                <a id="otp_resend" class="fa fa-refresh" href="#" onclick="OPTSend();"></a>
                            </div>
                            <div class="form-box address-icon">
                                <input placeholder="Address" type="text" id="txt_address">
                            </div>
                            <div class="form-box country-icon">
                                <input placeholder="Country" type="text" id="txt_country">
                            </div>
                            <div class="form-box country-icon">
                                <input placeholder="State" type="text" id="txt_state">
                            </div>
                            <div class="form-box country-icon">
                                <input placeholder="City" type="text" id="txt_city">
                            </div>
                            <div class="login-btn">
                                <input value="registration" type="submit" onclick="Registration();">
                            </div>
                        </div>
                        <div class="bottom-password">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

