﻿.hideDiv {
    display: none;
}

.showDiv {
    display: block;
}

.k-widget k-dropdown k-header {
    border-bottom: 1px solid gray;
    background-color: white !important;
}

.k-icon, .k-tool-icon {
    display: none;
}

.k-dropdown-wrap.k-state-default {
    background: transparent;
    border: 0px;
    border: 1px solid #C0C0C0;
    border-radius: 0px;
    margin-bottom: 15px;
    box-shadow: none !important;
    width: 100%;
}

    .k-dropdown-wrap.k-state-default:hover,
    .k-dropdown-wrap.k-state-default:focus {
        box-shadow: none !important;
    }

.k-widget.k-dropdown.k-header {
    background: transparent;
    width: 100%;
}

.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
    color: #C0C0C0 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300 !important;
}

.from-box input {
    color: #C0C0C0 !important;
}

.k-widget.k-datepicker.k-header {
    width: 100%;
    background: transparent;
}

.k-picker-wrap.k-state-default {
    width: 100%;
    padding: 0px;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #C0C0C0;
    border-radius: 0px;
    box-shadow: none;
    font-size: 15px;
}

.k-dropdown-wrap {
    width: 148%;
    border-bottom: 1px solid gray;
    background: white;
}

.from-box-width.conform-width {
    margin: 0px auto;
    float: none;
    display: table;
}
/*checkbox css*/
.dynamic_heading {
    width: 100%;
    float: left;
    position: relative;
}

.all-checkbox {
    position: absolute;
    top: 0px;
    right: 0px;
}

.checkbox-child {
    border: 1px solid #c0c0c0;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

    .checkbox-child .chk-single span {
        margin-left: 5px;
    }

.dynamic_heading h4 {
    font-size: 16px;
    color: #000 !important;
    text-transform: capitalize;
    background: #d3d3d3;
    width: 100px;
    text-align: center;
    height: 32px;
    line-height: 32px;
    margin: 0px;
    width: 20%;
}

.checkbox-child .chk-single {
    float: left;
    width: 20%;
    padding: 5px;
    border-right: 1px solid #c0c0c0;
    text-align: center;
}

.no-data-found {
    text-align: center;
    border: 1px solid gray;
}

.last-box.number {
    width: 100%;
    float: left;
    margin-top: 0px;
    top: -41px;
    left: 177px;
}

.k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
    width: 100%;
    background: transparent;
    border: 0px;
    border-bottom: 0;
}

    .k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default:focus {
        border: 0px;
        border-bottom: 0;
    }

.grid-height {
    height: 300px;
    overflow: auto;
}

.blanck-grid {
    height: 200px;
    overflow: auto;
}

.blanck-grid1 {
    height: 400px;
    overflow: auto;
}

.blanck-grid-1 {
    height: 200px;
    overflow: auto;
}

.desableindex-form .k-widget.k-autocomplete.k-header.k-autocomplete-clearable.k-state-default {
    width: 48.50%;
    box-shadow: none;
}

/*toggel button*/

.switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 22px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blue;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color:blue;
}

input:focus + .slider {
    box-shadow: 0 0 1px blue;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.book-form-full {
    width: 100%;
    display: table;
}

.toggal-text-1 {
    text-align: left;
}

.toggal-text-2 {
    text-align: center;
}

.toggal-text-3 {
    text-align: right;
}

.formate {
    padding: 3%;
}

.popup-bg {
    float: none;
}

#txt_pickupaddresss table tr td {
    padding: 3px;
    border: 1px solid gray;
}

#txt_dropoffaddresss table tr td {
    padding: 3px;
    border: 1px solid gray;
}

#txt_pickupaddresss table {
    width: 100%;
    margin-bottom: 4px;
}

#txt_dropoffaddresss table {
    width: 100%;
    margin-bottom: 4px;
}


#txt_assign_activity_pickup table tr td {
    padding: 3px;
    border: 1px solid gray;
}

#txt_assign_activity_drop table tr td {
    padding: 3px;
    border: 1px solid gray;
}

#txt_assign_activity_pickup table {
    width: 100%;
    margin-bottom: 4px;
}

#txt_assign_activity_drop table {
    width: 100%;
    margin-bottom: 4px;
}

.popup-main-bg {
    float: none;
}

#pending_job_summary .modal-content {
    width: 100%;
    float: left;
    top: -132px;
}

#pending_job_summary .modal-dialog {
    width: 80%;
}

#assign_job_summary .modal-content {
    width: 100%;
    float: left;
    top: -132px;
}

#assign_job_summary .modal-dialog {
    width: 80%;
}

#txt_drivers .k-grid-content.k-auto-scrollable table tr td {
    border: 1px solid gray;
    text-align: center;
    padding: 2px;
}

/*table css*/
/*body {padding: 0px; margin: 0px; font-family: 'Roboto', sans-serif;}*/
.table-section11 {
    padding: 0px;
    margin: 0px;
}

.table-box11 {
    width: 100%;
    float:left;
    overflow: auto !important;
    white-space: nowrap;
}

    .table-box11 table {
        border: 1px solid #7f7f7f;
        margin: 0px;
        border-spacing: 0px;
        border-collapse: collapse;
    }

        .table-box11 table tr td {
            color: #5b9bd5;
            font-size: 16px;
            text-transform: uppercase;
            padding: 6px;
            text-align: center;
            border: 1px solid #7f7f7f;
            font-weight: 500;
        }

            .table-box11 table tr td:nth-child(1) {
                text-align: right;
            }

#tariff_tbl table {
    width: 100%;
    border: 1px solid gray;
    overflow: auto;
}

    #tariff_tbl table tr th {
        border: 1px solid gray;
        font-size: 15px;
        color: white;
        overflow: auto;
        padding: 8px 10px;
        text-transform: uppercase;
    }

    #tariff_tbl table tr td {
        border: 1px solid gray;
        font-size: 15px;
        color: white;
        overflow: auto;
        padding: 8px 10px;
    }

    #tariff_tbl table tr th:first-child {
        width: 20%;
    }

    #tariff_tbl table tr td:first-child {
        width: 20%;
    }

.dynamic_table1 {
    text-align: center;
    color: black;
    width: 150px;
    display:inline-block;
    border: 1px solid black;
    padding: 3px;
}
.dynamic_table2 {
    text-align: center;
    color: black;
    border: 0;
}
.k-icon.k-i-arrow-end-right {
    position:relative;
}
.k-link.k-pager-nav.k-pager-last {
    position:relative;
}
.k-link.k-pager-nav.k-pager-last:after {
	position: absolute;
	content: "\f101";
	font-family: fontawesome;
	top: 0px;
	left: 0px;
	font-size: 14px;
	color: #0277bd;
	line-height: 30px;
	line-height: 27px;
	right: 0px;
}

.k-link.k-pager-nav.k-pager-first:after {
    position: absolute;
    content: "\f100";
    font-family: fontawesome;
    top: 0px;
    left: 0px;
    font-size: 14px;
    color: #0277bd;
    line-height: 30px;
    line-height: 27px;
    right: 0px;
}
#Payment_grid .k-link.k-pager-nav.k-pager-first.k-state-disabled:after {
    position: absolute;
    content: "\f100";
    font-family: fontawesome;
    top: 0px;
    left: 0px;
    font-size: 14px;
    color: #0277bd;
    line-height: 30px;
    line-height: 27px;
    right: 0px;
}
#Payment_grid .k-pager-numbers.k-reset {
    margin: 0px;
    background: #0277bd !important;
   color: white !important;
}
/*#Payment_grid .k-pager-wrap .k-link {
    float: left;
    margin: 0 .08333em;
    height: 2em;
    line-height: 2em;
    cursor: pointer;
    text-align: center;
}*/
#Payment_grid .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap a {
    display: inline-block;
    font-size: 14px;
    color: #0277bd;
    padding: 0 5px;
    border: 1px solid #0277bd;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(2, 119, 189);
    height: 30px;
    width: 30px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    border-left: 0px;
    margin: 0px;
}
#Payment_grid .k-grid-pager {
    border-width: 1px 0 0;
}
#Payment_grid .k-link.k-pager-nav.k-pager-first {
    border-left: 1px solid #0277bd !important;
    position: relative;
}
#Payment_grid .k-pager-sizes, .k-pager-wrap .k-link {
    padding: 0;
    min-width: 2.429em;
}
#Payment_grid .k-pager-numbers.k-reset li span.k-state-selected {
    background: #0277bd !important;
    color: #fff !important;
}
#Payment_grid .k-link {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}
#Payment_grid .k-pager-nav {
    display: inline-block;
            vertical-align: top;
            display: block;
        height: 100%;
        padding: .5em 0;
}
#Payment_grid .k-link .k-pager-nav .k-pager-first {
   
    border-left: 1px solid #0277bd !important;
    position: relative;
}
.k-pager-info, .k-scheduler-agendaview .k-scheduler-datecolumn, .k-scheduler-header {
    color: transparent !important;
    text-align: center;
}