body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.images-section {
    width: 100%;
    float: left;
    padding-top: 60px;
    position: relative;
}

.main-border {
    width: 100%;
    float: left;
    border-top: 2px solid #6998c2;
    border-bottom: 0px;
    overflow: auto;
    height: 250px;
}

.box-border {
    width: 96.25%;
    float: left;
    border-bottom: 2px solid #6998c2;
    border-right: 2px solid #6998c2;
}

    .box-border.border-none {
        border: 0px;
    }

.green-border {
    width: 10px;
    float: left;
    background: #70ad46;
    height: 42px;
    border-right: 2px solid #6998c2;
    margin-right: 6px;
}

    .green-border.red-border {
        background: #c00001;
    }

.second-box {
    width: 157px;
    float: left;
    background: #fff;
    height: 42px;
    padding-right: 4px;
}

    .second-box ul {
        padding: 0px;
        margin: 0px;
    }

        .second-box ul li {
            display: block;
            background: #fff;
            color: #a2adb2;
            font-size: 12px;
            font-weight: 500;
            line-height: 13px;
            text-transform: capitalize;
        }

            .second-box ul li span {
                margin-left: 6%;
            }

                .second-box ul li span.first-no {
                    color: #05b04e;
                }

                .second-box ul li span.first-no2 {
                    color: #fa0105;
                }

                .second-box ul li span.first-no3 {
                    color: #fff;
                }

.last-box {
    width: auto; /*float: left;*/
    position: relative;
}

    .last-box .first-box {
        width: 3% !important;
        float: left;
        background: #cee1f2;
        height: 42px;
    }

    .last-box .second-box2 {
        width: 3%;
        float: left;
        height: 42px;
        background: #ddebf8;
        border-left: 2px solid #c8d9eb;
        border-right: 2px solid #c8d9eb;
    }

    .last-box .third-box {
        width: 3%;
        float: left;
        height: 42px;
        background: #cee1f2;
    }

.icon-section {
    width: 88px;
    float: left;
}

.icon-box {
    width: 3.75%;
    float: left;
    height: 44px;
    border-bottom: 2px solid #6998c2;
    border-right: 2px solid #6998c2;
}

    .icon-box img {
        background: #0288D1;
        /*width: 50%;*/
        height: 41px;
        border: 1px solid #fff;
        padding: 9px 3px;
    }

.border-line {
    position: absolute;
    top: 24px;
    width: 50px;
    left: 0px;
}

    .border-line .border-radius {
        width: 14px;
        height: 14px;
        background: #00b153;
        border-radius: 50%;
        float: left;
    }

        .border-line .border-radius.red-clr {
            background: #fd0001;
        }

        .border-line .border-radius.border-radius5 {
            background: #a3a8a2;
        }

    .border-line .border-line-green {
        width: 70%;
        height: 3px;
        background: #00b153;
        margin-top: 6px;
    }

    .border-line.border-line-2 {
        width: 73px;
        left: 190px;
    }

    .border-line.border-line-3 {
        width: 101px;
        left: 261px;
    }

    .border-line.border-line-4 {
        left: 361px;
    }

    .border-line.border-line-5 {
        width: 74px;
        left: 409px;
    }

    .border-line .border-line-green.red-line {
        background: #fd0001;
    }

    .border-line .border-line-green.line-5 {
        background: #a3a8a2;
    }

    .border-line.border-line-6 {
        width: 52px;
        left: 409px;
    }

    .border-line .border-radius.border-radius6 {
        background: #fff;
        height: 11px;
        width: 11px;
        border: 2px solid #a3a8a2;
    }

    .border-line.border-line-7 {
        width: 14px;
        left: 481px;
    }

    /*//borderline add*/
    .border-line.border-line-00 {
        width: 73px;
        left: 5px;
    }

    .border-line.border-line-01 {
        width: 73px;
        left: 15px;
    }

    .border-line.border-line-02 {
        width: 73px;
        left: 60px;
    }

    .border-line.border-line-03 {
        width: 73px;
        left: 85px;
    }

    .border-line.border-line-04 {
        width: 73px;
        left: 106px;
    }

    .border-line.border-line-05 {
        width: 73px;
        left: 130px;
    }

    .border-line.border-line-06 {
        width: 73px;
        left: 154px;
    }

    .border-line.border-line-07 {
        width: 73px;
        left: 180px;
    }

    .border-line.border-line-08 {
        width: 73px;
        left: 203px;
    }

    .border-line.border-line-09 {
        width: 73px;
        left: 226px;
    }

    .border-line.border-line-10 {
        width: 73px;
        left: 250px;
    }

    .border-line.border-line-11 {
        width: 73px;
        left: 275px;
    }

    .border-line.border-line-12 {
        width: 73px;
        left: 298px;
    }

    .border-line.border-line-13 {
        width: 73px;
        left: 320px;
    }

    .border-line.border-line-14 {
        width: 73px;
        left: 345px;
    }

    .border-line.border-line-15 {
        width: 73px;
        left: 370px;
    }

    .border-line.border-line-16 {
        width: 73px;
        left: 392px;
    }

    .border-line.border-line-17 {
        width: 73px;
        left: 416px;
    }

    .border-line.border-line-18 {
        width: 73px;
        left: 442px;
    }

    .border-line.border-line-19 {
        width: 73px;
        left: 464px;
    }

    .border-line.border-line-20 {
        width: 73px;
        left: 490px;
    }

    .border-line.border-line-21 {
        width: 73px;
        left: 513px;
    }

    .border-line.border-line-22 {
        width: 73px;
        left: 537px;
    }

    .border-line.border-line-23 {
        width: 73px;
        left: 563px;
    }

    .border-line.border-line-24 {
        width: 73px;
        left: 584px;
    }
