@font-face {
    font-family: 'MrRobot';
    src: url('../Themes/fonts/MrRobot.woff2'),
        url('../Themes/fonts/MrRobot.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.woff2'),
        url('../fonts/MyriadPro-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Semibold.woff2'),
        url('../fonts/MyriadPro-Semibold.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2'),
        url('../fonts/MyriadPro-Regular.woff');
    font-weight: normal;
    font-style: normal;
}