@media screen and (min-width: 1801px) and (max-width: 2000px) {
.login-screen {width: 880px; height: 780px;}  
.left-back  {height: 780px;}
.logo img {width: 241px;}
.logo {padding-top: 220px;}
.login-heading h6 {font-size: 24px;}
.sign-heading h6 {font-size: 24px;}
.login-heading {margin-top: 40px;}
.sign-heading {margin-top: 40px;}
.form-section.login-marging {margin-top: 155px;}
.form-box {margin-bottom: 45px;}
.form-box input {font-size: 20px; padding-left: 32px; padding-bottom: 4px;}
.form-box:before {bottom: 5px; font-size: 22px;}
.form-box.email-icon:before {bottom: 5px; font-size: 22px;}
.form-box.lock-icon:before {bottom: 5px; font-size: 22px;} 
.login-btn input {padding: 18px 0; font-size: 22px;}
.login-btn:before {height: 67px; width: 110px;}
.login-btn:after {top: 17px; right: 34px; font-size: 22px;}
.login-btn {margin-top: 15px;}
.bottom-password {margin-top: 75px;}
.bottom-password a{font-size: 20px;}
.form-section.forgot-mr {margin-top: 170px;}
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
.login-screen {width: 780px; height: 680px;}  
.left-back  {height: 680px;}
.logo img {width: 241px;}
.logo {padding-top: 220px;}
.login-heading h6 {font-size: 24px;}
.sign-heading h6 {font-size: 24px;}
.login-heading {margin-top: 40px;}
.sign-heading {margin-top: 40px;}
.form-section.login-marging {margin-top: 155px;}
.form-box {margin-bottom: 45px;}
.form-box input {font-size: 20px; padding-left: 32px; padding-bottom: 4px;}
.form-box:before {bottom: 5px; font-size: 22px;}
.form-box.lock-icon:before {bottom: 5px; font-size: 22px;} 
.form-box.email-icon:before {bottom: 5px; font-size: 22px;}
.login-btn input {padding: 18px 0; font-size: 22px;}
.login-btn:before {height: 67px; width: 110px;}
.login-btn:after {top: 17px; right: 34px; font-size: 22px;}
.login-btn {margin-top: 15px;}
.bottom-password {margin-top: 75px;}
.bottom-password a{font-size: 20px;}
.form-section {margin-top: 45px;}
.form-section.forgot-mr {margin-top: 170px;}
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
.login-screen {width: 700px; height: 600px;}  
.left-back  {height: 600px;}
.logo img {width: 220px;}
.logo {padding-top: 170px;}
.login-heading h6 {font-size: 22px;}
.sign-heading h6 {font-size: 22px;}
.login-heading {margin-top: 35px;}
.sign-heading {margin-top: 35px;}
.form-section.login-marging {margin-top: 115px;}
.form-box {margin-bottom: 40px;}
.form-box input {font-size: 18px; padding-left: 32px; padding-bottom: 4px;}
.form-box:before {bottom: 5px; font-size: 22px;}
.form-box.lock-icon:before {bottom: 4px; font-size: 22px;} 
.form-box.email-icon:before {bottom: 4px; font-size: 22px;} 
.login-btn input {padding: 18px 0; font-size: 20px;}
.login-btn:before {height: 65px; width: 110px;}
.login-btn:after {top: 16px; right: 34px; font-size: 22px;}
.login-btn {margin-top: 15px;}
.bottom-password {margin-top: 65px;}
.bottom-password a{font-size: 20px;}

}


@media screen and (min-width: 1100px) and (max-width: 1200px) {

}
@media screen and (min-width: 1024px) and (max-width: 1099px) {
	
}
@media screen and (min-width: 992px) and (max-width: 1023px) {
.table-box table tr td {font-size: 14px;}	

}
@media screen and (min-width: 768px) and (max-width: 991px) {
.login-screen {height: 480px;}
.left-back {height: 480px;}
.login-heading {margin-top: 30px;}
.sign-heading {margin-top: 30px;}
.form-section {margin-top: 40px;}
.form-box {margin-bottom: 25px;}

#sidebar {width: 20%;}
.dashboard-rgt {width: 80%;}
#content {padding: 15px; width: 80%;}
.table-box table tr td {padding: 8px; font-size: 13px;}
.status-btn ul li {height: 9px; width: 9px;}
.dashboard-icon ul li a {width: 160px; height: 160px;}
.dashboard-icon ul li a i {padding-top: 43px;}
.dashboard-icon ul li a p {padding-top: 50px;}
}
@media screen and (min-width: 481px) and (max-width: 767px) {
.login-screen {width: 440px; height: 420px;}
.logo img {width: 130px;}
.left-back {background-size: cover; padding-right: 15px; height: 420px;}
.login-heading {margin-top: 30px;}
.sign-heading {margin-top: 30px;}
.form-section {margin-top: 30px;}
.form-box {margin-bottom: 28px;}
.bottom-password {margin-top: 50px;}
.login-btn input {font-size: 14px; letter-spacing: 1px;}
.login-btn::before {height: 44px; width: 70px;}
.login-btn::after {top: 0; right: 25px; line-height: 44px;}
.logo {padding-top: 122px;}	
.logo.logo-padding {padding-top: 174px;}
.sign-heading h6 {font-size: 16px;}
.login-heading h6 {font-size:16px;}
.error-alert {width: 100%;}
.form-section.login-marging {margin-top: 60px;}
.form-box.forgot-mr {margin-top: 55px;}
.form-section.forgot-mr {margin-top: 120px;}

#sidebar {width: 190px;}
#content {width: 100%; padding: 15px;}
.navbar.navbar-default {display: block;}
#content.active-2 {margin-right: -250px;}
.table-box table tr td {padding: 5px; font-size: 13px; width: 13%;}
.status-btn ul li {height: 8px; width: 8px;}
.table-box table tr td:last-child {width: 19%;}
.dashboard-icon ul li {margin: 0 15px;}
.dashboard-icon ul li a {width: 150px; height: 150px;}
.dashboard-icon ul li a i {font-size: 38px; padding-top: 40px;}
.dashboard-icon ul li a i:hover {font-size: 40px;}
.dashboard-icon ul li a p {padding-top: 50px;}
.navbar.navbar-default {min-height: auto; border: 0px; background-color:transparent !important;}
.navbar-btn {margin: 0px; border: 0px; box-shadow: none !important; background-color: #0277BD !important;}
.navbar-btn:hover{background: #0277BD !important;}
.navbar-btn:focus{background: #0277BD !important;}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
.login-screen {width: 290px; height: 360px;}
.logo img {width: 100%;}
.left-back {background-size: cover; padding-right: 15px; height: 360px;}
.login-heading {margin-top: 25px;}
.sign-heading {margin-top: 25px;}
.form-section {margin-top: 30px;}
.form-box {margin-bottom: 22px;}
.bottom-password {margin-top: 35px;}
.login-btn input {font-size: 12px; letter-spacing: 1px; padding: 10px 0;}
.login-btn::before {height: 37px; width: 40px;}
.login-btn::after {top: 0; right: 13px; line-height: 37px; font-size: 12px; color: #5c9bd5;}
.logo {padding: 112px 0 0 15px;}		
.login-heading h6 {font-size: 10px;}
.sign-heading h6 {font-size: 10px;}
.form-box input {width: 100%; padding-left: 20px; font-size: 13px; border-bottom: 1px solid #5c9bd5; color: #5c9bd5;}
.form-box::before {bottom: 3px; font-size: 16px; color: #5c9bd5;}
.form-box.lock-icon::before {bottom: 3px; font-size: 16px; color: #5c9bd5;}
.bottom-password a {font-size: 13px; color: #5c9bd5;}
.login-heading h6 a {border-bottom: 2px solid #fff; color: #5c9bd5;}
.login-heading h6 a.active {border-bottom: 2px solid #5c9bd5; color: #5c9bd5;}
.sign-heading h6 a {border-bottom: 2px solid #785bd5;}
.sign-heading h6 a.active {border-bottom: 2px solid #fff;}
.error-alert {width: 100%; padding-left:2px; font-size:10px;}
.form-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#5c9bd5; opacity: 1;
}
.form-box input::-moz-placeholder { /* Firefox 19+ */
  color:#5c9bd5; opacity: 1;
}
.form-box input:-ms-input-placeholder { /* IE 10+ */
  color:#5c9bd5; opacity: 1;
}
.form-box input:-moz-placeholder { /* Firefox 18- */
  color:#5c9bd5; opacity: 1;
}

.form-box.country-icon::before {
	color: #5c9bd5;
}

.form-box.email-icon::before {
	bottom: 3px;
	font-size: 16px;
	color: #5c9bd5;
}
.form-box.address-icon::before {
	color: #5c9bd5;
}
.form-box img {
	width: 13px;
	position: absolute;
	top: 6px;
	right: 25px;
}
.form-section.login-marging {margin-top: 45px;}
.form-box.forgot-mr {margin-top: 45px;}
.form-section.forgot-mr {margin-top: 110px;}
.login-btn {margin-top: 0;}

#sidebar {width: 190px;}
#content {width: 100%; padding: 10px;}
.navbar.navbar-default {display: block;}
#content.active-2 {margin-right: -250px;}
.table-box table tr td {padding: 3px; font-size: 10px; width: 13%;}
.status-btn ul li {height: 8px; width: 8px;}
.table-box table tr td:last-child {width: 19%;}
.table-box table {margin-bottom: 15px;}
.table-box table.black-backhround {margin-bottom: 10px;}
.dashboard-icon ul li {margin: 0 7px;}
.dashboard-icon ul li a {width: 130px; height: 130px;}
.dashboard-icon ul li a i {font-size: 38px; padding-top: 30px;}
.dashboard-icon ul li a i:hover {font-size: 40px;}
.dashboard-icon ul li a p {padding-top: 35px;}
.table-box {margin-top: 25px;}
.navbar.navbar-default {min-height: auto; border: 0px; background-color:transparent !important;}
.navbar-btn {margin: 0px; border: 0px; box-shadow: none !important; background-color: #0277BD !important;}
.navbar-btn:hover{background: #0277BD !important;}
.navbar-btn:focus{background: #0277BD !important;}
}

