﻿body {
    padding: 0px;
    margin: 0px;
    background: #fff;
    font-family: 'Myriad Pro';
}

.login-bg {
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.login-screen {
    width: 600px;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 2px 14px 0px rgba(200, 200, 200, 0.5);
    height: 500px;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 143px;
}

    .logo a {
        outline: none;
    }

    .logo img {
        width: 160px;
    }

    .logo.logo-padding {
        padding-top: 196px;
    }

.left-back {
    width: 100%;
    float: left;
    background: url("../images/back-img.png") no-repeat top center;
    background-size: cover;
    padding-right: 20px;
    height: 500px;
}

.login-heading {
    width: 100%;
    float: left;
    margin-top: 35px;
}

    .login-heading h6 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin: 0px;
    }

.sign-heading {
    width: 100%;
    float: left;
    margin-top: 35px;
}

    .sign-heading h6 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        margin: 0px;
        text-align: center;
    }

.login-heading h6 a {
    text-decoration: none;
    outline: none;
    padding-bottom: 1px;
    border-bottom: 3px solid #fff;
    color: #785bd5;
}

    .login-heading h6 a.active {
        color: #785bd5;
        border-bottom: 3px solid #785bd5;
    }

.sign-heading h6 a {
    color: #fff;
    text-decoration: none;
    outline: none;
    padding-bottom: 1px;
    border-bottom: 3px solid #785bd5;
}

    .sign-heading h6 a.active {
        border-bottom: 3px solid #fff;
    }

.form-section {
    width: 100%;
    float: left;
    margin-top: 50px;
}

    .form-section.login-marging {
        margin-top: 115px;
    }

.form-box {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 30px;
}

    .form-box img {
        width: 20px;
        position: relative;
        top: 1px;
    }

    .form-box.forgot-mr {
        margin-top: 70px;
    }

    .form-box:before {
        position: absolute;
        left: 0px;
        bottom: 1px;
        content: "\f007";
        font-family: fontawesome;
        font-size: 18px;
        color: #785bd5;
    }

    .form-box.country-icon:before {
        position: absolute;
        left: 0px;
        bottom: 1px;
        content: "\f0ac";
        font-family: fontawesome;
        font-size: 18px;
        color: #785bd5;
    }

    .form-box.email-icon:before {
        position: absolute;
        left: 0px;
        bottom: 1px;
        content: "\f0e0";
        font-family: fontawesome;
        font-size: 18px;
        color: #785bd5;
    }

    .form-box.address-icon:before {
        position: absolute;
        left: 0px;
        bottom: 1px;
        content: "\f041";
        font-family: fontawesome;
        font-size: 18px;
        color: #785bd5;
    }

    .form-box.lock-icon:before {
        position: absolute;
        left: 0px;
        bottom: 2px;
        content: "\f023";
        font-family: fontawesome;
        font-size: 18px;
        color: #785bd5;
    }

    .form-box input {
        width: 60%;
        border: 0px;
        border-bottom: 1px solid #785bd5;
        font-size: 14px;
        color: #785bd5;
        font-weight: 600;
        background: transparent;
        padding-left: 25px;
        padding-bottom: 2px;
        outline: none;
    }

        .form-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #785bd5;
            opacity: 1;
        }

        .form-box input::-moz-placeholder { /* Firefox 19+ */
            color: #785bd5;
            opacity: 1;
        }

        .form-box input:-ms-input-placeholder { /* IE 10+ */
            color: #785bd5;
            opacity: 1;
        }

        .form-box input:-moz-placeholder { /* Firefox 18- */
            color: #785bd5;
            opacity: 1;
        }

.login-btn {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 10px;
}

    .login-btn:before {
        position: absolute;
        right: 0px;
        top: 0px;
        background: #fff;
        height: 50px;
        width: 85px;
        content: '';
        -webkit-clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(30% -1px, 100% -10px, 100% 100%, 0% 100%);
        border-radius: 0 40px 40px 0;
        cursor: pointer;
    }

    .login-btn:after {
        position: absolute;
        top: 9px;
        right: 25px;
        margin: 0px auto;
        content: "\f061";
        font-family: fontawesome;
        font-size: 20px;
        color: #785bd5;
        cursor: pointer;
    }

    .login-btn input {
        width: 100%;
        padding: 12px 0;
        background: #785bd5;
        font-size: 18px;
        color: #fff;
        border-radius: 40px;
        border: 0px;
        text-transform: capitalize;
        font-weight: 600;
        letter-spacing: 2px;
        outline: none;
    }

.bottom-password {
    width: 100%;
    float: left;
    margin-top: 70px;
    text-align: right;
}

    .bottom-password p {
        font-size: 14px;
        color: #5c9bd5;
        text-transform: capitalize;
        margin: 0px;
        padding: 1px 0;
        font-weight: 600;
    }

    .bottom-password a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        outline: none;
        font-weight: 600;
    }

.form-box.lock-icon {
    position: relative;
}

.error-alert {
    width: 340px;
    float: left;
    bottom: -33px;
    left: 0px;
    right: 0px;
    /*border: 1px solid #5c9bd5;*/
    padding-left: 5px;
    background: #fff;
    font-size: 13px;
    color: white;
    text-transform: capitalize;
    height: 24px;
    line-height: 24px;
    z-index: 123;
}

.form-section.forgot-mr {
    margin-top: 150px;
}

#otp_resend {
    color: #fff;
    position: relative;
    top: 2px;
    left: 5px;
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}


.dashboard-left {
    width: 100%;
    float: left;
    background: #0288D1;
    padding: 20px 20px 30px 20px;
}

.user-logo {
    width: 100%;
    float: left;
    text-align: center;
}

    .user-logo img {
        width: 110px;
        border-radius: 50% !important;
        height: 110px;
    }

.dashboard-right {
    width: 80%;
    float: left;
}

.user-text {
    width: 100%;
    float: left;
    padding: 10px 0 0 0;
    text-align: center;
    position: relative;
}

    .user-text p {
        font-size: 14px;
        color: #fff;
        margin: 0px;
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
    }

    .user-text span {
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        padding-bottom: 10px;
        display: block;
    }

    .user-text a {
        padding: 4px 10px;
        color: #fff;
        border: 1px solid #5c9bd5;
        display: inline-block;
        text-transform: capitalize;
        font-size: 12px;
        text-decoration: none;
        border-radius: 20px;
    }

#sidebar {
    background: #0288D1;
    transition: all 0.3s;
    width: 15%;
    float: left;
    -webkit-box-shadow: 1px 0 2px 1px rgb(216, 205, 216);
    -moz-box-shadow: 1px 0 2px 1px rgb(216, 205, 216);
    box-shadow: 1px 0 2px 1px rgb(216, 205, 216);
}

    #sidebar ul.components {
        padding: 0 0 20px 0;
        margin: 0px;
    }

    #sidebar ul li a {
        text-decoration: none;
        text-align: center;
        width: 100%;
        display: block;
        padding: 15px 0;
        color: #fff;
        font-size: 14px;
        border-left: 5px solid #0288D1;
        border-right: 5px solid #0288D1;
        text-transform: capitalize;
    }

        #sidebar ul li a:hover {
            background: #0277bd;
            border-left: 5px solid #5c9bd5;
            border-right: 5px solid #0277bd;
            color: #fff;
        }

        #sidebar ul li a.active {
            background: #0277BD;
            border-left: 5px solid #5c9bd5;
            border-right: 5px solid #0277bd;
            color: #fff;
        }

        #sidebar ul li a i {
            width: 100%;
            display: block;
            font-size: 30px;
            padding-bottom: 5px;
        }

.navbar.navbar-default {
    display: none;
}

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    width: 85%;
    float: left;
}

.dashboard-right {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.main-heading {
    width: 100%;
    float: left;
}

    .main-heading h2 {
        width: 220px;
        height: 34px;
        line-height: 36px;
        font-size: 18px;
        background: #785bd5;
        color: #fff;
        font-weight: 500;
        text-transform: capitalize;
        padding: 0 10px;
        margin: 0px;
    }

.dashboard-icon {
    width: 100%;
    float: left;
    text-align: center;
}

    .dashboard-icon ul {
        padding: 0px;
        margin: 0px;
    }

        .dashboard-icon ul li {
            display: inline-block;
            margin: 0 20px;
        }

            .dashboard-icon ul li a {
                padding: 45px 15px;
                text-align: center;
                color: #0277bd;
                display: inline-block;
                text-decoration: none;
                font-size: 16px;
                text-transform: capitalize;
                width: 170px;
                -webkit-box-shadow: 0px 0px 4px 2px rgb(230, 230, 230);
                -moz-box-shadow: 0px 0px 4px 2px rgb(230, 230, 230);
                box-shadow: 0px 0px 4px 2px rgb(230, 230, 230);
                height: 170px;
                position: relative;
            }

                .dashboard-icon ul li a:hover {
                    background: #fff;
                    color: #0277bd;
                }

                .dashboard-icon ul li a p {
                    margin: 0px;
                    color: #0277bd;
                    padding-top: 55px;
                }

                .dashboard-icon ul li a i {
                    display: block;
                    font-size: 40px;
                    transition: all 0.5s;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    padding-top: 48px;
                }

                    .dashboard-icon ul li a i:hover {
                        transform: scale(1.1);
                        transition: all 0.5s;
                        font-size: 45px;
                    }

.table-box {
    width: 100%;
    float: left;
    margin-top: 30px;
}

    .table-box h6 {
        font-size: 16px;
        color: #000;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
        padding: 9px 15px;
        margin: 0px auto 15px;
        width: 25%;
        border: 1px solid gray;
        border-radius: 0px;
        /*background: #0277BD;
        background: rgba(92,107,192,1);
        background: -moz-linear-gradient(top, rgba(92,107,192,1) 0%, rgba(66,165,245,1) 50%, rgba(92,107,192,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,107,192,1)), color-stop(50%, rgba(66,165,245,1)), color-stop(100%, rgba(92,107,192,1)));
        background: -webkit-linear-gradient(top, rgba(92,107,192,1) 0%, rgba(66,165,245,1) 50%, rgba(92,107,192,1) 100%);
        background: -o-linear-gradient(top, rgba(92,107,192,1) 0%, rgba(66,165,245,1) 50%, rgba(92,107,192,1) 100%);
        background: -ms-linear-gradient(top, rgba(92,107,192,1) 0%, rgba(66,165,245,1) 50%, rgba(92,107,192,1) 100%);
        background: linear-gradient(to bottom, rgba(92,107,192,1) 0%, rgba(66,165,245,1) 50%, rgba(92,107,192,1) 100%);*/
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6bc0', endColorstr='#5c6bc0', GradientType=0 );*/
        border-radius: 6px;
    }

    .table-box table {
        width: 100%;
        box-shadow: 0px 0px 7px 0px rgb(49, 155, 219);
        background: #0277bd;
        margin-bottom: 25px;
    }

        .table-box table.black-backhround {
            background: #fff !important;
            box-shadow: 0px 0px 4px 2px rgb(230, 230, 230);
            margin-bottom: 15px;
        }

            .table-box table.black-backhround tr td a {
                color: #000;
            }

        .table-box table tr td {
            width: 15%;
            text-align: center;
            padding: 10px;
            color: black;
            font-size: 16px;
            /*font-weight:300*/
            /*text-transform: capitalize;*/
        }

            .table-box table tr td:first-child {
                width: 8%;
            }

            .table-box table tr td:last-child {
                width: 17%;
            }

            .table-box table tr td a {
                color: #fff;
                text-decoration: none;
            }

.table-top-box {
    width: 100%;
    float: left;
    background: #f4f1ff;
    border: 1px solid #5c9bd5;
    border-bottom: 0px;
}

    .table-top-box span {
        padding: 6px 10px;
        display: inline-block;
        float: left;
        border-right: 1px solid #5c9bd5;
        margin-right: 10px;
    }

        .table-top-box span img {
            width: 24px;
        }

    .table-top-box h6 {
        font-size: 16px;
        color: #0d142c;
        margin: 0px;
        font-weight: 600;
        padding-top: 10px;
    }

.btn-file {
    position: relative;
    overflow: hidden;
    background: #0277BD !important;
    width: 94px;
    padding: 4px 10px !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    text-transform: capitalize;
    font-size: 12px !important;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Myriad Pro' !important;
    margin: 0px auto;
    box-shadow: none !important;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        left: 0px;
        bottom: 0px;
        opacity: 0;
        outline: none;
        cursor: inherit;
    }

.table-box table tr td .paggination-section {
    width: 100%;
    float: left;
    text-align: left;
}

.paggination-section ul {
    padding: 0px;
    margin: 15px 0 0 0;
}

    .paggination-section ul li {
        display: inline-block;
        margin-right: 5px;
    }

        .paggination-section ul li a {
            display: inline-block;
            font-size: 14px;
            color: #0277bd;
            border: 1px solid #0277bd;
            height: 35px;
            width: 35px;
            line-height: 35px;
            text-align: center;
            padding: 0px;
            border-radius: 50px;
            text-decoration: none;
        }

            .paggination-section ul li a.active {
                background: #0277bd;
                color: #fff;
            }

.status-btn {
    width: 100%;
    float: left;
}

    .status-btn ul {
        padding: 0px;
        margin: 0px;
    }

        .status-btn ul li {
            display: inline-block;
            height: 11px;
            width: 11px;
            border: 1px solid #000;
            border-radius: 20px;
        }

            .status-btn ul li:nth-child(1) {
                border: 1px solid #0288D1;
                background: #0288D1;
            }

            .status-btn ul li.second-btn {
                border: 1px solid #4CAF50;
                background: #4CAF50;
            }

            .status-btn ul li.third-btn {
                border: 1px solid #FF9800;
                background: #FF9800;
            }

            .status-btn ul li.fouth-btn {
                border: 1px solid #FF0000;
                background: #FF0000;
            }

            .status-btn ul li:nth-child(5) {
                border: 0px;
            }

            .status-btn ul li:last-child {
                border: 0px;
            }

.wrapper {
    display: flex;
    align-items: stretch;
    overflow: hidden;
}

.book-form {
    width: 700px;
    margin: 0px auto;
    display: table;
}

.from-box {
    width: 100%;
    float: left;
}

    .from-box input {
        width: 100%;
        border: 0px;
        font-size: 16px;
        background: #fff;
        color: #333;
        padding: 5px 10px;
        border: 1px solid #000;
    }

#from_txt_postcode {
    font-size: 12px !important;
}

.from-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #C0C0C0;
    opacity: 1;
    opacity: 1;
}

.from-box input::-moz-placeholder { /* Firefox 19+ */
    color: #C0C0C0;
    opacity: 1;
    opacity: 1;
}

.from-box input:-ms-input-placeholder { /* IE 10+ */
    color: #C0C0C0;
    opacity: 1;
    opacity: 1;
}

.from-box input:-moz-placeholder { /* Firefox 18- */
    color: #C0C0C0;
    opacity: 1;
    opacity: 1;
}

.book-form {
    width: 700px;
    margin: 15px auto 0;
    display: table;
}

.from-box {
    width: 100%;
    float: left;
    overflow: hidden;
}

    .from-box a.another-btn-2 {
        width: 100%;
        background: #0277BD;
        color: #fff;
        font-size: 14px;
        text-align: center;
        text-transform: capitalize;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        text-decoration: none;
        border-radius: 13px;
    }

        .from-box a.another-btn-2 i {
            margin-right: 8px;
        }

    .from-box input {
        width: 100% !important;
        border-radius: 0px !important;
        font-size: 14px;
        background: transparent !important;
        color: #C0C0C0 !important;
        padding: 7px 10px !important;
        border: 0;
        border: 1px solid #C0C0C0 !important;
        margin-bottom: 15px !important;
        font-family: 'Roboto', sans-serif !important;
        outline: none !important;
        line-height: 20px !important;
    }

        .from-box input:focus {
            border: 0px;
            border-bottom: 1px solid #0277BD;
            color: #0277BD;
        }

.page-from-bg {
    width: 85%;
    float: none;
    padding: 15px 0;
    background: #fff;
    margin: 0px auto;
    display: table;
    box-shadow: 0px 0px 4px 2px rgb(230, 230, 230);
}

.form-btn {
    width: 100%;
    float: left;
    margin-top: 20px;
    text-align: center;
    height: 40px;
}

    .form-btn ul {
        padding: 0px;
        margin: 0px;
    }

        .form-btn ul li {
            display: inline-block;
            margin: 0 2px;
        }

            .form-btn ul li a {
                display: inline-block;
                font-size: 14px;
                color: #fff;
                background: #0277BD;
                padding: 0 14px;
                text-transform: capitalize;
                height: 30px;
                line-height: 30px;
                font-family: 'Roboto', sans-serif;
                border: 0px;
                text-decoration: none;
                width: 70px;
            }

.arrow-steps {
    width: 100%;
    float: left;
    text-align: center;
    padding-left: 110px;
    margin-top: 40px;
    margin-bottom: 15px;
}

    .arrow-steps .step {
        font-size: 14px;
        text-align: center;
        color: #fff;
        cursor: default;
        margin: 0 2px;
        padding: 0 0 0 10px;
        min-width: 150px;
        float: left;
        position: relative;
        background-color: #9bdcff;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color 0.2s ease;
        font-family: 'Roboto', sans-serif;
        height: 36px;
    }

        .arrow-steps .step.current {
            color: #fff;
            background-color: #0277BD;
        }

        .arrow-steps .step::after, .arrow-steps .step::before {
            content: " ";
            position: absolute;
            top: 0;
            right: -17px;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 17px solid transparent;
            border-left: 17px solid #9bdcff;
            z-index: 2;
            transition: border-color 0.2s ease;
        }

        .arrow-steps .step::before {
            right: auto;
            left: 0;
            border-left: 17px solid #fff;
            z-index: 0;
        }

        .arrow-steps .step span {
            position: relative;
            line-height: 36px;
        }

            .arrow-steps .step span::before {
                opacity: 0;
                content: "✔";
                position: absolute;
                top: -2px;
                left: -20px;
            }

        .arrow-steps .step:first-child::before {
            border: none;
        }

        .arrow-steps .step.current::after {
            border-left: 17px solid #0277BD;
        }

.from-box span {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    float: left;
    line-height: 34px;
    /*font-weight:700*/
}

.container-check {
    display: block;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 140px;
    margin-left: 85px;
    height: 34px;
    border: 0;
    border-bottom: 1px solid #C0C0C0;
    border-radius: 0px;
}

    .container-check input {
        margin: 0px;
    }

    .container-check input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 34px;
    }

.checkmark {
    position: absolute;
    top: 7px;
    left: 10px;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 1px solid #0277BD;
}

.container-check:hover input ~ .checkmark {
    background-color: transparent;
    border: 1px solid #0277BD;
}

.container-check input:checked ~ .checkmark {
    background-color: transparent;
    border: 1px solid #0277BD;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-check input:checked ~ .checkmark:after {
    display: block;
}

.container-check .checkmark:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid #0277bd;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ---------------------------------------------------
    Track-a-job-page-star
----------------------------------------------------- */
.track-form {
    width: 460px;
    margin: 0px auto;
    display: table;
    position: relative;
    padding: 6px 0;
}

    .track-form span {
        font-size: 16px;
        color: #747474;
        text-transform: uppercase;
        position: absolute;
        top: 8px;
    }

    .track-form input {
        width: 100%;
        border: 0px;
        border-bottom: 1px solid #0277BD;
        color: #C0C0C0;
        font-size: 16px;
        margin: 0;
        padding: 0 2px;
        outline: none;
        height: 34px;
    }

        .track-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #C0C0C0;
            opacity: 1;
        }

        .track-form input::-moz-placeholder { /* Firefox 19+ */
            color: #C0C0C0;
            opacity: 1;
        }

        .track-form input:-ms-input-placeholder { /* IE 10+ */
            color: #C0C0C0;
            opacity: 1;
        }

        .track-form input:-moz-placeholder { /* Firefox 18- */
            color: #C0C0C0;
            opacity: 1;
        }

    .track-form .search {
        padding: 0;
        background: transparent;
        position: absolute;
        width: 40px;
        height: 34px;
        right: 0px;
        top: 0px;
        margin: 0px;
        border: 0px;
    }

    .track-form:after {
        position: absolute;
        content: "\f002";
        right: 2px;
        top: 10px;
        font-family: fontawesome;
        font-size: 18px;
        color: #0277BD;
        cursor: pointer;
        transition: all 0.5s;
    }

    .track-form:hover:after {
        transform: scale(1.5);
        transition: all 0.5s;
    }

.page-from-bg.track-page {
    width: 50%;
    margin-top: 35px;
}

.page-from-bg.track-page-map {
    width: 100%;
    margin-top: 10px;
    height: 380px;
}
/* ---------------------------------------------------
    profile-a-job-page-star
----------------------------------------------------- */
.change-password {
    width: 100%;
    float: left;
}

    .change-password a {
        font-size: 14px;
        color: #0277bd;
        text-transform: capitalize;
        text-decoration: none;
        outline: none;
        padding-left: 10px;
    }

.modal-dialog {
    width: 480px;
    margin: 200px auto 0;
}

.modal-content {
    border: 0;
    border-radius: 0;
}

.modal-header {
    padding: 16px 15px 0px 15px;
    border-bottom: 0;
}

    .modal-header h2 {
        font-size: 20px;
        text-transform: capitalize;
        color: #0277bd;
        text-align: center;
        border: 1px solid #C0C0C0;
        margin: 17px 0 20px 0;
        padding: 11px 0 8px 0;
        line-height: 22px;
    }

    .modal-header .close {
        margin-top: 0;
        position: absolute;
        right: 2px;
        top: 10px;
        font-size: 24px;
        color: #0277BD;
        z-index: 9999;
        opacity: 1;
        text-shadow: none;
        height: 28px;
        width: 28px;
        border-radius: 50px;
        transition: all 0.5s;
        outline: none;
    }

        .modal-header .close:hover {
            transition: all 0.5s;
            transform: scale(1.5);
        }

.modal-body {
    padding: 10px 15px 0px 15px;
}

    .modal-body input {
        width: 100%;
        border-radius: 0px;
        font-size: 14px;
        background: transparent;
        color: #C0C0C0;
        padding: 7px 0;
        border: 0;
        border: 1px solid #C0C0C0;
        font-family: 'Roboto', sans-serif;
        outline: none;
        margin: 5px 0;
    }

        .modal-body input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #C0C0C0;
            opacity: 1;
        }

        .modal-body input::-moz-placeholder { /* Firefox 19+ */
            color: #C0C0C0;
            opacity: 1;
        }

        .modal-body input:-ms-input-placeholder { /* IE 10+ */
            color: #C0C0C0;
            opacity: 1;
        }

        .modal-body input:-moz-placeholder { /* Firefox 18- */
            color: #C0C0C0;
            opacity: 1;
        }

.modal-footer {
    text-align: center;
    padding: 5px 15px 15px 15px;
    border: 0px;
    margin-top: 5px;
}

    .modal-footer input {
        width: 140px;
    }

    .modal-footer input {
        display: inline-block;
        font-size: 14px;
        color: #fff;
        background: #0277BD;
        padding: 0 12px;
        text-transform: capitalize;
        font-family: 'Roboto', sans-serif;
        border: 0px;
        text-decoration: none;
        height: 32px;
        line-height: 32px;
        margin: 0 2px;
    }
/* ---------------------------------------------------
    operator-dashboard-a-job-page-star
----------------------------------------------------- */
.dashboard-logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 12px;
    background: #fff;
}

    .dashboard-logo img {
        width: 110px;
    }

.left-sidebar {
    background: #0288D1 !important;
}

.logout-top {
    width: 100%;
    float: left;
    text-align: right;
    padding: 37px 20px 36px 20px;
    border-bottom: 1px solid #C0C0C0;
}

    .logout-top a {
        font-size: 16px;
        text-transform: capitalize;
        text-decoration: none;
        color: #0277BD;
    }

        .logout-top a i {
            margin-left: 5px;
            vertical-align: middle;
            font-size: 22px;
        }

.track-form.job-width {
    width: 100%;
}

    .track-form.job-width input:focus {
        border: 0px;
        border-bottom: 1px solid #0277BD;
        color: #0277BD;
        background: transparent;
    }

.dashboard-right-table {
    width: 100%;
    float: left;
}

.table-box-antree {
    width: 100%;
    float: left;
    margin-top: 14px;
}

    .table-box-antree table {
        width: 100%;
    }

        .table-box-antree table tr td {
            text-align: center;
            padding: 8px;
            font-size: 16px;
            text-transform: uppercase;
            color: #000;
            background: yellow;
            border: 1px solid #C0C0C0;
            font-weight: 600;
        }

            .table-box-antree table tr td:first-child {
                text-align: left;
                width: 65%;
            }

            .table-box-antree table tr td.btm-box {
                background: forestgreen;
                color: #fff;
            }

.job-queue {
    width: 100%;
    float: left;
}

    .job-queue .cln-src {
        width: 120px;
        float: right;
        text-align: right;
        margin-top: 20px;
        position: relative;
    }

    .job-queue .clock-div {
        width: 58%;
        float: right;
        text-align: right;
        margin-top: 20px;
        position: relative;
        border: 1px solid gray;
    }

    .job-queue .cln-src:after {
        position: absolute;
        top: -3px;
        right: 0px;
        content: "\f274";
        font-family: fontawesome;
        font-size: 18px;
        color: #0277BD;
        cursor: pointer;
        transition: all 0.5s;
    }

    .job-queue .cln-src:hover:after {
        transform: scale(1.5);
        transition: all 0.5s;
    }

    .job-queue .cln-src input {
        border: 0px;
        background: transparent;
        font-size: 16px;
        color: #C0C0C0;
        width: 120px;
        padding-right: 25px;
    }

        .job-queue .cln-src input:focus {
            border: 0px;
            background: transparent;
        }

        .job-queue .cln-src input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #C0C0C0;
            opacity: 1;
        }

        .job-queue .cln-src input::-moz-placeholder { /* Firefox 19+ */
            color: #C0C0C0;
            opacity: 1;
        }

        .job-queue .cln-src input:-ms-input-placeholder { /* IE 10+ */
            color: #C0C0C0;
            opacity: 1;
        }

        .job-queue .cln-src input:-moz-placeholder { /* Firefox 18- */
            color: #C0C0C0;
            opacity: 1;
        }

    .job-queue .job-queue-box {
        width: 100%;
        float: left;
        margin-top: 5px;
    }

        .job-queue .job-queue-box .job-queue-hd {
            width: 100%;
            float: left;
            height: 26px;
            background: #929292;
        }

            .job-queue .job-queue-box .job-queue-hd h2 {
                font-size: 15px;
                color: #fff;
                text-transform: capitalize;
                line-height: 26px;
                margin: 0px;
                text-align: center;
            }

        .job-queue .job-queue-box .job-queue-btm {
            width: 100%;
            float: left;
            height: 200px;
            border: 1px solid #C0C0C0;
        }

.pd-rgt {
    padding: 0px !important;
}

.dashboard-right.pd {
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

.dishboard-search {
    width: 100%;
    float: left;
    padding: 6px 20px;
    background: #fbfbfb;
}

.date-time {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 11px;
}

    .date-time span {
        font-size: 16px;
        color: #C0C0C0;
        margin: 0 55px;
        text-align: center;
    }
/* ---------------------------------------------------
    Error-page-star
----------------------------------------------------- */
.error-box {
    width: 100%;
    float: left;
    margin-top: 35px;
}

    .error-box .error-text {
        width: 100%;
        float: left;
        text-align: center;
    }

        .error-box .error-text img {
            width: 35px;
        }

        .error-box .error-text h2 {
            font-size: 40px;
            color: #FE0000;
            font-weight: 600;
            margin: 0px;
            padding-top: 15px;
        }

        .error-box .error-text h6 {
            margin: 0px;
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
            color: #000;
            padding-top: 7px;
        }

        .error-box .error-text p {
            font-size: 14px;
            color: #0277BD;
            margin: 0px;
            padding-top: 16px;
            line-height: 22px;
        }

    .error-box .error-img {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 25px;
    }

        .error-box .error-img img {
            width: 200px;
        }

.pd-rgt.error-ach {
    position: relative;
}

.error-copy-right {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}

    .error-copy-right p {
        font-size: 16px;
        color: #0277BD;
        margin: 0px;
    }

        .error-copy-right p a {
            color: #0277BD;
            text-decoration: none;
        }


.list_btn_page {
    width: 100%;
    float: left;
    text-align: left;
    margin-top: 5px;
}

    .list_btn_page ul {
        padding: 0px;
        margin: 0px;
    }

        .list_btn_page ul li {
            display: inline-block;
            margin-left: 5px;
        }

            .list_btn_page ul li a {
                display: inline-block;
                font-size: 16px;
                color: #fff;
                text-transform: capitalize;
                padding: 0 8px;
                text-decoration: none;
                height: 36px;
                line-height: 36px;
                border-radius: 20px;
                width: 172px;
                text-align: center;
                outline: none;
            }

                .list_btn_page ul li a img {
                    width: 28px;
                    position: relative;
                    top: -1px;
                    margin-right: 3px;
                }

            .list_btn_page ul li:nth-child(1) a {
                background: #8db800;
            }

            .list_btn_page ul li:nth-child(2) a {
                background: #317cc2;
            }

            .list_btn_page ul li:nth-child(3) a {
                background: #ff8a65;
            }

            .list_btn_page ul li:nth-child(4) a {
                background: #e24518;
            }

.dashboard-right.pg-pd {
    padding: 20px;
    padding-top: 0px;
}

.branch-table {
    width: 100%;
    float: left;
    margin-top: 15px;
    background: #fff !important;
}

    .branch-table table {
        background: transparent;
        box-shadow: none;
        margin: 0px;
        border: 1px solid #C0C0C0;
        width: 100%;
    }

        .branch-table table tr td {
            width: auto;
            border: 1px solid #C0C0C0;
            padding: 3px;
            height: 40px;
            font-size: 14px;
        }

        .branch-table table tr.change-clr td a {
            color: #000 !important;
        }

        .branch-table table tr.change-clr td span {
            color: #000 !important;
        }

        .branch-table table tr td:first-child {
            width: auto;
        }

        .branch-table table tr td:last-child {
            width: auto;
        }

        .branch-table table tr td a {
            color: #0277BD !important;
        }

        .branch-table table tr td span {
            color: #0277BD !important;
        }

.container-check.checked-2 {
    margin-bottom: 0px;
    width: 38px;
    margin-left: 0;
    border-bottom: 0;
    margin: 0px auto;
}

    .container-check.checked-2.ckd-3 input:checked ~ .checkmark {
        border: 1px solid #000;
    }

    .container-check.checked-2.ckd-3:hover input ~ .checkmark {
        border: 1px solid #000;
    }

    .container-check.checked-2.ckd-3 .checkmark {
        border: 1px solid #000;
    }

        .container-check.checked-2.ckd-3 .checkmark::after {
            border: solid #000;
            border: solid #000;
            border-width: 0 3px 3px 0;
        }

.paggination-box {
    width: 100%;
    float: left;
    text-align: right;
    margin: 10px 0 0 0;
}

    .paggination-box ul {
        padding: 0px;
        margin: 0px;
    }

        .paggination-box ul li {
            display: inline-block;
            margin-left: 0px;
        }

            .paggination-box ul li a {
                display: inline-block;
                font-size: 14px;
                color: #0277bd;
                padding: 0 5px;
                border: 1px solid #0277bd;
                height: 30px;
                width: 30px;
                line-height: 16px;
                text-align: center;
                text-decoration: none;
                line-height: 30px;
                border-left: 0px;
            }

            .paggination-box ul li:first-child a {
                border-left: 1px solid #0277bd;
            }

            .paggination-box ul li a:hover {
                background: #0277bd;
                color: #fff;
            }

            .paggination-box ul li a.active {
                background: #0277bd;
                color: #fff;
            }

.upload-logo {
    position: absolute;
    right: 0px;
    bottom: -32px;
}

    .upload-logo img {
        width: 100px;
        height: 100px;
        border: 1px solid #c0c0c0;
    }

.from-box.upload-btn {
    position: relative;
    top: 47px;
}

#nav li ul li .link img {
    background: #0277BD;
    padding: 4px;
    width: 28px;
    margin-right: 5px;
    border-radius: 20px;
}
/* ---------------------------------------------------
    ckeckbox-css
----------------------------------------------------- */
.ckeckbox-box {
    width: 100%;
    float: left;
}

    .ckeckbox-box .ckeckbox-hd {
        width: 100%;
        float: left;
        position: relative;
    }

        .ckeckbox-box .ckeckbox-hd h4 {
            font-size: 16px;
            color: #000;
            text-transform: capitalize;
            background: #d3d3d3;
            width: 100px;
            text-align: center;
            height: 32px;
            line-height: 32px;
            margin: 0px;
        }

.branch-table.ckeckbox-table {
    margin-top: 5px;
}

    .branch-table.ckeckbox-table table tr td {
        height: 32px;
    }

.container-check.checked-2.ckd-3.ckeck-table {
    width: 112px;
    height: 32px;
}

    .container-check.checked-2.ckd-3.ckeck-table p {
        margin: 0px;
        font-size: 16px;
        font-weight: normal;
        line-height: 34px;
        color: #000;
        margin-left: 37px;
        text-align: left;
    }

    .container-check.checked-2.ckd-3.ckeck-table.ckeck-table-2 {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100px;
    }
/* ---------------------------------------------------
    operator-dashboard-a-job-page-star
----------------------------------------------------- */
.dashboard-logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 12px;
    background: #fff;
}

    .dashboard-logo a {
        outline: none;
    }

    .dashboard-logo img {
        width: 110px;
    }

.left-sidebar {
    background: #0288D1 !important;
    width: 17% !important;
}

.logout-top {
    width: 100%;
    float: left;
    text-align: right;
    padding: 36px 20px;
    border-bottom: 1px solid #C0C0C0;
    position: relative;
}

    .logout-top a {
        font-size: 16px;
        text-transform: capitalize;
        text-decoration: none;
        color: #0277BD;
    }

        .logout-top a i {
            margin-left: 5px;
            vertical-align: middle;
            font-size: 22px;
        }

.track-form.job-width {
    width: 100%;
}

    .track-form.job-width input {
        background: transparent;
    }

    /* ---------------------------------------------------
    operator-popus-star
----------------------------------------------------- */
    .track-form.job-width .search {
        top: 5px;
        z-index: 123;
    }

        .track-form.job-width .search:focus {
            border: 0px;
        }

#costumModal24 {
    padding: 0px !important;
}

    #costumModal24 .modal-dialog {
        margin: 141px auto 0;
        width: 80%;
    }

    #costumModal24 .modal-header .close {
        top: 13px;
        right: 14px;
    }

    #costumModal24 .branch-table {
        margin: 0px;
        float: none;
    }

        #costumModal24 .branch-table table tr td {
            color: #0277BD;
            font-size: 16px;
            text-transform: capitalize;
            text-align: center;
        }

        #costumModal24 .branch-table table tr.change-clr td {
            color: #000;
        }

    #costumModal24 .modal-body {
        padding-bottom: 20px;
    }
/* ---------------------------------------------------
    operator-popus-end
----------------------------------------------------- */
.track-form.job-width input:focus {
    border: 0px;
    border-bottom: 1px solid #0277BD;
    color: #0277BD;
    background: transparent;
}

.dashboard-right-table {
    width: 100%;
    float: right;
}

.table-box-antree {
    width: 100%;
    float: left;
    margin-top: 14px;
}

    .table-box-antree table {
        width: 100%;
    }

        .table-box-antree table tr td {
            text-align: center;
            padding: 8px;
            font-size: 16px;
            text-transform: uppercase;
            color: #000;
            background: yellow;
            border: 1px solid #C0C0C0;
            font-weight: 600;
        }

            .table-box-antree table tr td:first-child {
                text-align: left;
                width: 65%;
            }

            .table-box-antree table tr td.btm-box {
                background: forestgreen;
                color: #fff;
            }

.job-queue {
    width: 100%;
    float: left;
}

    .job-queue .cln-src {
        width: 120px;
        float: right;
        text-align: right;
        margin-top: 20px;
        position: relative;
    }

        .job-queue .cln-src:after {
            position: absolute;
            top: -3px;
            right: 0px;
            content: "\f274";
            font-family: fontawesome;
            font-size: 18px;
            color: #0277BD;
            cursor: pointer;
            transition: all 0.5s;
        }

        .job-queue .cln-src:hover:after {
            transform: scale(1.5);
            transition: all 0.5s;
        }

        .job-queue .cln-src input {
            border: 0px;
            background: transparent;
            font-size: 16px;
            color: #C0C0C0;
            width: 120px;
            padding-right: 25px;
        }

            .job-queue .cln-src input:focus {
                border: 0px;
                background: transparent;
            }

            .job-queue .cln-src input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #C0C0C0;
                opacity: 1;
            }

            .job-queue .cln-src input::-moz-placeholder { /* Firefox 19+ */
                color: #C0C0C0;
                opacity: 1;
            }

            .job-queue .cln-src input:-ms-input-placeholder { /* IE 10+ */
                color: #C0C0C0;
                opacity: 1;
            }

            .job-queue .cln-src input:-moz-placeholder { /* Firefox 18- */
                color: #C0C0C0;
                opacity: 1;
            }

    .job-queue .job-queue-box {
        width: 100%;
        float: left;
        margin-top: 5px;
    }

        .job-queue .job-queue-box .job-queue-hd {
            width: 100%;
            float: left;
            height: 26px;
            background: #929292;
        }

            .job-queue .job-queue-box .job-queue-hd h2 {
                font-size: 15px;
                color: #fff;
                text-transform: capitalize;
                line-height: 26px;
                margin: 0px;
                text-align: center;
            }

        .job-queue .job-queue-box .job-queue-btm {
            width: 100%;
            float: left;
            height: 200px;
            border: 1px solid #C0C0C0;
        }

.pd-rgt {
    padding: 0px !important;
    /*width: 83% !important;*/
}

.dashboard-right.pd {
    padding: 20px;
    padding-top: 0px;
    margin-top: 0px;
}

.dishboard-search {
    width: 100%;
    float: left;
    padding: 6px 20px;
    background: #fbfbfb;
}

.date-time {
    width: 90%;
    float: left;
    text-align: center;
    padding-top: 11px;
    position: absolute;
    top: 27px;
}

    .date-time span {
        font-size: 16px;
        color: #313131;
        margin: 0 35px;
        text-align: center;
    }
/* ---------------------------------------------------
    root-book-btn-css
----------------------------------------------------- */
.root-book-btn {
    position: absolute;
    /*right: 0px;*/
    top: 20px;
}

    .root-book-btn ul {
        padding: 0;
        margin: 0;
    }

        .root-book-btn ul li {
            display: inline-block;
        }

            .root-book-btn ul li img {
                width: 40px;
            }

.images-width {
    width: 78% !important;
}

.dashboard-box-width {
    width: 22%;
}
/* ---------------------------------------------------
    routes-desableIndex-page-css
----------------------------------------------------- */
.desableindex-page {
    width: 100%;
    float: left;
    position: relative;
    background: rgba(128, 128, 128, 0.1);
    height: 100%;
}

.dashboard-right.pd.desableindex {
    width: 100%;
    float: left;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}

.desableindex-box {
    width: 400px;
    margin: 200px auto 0;
    display: table;
}

.desableindex-form {
    width: 100%;
    float: left;
    margin-bottom: 7px;
}

    .desableindex-form input {
        width: 48.50%;
        padding: 4px 5px !important;
        font-size: 16px;
        color: #C0C0C0;
        border-bottom: 1px solid #C0C0C0 !important;
        background: transparent;
        margin: 0 2px;
        line-height: 20px !important;
    }

        .desableindex-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #C0C0C0;
            opacity: 1;
        }

        .desableindex-form input::-moz-placeholder { /* Firefox 19+ */
            color: #C0C0C0;
            opacity: 1;
        }

        .desableindex-form input:-ms-input-placeholder { /* IE 10+ */
            color: #C0C0C0;
            opacity: 1;
        }

        .desableindex-form input:-moz-placeholder { /* Firefox 18- */
            color: #C0C0C0;
            opacity: 1;
        }

.desableindex-btn {
    width: 100%;
    float: left;
}

    .desableindex-btn ul {
        padding: 0px;
        margin: 0px;
    }

        .desableindex-btn ul li {
            display: inline-block;
            width: 48.50%;
            margin: 0 2px;
        }

            .desableindex-btn ul li a {
                font-size: 18px;
                color: #fff;
                text-transform: capitalize;
                height: 76px;
                background: #0277BD;
                display: inline-block;
                width: 100%;
                text-align: center;
                line-height: 76px;
                text-decoration: none;
            }

/* ---------------------------------------------------
    new-route-page-css
----------------------------------------------------- */

.from-box.drop-frm {
    position: relative;
}

    .from-box.drop-frm a {
        padding: 0px;
        color: #fff;
        background: #0277BD;
        font-size: 16px;
        display: inline-block;
        width: 34px;
        height: 34px;
        text-align: center;
        position: absolute;
        top: 1px;
        right: 0px;
        line-height: 34px;
        outline: none;
    }

        .from-box.drop-frm a i {
            line-height: 36px;
        }

.branch-table.route-table {
    margin-top: 20px;
}

    .branch-table.route-table table tr td {
        text-align: center;
    }

        .branch-table.route-table table tr td a {
            font-size: 16px;
            text-transform: capitalize;
            text-align: center;
            text-decoration: none;
        }

    .branch-table.route-table .from-bottm {
        width: 70%;
        margin: 20px auto 0;
        display: table;
    }

.form-btn.route-btn {
    margin-top: 5px;
}

#costumModal25 {
    padding: 0px !important;
}

    #costumModal25 .modal-dialog {
        margin: 141px auto 0;
        width: 60%;
    }

    #costumModal25 .modal-header {
        padding: 16px 15px 12px 15px;
        border-bottom: 0;
    }

        #costumModal25 .modal-header .close {
            right: 8px;
            top: 13px;
        }

    #costumModal25 .modal-body {
        padding: 0px;
        width: 100%;
        float: left;
    }

        #costumModal25 .modal-body input {
            margin: 0px;
        }

    #costumModal25 .branch-table {
        margin: 0px;
        padding: 0 15px 10px 15px;
    }

        #costumModal25 .branch-table table tr td a {
            font-size: 16px;
            text-transform: capitalize;
            text-decoration: none;
        }

        #costumModal25 .branch-table table tr td {
            text-align: center;
        }


#costumModal25_Payment {
    padding: 0px !important;
}

    #costumModal25_Payment .modal-dialog {
        margin: 141px auto 0;
        width: 60%;
    }

    #costumModal25_Payment .modal-header {
        padding: 16px 15px 12px 15px;
        border-bottom: 0;
    }

        #costumModal25_Payment .modal-header .close {
            right: 8px;
            top: 13px;
        }

    #costumModal25_Payment .modal-body {
        padding: 0px;
        width: 100%;
        float: left;
    }

        #costumModal25_Payment .modal-body input {
            margin: 0px;
        }

    #costumModal25_Payment .branch-table {
        margin: 0px;
        padding: 0 15px 10px 15px;
    }

        #costumModal25_Payment .branch-table table tr td a {
            font-size: 16px;
            text-transform: capitalize;
            text-decoration: none;
        }

        #costumModal25_Payment .branch-table table tr td {
            text-align: center;
        }



#costumModal25_strip {
    padding: 0px !important;
}

    #costumModal25_strip .modal-dialog {
        margin: 141px auto 0;
        width: 60%;
    }

    #costumModal25_strip .modal-header {
        padding: 16px 15px 12px 15px;
        border-bottom: 0;
    }

        #costumModal25_strip .modal-header .close {
            right: 8px;
            top: 13px;
        }

    #costumModal25_strip .modal-body {
        padding: 0px;
        width: 100%;
        float: left;
    }

        #costumModal25_strip .modal-body input {
            margin: 0px;
        }

    #costumModal25_strip .branch-table {
        margin: 0px;
        padding: 0 15px 10px 15px;
    }

        #costumModal25_strip .branch-table table tr td a {
            font-size: 16px;
            text-transform: capitalize;
            text-decoration: none;
        }

        #costumModal25_strip .branch-table table tr td {
            text-align: center;
        }
/* ---------------------------------------------------
    pick-up-page-css
----------------------------------------------------- */
.bag-box {
    width: 100%;
    float: left;
    background: #0277BD;
    padding: 8px 0;
    margin: 25px 0;
}

    .bag-box p {
        font-size: 16px;
        color: #fff;
        text-transform: capitalize;
        margin: 0px;
        text-align: center;
    }

.pick-up-grid {
    width: 100%;
    float: left;
    height: 270px;
    border: 1px solid #C0C0C0;
}

    .pick-up-grid table {
        width: 100%;
        box-shadow: none;
        margin: 0px;
    }

        .pick-up-grid table tr th {
            border-right: 1px solid #C0C0C0;
            font-weight: normal;
            text-transform: capitalize;
            text-align: center;
            padding: 5px;
            height: 34px;
            font-size: 16px;
            color: #0277BD;
        }

            .pick-up-grid table tr th:last-child {
                border-right: 0px;
            }

.pick-up-btn {
    width: 100%;
    float: left;
}

    .pick-up-btn ul {
        padding: 0px;
        margin: 0px;
    }

        .pick-up-btn ul li {
            display: block;
            margin-bottom: 15px;
        }

            .pick-up-btn ul li a {
                font-size: 22px;
                color: #fff;
                text-decoration: none;
                height: 40px;
                line-height: 40px;
                padding: 0px;
                background: #0277BD;
                display: inline-block;
                width: 100%;
                text-align: center;
            }

                .pick-up-btn ul li a.another-btn {
                    height: auto;
                    font-size: 18px;
                    line-height: 28px;
                    text-align: left;
                    padding: 7px 0 7px 120px;
                    position: relative;
                }


                    .pick-up-btn ul li a.another-btn i {
                        display: flex;
                        position: absolute;
                        top: 18px;
                        left: 75px;
                        font-size: 30px;
                    }

                .pick-up-btn ul li a i {
                    margin-right: 10px;
                }

#costumModal8 .modal-dialog {
    margin: 95px auto 0;
    width: 33%;
}

#costumModal8 .modal-header {
    padding: 16px 15px 11px 15px;
}

#costumModal8_payment .modal-dialog {
    margin: 95px auto 0;
    width: 33%;
}

#costumModal8_payment .modal-header {
    padding: 16px 15px 11px 15px;
}

#costumModal8_payment .pick-up-btn {
    width: 100%;
    float: none;
    padding: 0 15px 20px 15px;
}


#costumModal8_OverRide .modal-dialog {
    margin: 95px auto 0;
    width: 33%;
}

#costumModal8_OverRide .modal-header {
    padding: 16px 15px 11px 15px;
}

#costumModal8_OverRide .pick-up-btn {
    width: 100%;
    float: none;
    padding: 0 15px 20px 15px;
}



#costumModal88 .modal-dialog {
    margin: 95px auto 0;
    width: 30%;
}

#costumModal88 .modal-header {
    padding: 16px 15px 11px 15px;
}

#another_location_modal .modal-dialog {
    margin: 95px auto 0;
    width: 50%;
}

#another_location_modal .modal-header {
    padding: 16px 15px 11px 15px;
}

#another_location_modal .from-box-width {
    float: none;
    margin-top: 22px;
}

#another_location_modal .from-box {
    float: none;
}

#another_location_modal .form-btn {
    float: none;
}

.tab-btn {
    width: 100%;
    float: left;
}

    .tab-btn ul {
        padding: 0px;
        margin: 0px;
        text-align: center;
        border: 0px;
    }

        .tab-btn ul li {
            display: inline-block;
            float: none;
        }

            .tab-btn ul li.active a {
                background: #3BAEF3 !important;
            }

            .tab-btn ul li a {
                border: 0px !important;
                margin: 0 2px;
                font-size: 14px;
                color: #fff !important;
                text-transform: capitalize;
                background: #0277BD !important;
                border-radius: 0px !important;
                font-family: 'Roboto', sans-serif;
                padding: 0 10px !important;
                height: 32px;
                line-height: 32px;
                width: 102px;
                outline: none;
            }

#costumModal8 .pick-up-btn {
    padding: 0 15px 20px 15px;
    float: none;
}

    #costumModal8 .pick-up-btn ul li {
        margin: 0px;
    }

        #costumModal8 .pick-up-btn ul li a {
            width: 360px;
            margin: 0px auto;
            display: table;
        }

#costumModal8 #tab-2 .modal-body h2 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #0277bd;
    padding: 25px 0 30px 0;
}

#costumModal88 .pick-up-btn {
    padding: 0 15px 20px 15px;
    float: none;
}

    #costumModal88 .pick-up-btn ul li {
        margin: 0px;
    }

        #costumModal88 .pick-up-btn ul li a {
            width: 360px;
            margin: 0px auto;
            display: table;
        }

#costumModal88 #tab-2 .modal-body h2 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #0277bd;
    padding: 25px 0 30px 0;
}

#costumModal9 .modal-dialog {
    margin: 95px auto 0;
    width: 50%;
}

#costumModal9 .modal-body h2 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #0277bd;
    padding: 15px 0 15px 0;
}

#costumModal9 .branch-table {
    margin: 0px;
    padding: 20px 0 10px 0;
    float: none;
}

    #costumModal9 .branch-table table tr td {
        text-align: center;
    }

        #costumModal9 .branch-table table tr td a {
            font-size: 16px;
            text-decoration: none;
        }

#costumModal9 .track-form::after {
    right: 15px;
    top: 3px !important;
}

#costumModal9 .track-form .search {
    right: 15px;
    top: 0px;
}

#costumModal10 .branch-table {
    float: none;
}

#costumModal10 .modal-dialog {
    margin: 95px auto 0;
    width: 50%;
}

#costumModal10 .modal-body ul {
    padding: 0px;
    margin: 0px;
}

    #costumModal10 .modal-body ul li {
        display: inline-block;
        font-size: 14px;
        color: #c0c0c0;
        width: 48.75%;
        margin: 1px 0;
    }

#costumModal10 .modal-body h2 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #0277bd;
    padding: 15px 0 15px 0;
}

#costumModal10 .modal-body {
    padding: 12px 15px 15px 15px;
}

#costumModal10 .branch-table table tr td {
    text-align: center;
}

    #costumModal10 .branch-table table tr td a {
        font-size: 16px;
        color: #000;
        text-decoration: none;
    }

#costumModal10 .pick-up-btn {
    float: none;
    padding-bottom: 20px;
}

    #costumModal10 .pick-up-btn ul li {
        margin: 0px;
    }

        #costumModal10 .pick-up-btn ul li a {
            width: 360px;
            margin: 0px auto 0;
            display: table;
        }
/* ---------------------------------------------------
    drop-off-point-page-css
----------------------------------------------------- */
.date-time.drop-date {
    padding-bottom: 25px;
}
/* ---------------------------------------------------
    popup-css
----------------------------------------------------- */
.popup-btn {
    width: 60%;
    float: left;
    margin-top: 18px;
}

    .popup-btn ul {
        padding: 0px;
        margin: 0px;
    }

        .popup-btn ul li {
            display: inline-block;
            margin-right: 4px;
        }

            .popup-btn ul li a {
                font-size: 14px;
                padding: 3px 12px;
                background: #0277BD;
                display: inline-block;
                color: #fff;
                text-decoration: none;
                text-transform: capitalize;
                border-radius: 30px;
            }

#Job_details_model .modal-body h2 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #0277bd;
    padding: 5px 0 15px 0;
}

#Job_details_model .modal-body .job-id-box {
    width: 100%;
    border: 1px solid #C0C0C0;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

    #Job_details_model .modal-body .job-id-box.drop-box {
        margin-bottom: 10px;
    }

    #Job_details_model .modal-body .job-id-box h4 {
        font-size: 20px;
        font-weight: 600;
        color: #0277bd;
        text-transform: uppercase;
        margin: 0px;
        padding-bottom: 15px;
    }

    #Job_details_model .modal-body .job-id-box p {
        font-size: 16px;
        color: #0277bd;
        margin: 0px;
        text-transform: capitalize;
        padding-bottom: 7px;
    }

        #Job_details_model .modal-body .job-id-box p.pera {
            padding-bottom: 0px;
        }

#Job_details_model .modal-dialog {
    margin: 95px auto 0;
}

#Job_details_model .modal-header .close {
    right: 8px;
}

#costumModal12 .modal-body h2 {
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    color: #0277bd;
    padding: 5px 0 15px 0;
}

#costumModal12 .modal-dialog {
    margin: 95px auto 0;
}

#costumModal12 .branch-table {
    float: none;
    margin-bottom: 10px;
}

    #costumModal12 .branch-table table tr td {
        text-align: center;
    }

        #costumModal12 .branch-table table tr td a {
            font-size: 16px;
            text-transform: capitalize;
            text-decoration: none;
        }

#costumModal12 .modal-header .close {
    right: 8px;
}

.control-group .control-label {
    text-align: left !important;
}

.another-heading {
    font-size: 24px;
    margin: 10px 0 20px 0;
    padding: 11px 0 8px 0;
    line-height: 22px;
    color: #0277bd;
}

.another-heading1 {
    font-size: 24px;
    margin: 17px 0 17px 0;
    padding: 14px 0 14px 0;
    line-height: 22px;
    color: #0277bd;
}

/*.k-grid-header .k-grid-header-wrap.k-auto-scrollable table tr th:first-child label {
    display:none !important;
}*/
