﻿@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanel.cshtml";
}
<style>
    .list_btn_page {
        width: 100%;
        float: left;
        margin-top: 5px;
    }

    ::-webkit-scrollbar {
        width: 4px;
    }

    .hangler {
        border: 1px solid gray;
        padding: 7px;
        margin-left: 27px;
        width: 40%;
    }

    .k-picker-wrap.k-state-default {
        border-bottom: none;
    }

    #txt_driver_pcoexpiry_v_box .k-select, #txt_driver_motExpiry_box .k-select, #OverRide_txt_box .k-select {
        background-image: url('../../Themes/images/calender.png');
        background-repeat: no-repeat;
        width: 38px;
        height: 28px;
    }

    #costumModal88 .from-box {
        height: 38px;
        padding: 0px;
    }

        #costumModal88 .from-box input {
            height: 33px;
            margin: 0px;
        }

    #select_tarif_box .k-input {
        height: 28px !important;
    }

    #select_tarif_box .k-select, #payment_txt_type .k-select {
        background-image: url('../../Themes/images/dropdown.png');
        background-repeat: no-repeat;
        width: 31px;
        height: 28px;
    }

    #payment_txt_type_box .k-select {
        background-image: url('../../Themes/images/dropdown_menu.png');
        background-repeat: no-repeat;
        width: 31px;
        height: 34px;
        top: 5px;
    }

    #drivers_grid div.k-grid-footer, #drivers_grid div.k-grid-header {
        padding-right: 17px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        zoom: 1;
        padding-right: 10px !important;
    }
</style>

<script>
    var selected_Color = [];
    var colorPicker = [];
    var colorPicker1 = [];
    var DriverList_All = [];
    $(document).ready(function () {
        colorPicker = ["#E6194B", "#3CB44B", "#FFE119", "#0082C8", "#F58231", "#911EB4", "#46F0F0", "#F032E6", "#D2F53C", "#FABEBE", "#008080", "#E6BEFF", "#AA6E28", "#FFFAC8", "#800000", "#AAFFC3", "#808000", "#FFD8B1", "#000080", "#808080"];
        colorPicker1 = ["#E6194B", "#3CB44B", "#FFE119", "#0082C8", "#F58231", "#911EB4", "#46F0F0", "#F032E6", "#D2F53C", "#FABEBE", "#008080", "#E6BEFF", "#AA6E28", "#FFFAC8", "#800000", "#AAFFC3", "#808000", "#FFD8B1", "#000080", "#808080"];
        $.showLoading({ name: 'circle-turn' });
        if (!Number.prototype.toLowerCase) {
            Number.prototype.toLowerCase = function () {
                return this.toString();
            }
        }
        $('#Pay_id').text(0)
        Get_PaymentData();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("get_tarrifs", "AdminPannel", new { area = "Admin" })',
            success: function (data) {
                var dataJSON_tarif = JSON.parse(data.data_tarif);
                for (var i = 0; i <= colorPicker.length - 1 ; i++) {
                    for (var j = 0; j <= dataJSON_tarif.length - 1; j++) {
                        var css = dataJSON_tarif[j].tariff_colour;
                        if (css == colorPicker[i]) {
                            var index = colorPicker1.indexOf(css);
                            if (index > -1) {
                                colorPicker1.splice(index, 1);
                            }
                        }
                    }
                }
                bindColorpicker();
                $("#txt_drivertarrif").kendoDropDownList({
                    index: 0,
                    dataTextField: "tariff_name",
                    dataValueField: "tariff_id",
                    dataSource: dataJSON_tarif,
                    optionLabel: "--Select tariff--",
                });
                DataSource_tarif = new kendo.data.DataSource({
                    data: dataJSON_tarif,
                    pageSize: 10,
                    schema: {
                        model: {
                        }
                    }
                });
                var dataJSON_driver = JSON.parse(data.data_driver);
                _.each(dataJSON_driver, function (NextDriver_id) {
                    DriverList_All.push(NextDriver_id.uni_no);
                });
                bindGrid_tarif(DataSource_tarif);
                DataSource_driver = new kendo.data.DataSource({
                    data: dataJSON_driver,
                    pageSize: 10,
                    schema: {
                        model: {
                        }
                    }
                });
                bindGrid_driver(DataSource_driver);
                $.hideLoading({ name: 'circle-fade' });
            }
        });
        var PaymentList = [
                    { text: "Paypal", value: "1" },
                    { text: "Stripe", value: "2" },
                    { text: "Cash", value: "3" }];
        $("#payment_txt_type").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: PaymentList,
            optionLabel: "Type*",
            index: 0,
        });
        bindDatepicker_fn();
    });
    function bindColorpicker() {
        $('#txt_colour').colorPicker({ pickerDefault: "ffffff", colors: colorPicker1, transparency: true });
    }
    function getDriver_IdAuto() {
        var maxDriver_Id = getMaxOfArray(DriverList_All);
        $('#displayId_driver').val(getRndInteger(10000, 50000));
    }
    function getMaxOfArray(numArray) {
        return Math.max.apply(null, numArray);
    }
    function bindGrid_tarif(Datasource) {
        var element = $("#tarifs_grid").kendoGrid({
            dataSource: Datasource,
            sortable: true,
            filterable: false,
            pageable: true,
            columns: [
            { field: "tariff_id", title: "ID", width: "60px" },
            { field: "tariff_name", title: "Name", width: "110px" },
             { field: "tariff_colour", title: "Colour", width: "80px", template: '<div style="background:#=tariff_colour#;height: 29px;width: 27px;margin-left: 38%;"></div>' },
            {
                field: "", title: "Action", template: '<div><a onclick="edit_tariff(#: tariff_id #)" style="cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: green;padding: 5px;"><i class="fa fa-edit" style="font-size:20px;color:green;"></i></a> <a onclick="delete_tariff(#: tariff_id #)" style="cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: red;padding: 5px;"><i class="fa fa-trash" style="font-size:20px;color:red;"></i></a></div>', width: "80px"
            }]
        });
    }
    function bindGrid_driver(Datasource) {
        var element = $("#drivers_grid").kendoGrid({
            dataSource: Datasource,
            sortable: true,
            filterable: false,
            pageable: true,
            columns: [
            { field: "driver_id", title: "ID", width: "60px" },
            { field: "driver_name", title: "Name", width: "100px" },
            { field: "driver_vehicle_reg", title: "Reg.No", width: "100px" },
             { field: "tariff_name", title: "Tariff", width: "80px" },
             { field: "uni_no", title: "Driver No", width: "80px" },
            {
                field: "", title: "Action", template: '<a onclick="edit_driver(#: driver_id #)" style="cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: green;padding: 5px;"><i class="fa fa-edit" style="font-size:20px;"></i></a> <a onclick="delete_driver(#: driver_id #)" style="cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: red;padding: 5px;"><i class="fa fa-trash" style="font-size:20px;color:red;"></i></a>', width: "80px"
            }]
        });
    }
    function delete_tariff(tarif_id) {
        $.showLoading({ name: 'circle-fade' });

        var tariff_Assign_count = 0;
        var Grid = $("#drivers_grid").data("kendoGrid");
        var data = Grid.dataSource.data();
        var totalNumber = data.length;
        var Tariff_in_Driver = '';
        for (var i = 0; i < totalNumber; i++) {
            var currentDataItem = data[i];
            if (currentDataItem.driver_tariff_id == tarif_id) {
                Tariff_in_Driver += currentDataItem.uni_no + ' , ';
                tariff_Assign_count++;
            }
        }
        if (tariff_Assign_count == 0) {
            var result = ConformDelete();
            if (result == 'YES') {
                if (tarif_id != 0) {
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '@Url.Action("delete_tariff", "AdminPannel", new { area = "Admin" })',
                        data: { tarif_id: tarif_id },
                        success: function (data) {
                            if (data.msg = 'success') {
                                setInterval(function () {
                                    window.location.reload();
                                }, 1000);
                                alert('Delete tariff successfully.');
                            } else { data }
                        }
                    });
                    $.hideLoading({ name: 'circle-fade' });
                } else {
                    $.hideLoading({ name: 'circle-fade' });
                }
            } else {
                $.hideLoading({ name: 'circle-fade' });
            }
        } else { alert("First Remove Driver : " + Tariff_in_Driver.replace(/,\s*$/, "")); $.hideLoading({ name: 'circle-fade' }); }
    }

    function delete_driver(driver_id) {
        $.showLoading({ name: 'circle-fade' });
        var result = ConformDelete();
        if (result == 'YES') {
            if (driver_id != 0) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("delete_driver", "AdminPannel", new { area = "Admin" })',
                    data: { driver_id: driver_id },
                    success: function (data) {
                        if (data.msg = 'success') {
                            setInterval(function () {
                                window.location.reload();
                            }, 1000);
                            alert('Delete driver successfully.');
                        } else { data }
                    }
                });
                $.hideLoading({ name: 'circle-fade' });
            } else {
                $.hideLoading({ name: 'circle-fade' });
            }
        } else {
            $.hideLoading({ name: 'circle-fade' });
        }
    }

    function ConformDelete() {
        var txt;
        var r = confirm("Conform Remove ?");
        if (r == true) {
            txt = "YES";
        } else {
            txt = "NO";
        }
        return txt;
    }
    function submit_tarif() {
        var txt_name = (CheckValueNullOrNOT($('#txt_name').val()));
        if (!txt_name) { alert('Enter  name'); return; }

        var txt_charge = (CheckValueNullOrNOT($('#txt_charge').val()));
        if (!txt_charge) { alert('Enter  Initial Charge'); return; }

        var txt_incluse_miles = (CheckValueNullOrNOT($('#txt_incluse_miles').val()));
        if (!txt_incluse_miles) { alert('Enter  incluse miles'); return; }

        var txt_per_miles = (CheckValueNullOrNOT($('#txt_per_miles').val()));
        if (!txt_per_miles) { alert('Enter per mile'); return; }

        var txt_colour = (CheckValueNullOrNOT($('#txt_colour').val()));
        if (!txt_colour) { alert('Select colour'); return; }

        var tarifff_id = $('#tariff_id').val() == "" ? 0 : $('#tariff_id').val();

        if (txt_name && txt_charge && txt_incluse_miles && txt_per_miles && txt_colour) {
            var data = {
                tariff_id: tarifff_id,
                tariff_name: $('#txt_name').val(),
                tariff_initial_charge: $('#txt_charge').val(),
                tariff_include_miles: $('#txt_incluse_miles').val(),
                tariff_per_mile: $('#txt_per_miles').val(),
                tariff_colour: $('#txt_colour').val(),
                tariff_location: ""
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("ADD_a_tariffs", "AdminPannel", new { area = "Admin" })',
                data: data,
                success: function (data) {
                    $.hideLoading({ name: 'circle-turn' });
                    if (data.msg == 'success') {
                        if (tarifff_id == 0) {
                            alert('Add a tarrif successfully.');
                        } else { alert('Update tarrif successfully.'); }
                    } else { alert('Process Fail  Try Agains'); }
                    setInterval(function () {
                        var logoutUrl = '@Url.Action("AdminPanel", "AdminPannel", new { area="Admin"})';
                        window.location.href = logoutUrl;
                    }, 1000);
                }
            });
        }
    }
    function submit_driver() {

        var txt_driver_name = (CheckValueNullOrNOT($('#txt_driver_name').val()));
        if (!txt_driver_name) { alert('Enter  name'); return; }

        var txt_driver_number = (MobileValidation($('#txt_driver_number').val()));
        if (!txt_driver_number) { alert('Enter Valid number'); return; }

        var txt_driver_email = (CheckEmail($('#txt_driver_email').val()));
        if (!txt_driver_email) { alert('Enter Valid Email'); return; }

        var txt_vehicle_reg = (CheckValueNullOrNOT($('#txt_vehicle_reg').val()));
        if (!txt_vehicle_reg) { alert('Enter vehicle regi.'); return; }

        var txt_driver_model = (CheckValueNullOrNOT($('#txt_driver_model').val()));
        if (!txt_driver_model) { alert('Enter model'); return; }

        var txt_drivercolour = (CheckValueNullOrNOT($('#txt_drivercolour').val()));
        if (!txt_drivercolour) { alert('Enter colour'); return; }

        var txt_drivertarrif = (CheckValueNullOrNOT($('#txt_drivertarrif').val()));
        if (!txt_drivertarrif) { alert('Select tariff'); return; }

        var txt_driver_Password = (CheckValueNullOrNOT($('#txt_driver_Password').val()));
        if (!txt_driver_Password) { alert('Enter Password'); return; }

        var txt_driver_pconumber_d = (CheckValueNullOrNOT($('#txt_driver_pconumber').val()));
        if (!txt_driver_pconumber_d) { alert('Enter PCO Number'); return; }

        //var txt_driver_pcoexpiry_d = (CheckValueNullOrNOT($('#txt_driver_pcoexpiry').val()));
        //if (!txt_driver_pcoexpiry_d) { alert('Select PCO Expiry'); return; }

        //var txt_driver_motExpiry = (CheckValueNullOrNOT($('#txt_driver_motExpiry').val()));
        //if (!txt_driver_motExpiry) { alert('Enter MOT'); return; }

        var txt_driver_phvnumber = (CheckValueNullOrNOT($('#txt_driver_phvnumber').val()));
        if (!txt_driver_phvnumber) { alert('Enter PHV Number'); return; }

        var txt_driver_phvexpiry = (CheckValueNullOrNOT($('#txt_driver_phvexpiry').val()));
        if (!txt_driver_phvexpiry) { alert('Select PCO Expiry'); return; }

        var t_driver_id = $('#txt_driver_id').val() == "" ? 0 : $('#txt_driver_id').val();

        if (txt_driver_name && txt_driver_number && txt_driver_email && txt_vehicle_reg && txt_driver_model && txt_drivercolour && txt_drivertarrif && txt_driver_Password && txt_driver_phvexpiry && txt_driver_phvnumber) {
            $.showLoading({ name: 'circle-turn' });
            var or_date = $('#txt_driver_pcoexpiry').val().toString();
            var d1Convert = or_date.replace(/^(\d{1,2}\/)(\d{1,2}\/)(\d{4})$/, "$2$1$3");

            var driver_mot_expiry;
            if ($('#mot_status_type').text() == 1) {
                driver_mot_expiry = $('#txt_driver_motExpiry').val();
            } else if($('#mot_status_type').text() == 2) {
                driver_mot_expiry = $('#txt_driver_motStatus').val();
            }
            var data = {
                driver_id: t_driver_id,
                driver_name: $('#txt_driver_name').val(),
                driver_number: $('#txt_driver_number').val(),
                driver_email: $('#txt_driver_email').val(),
                driver_vehicle_reg: $('#txt_vehicle_reg').val(),
                driver_vehicle_colour: $('#txt_drivercolour').val(),
                drvier_vehicle_model: $('#txt_driver_model').val(),
                driver_tariff_id: $('#txt_drivertarrif').val(),
                driver_password: $('#txt_driver_Password').val(),
                driver_status: 0,
                driver_uni_no: $('#displayId_driver').val(),
                driver_pco_number: $('#txt_driver_pconumber').val(),
                driver_phv_number: $('#txt_driver_phvnumber').val(),
                driver_phv_expiry: $('#txt_driver_phvexpiry').val(),
                driver_mot_expiry: driver_mot_expiry,
                driver_pco_expiry: or_date,
                driver_surname: $('#txt_driver_surname').val(),
                driver_insurance: $('#txt_driver_insurance').val()
            }

            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("ADD_a_drivers", "AdminPannel", new { area = "Admin" })',
                data: data,
                success: function (data) {
                    if (data.msg == 'success') {
                        if (t_driver_id == 0) {
                            alert('Add a driver successfully.');
                        } else {
                            alert('Update driver successfully.');
                        }
                    } else { alert('Process Fail Try Again.'); }
                    $.hideLoading({ name: 'circle-turn' });
                    setInterval(function () {
                        var logoutUrl = '@Url.Action("AdminPanel", "AdminPannel", new { area="Admin"})';
                        window.location.href = logoutUrl;
                    }, 1000);
                }
            });
        }
    }
    function edit_tariff(tariff_id) {

        $('#costumModal8').modal('show');
        $.showLoading({ name: 'circle-turn' });
        var Grid = $("#tarifs_grid").data("kendoGrid");
        var data = Grid.dataSource.data();
        var totalNumber = data.length;
        for (var i = 0; i < totalNumber; i++) {
            var currentDataItem = data[i];
            if (currentDataItem.tariff_id == tariff_id) {
                $('#txt_name').val(currentDataItem.tariff_name);
                $('#txt_charge').val(currentDataItem.tariff_initial_charge);
                $('#txt_incluse_miles').val(currentDataItem.tariff_include_miles);
                $('#txt_per_miles').val(currentDataItem.tariff_per_mile);
                $('#txt_colour').val(currentDataItem.tariff_colour);
                $('#tariff_id').val(currentDataItem.tariff_id);
                $('#txt_colour').prop('disabled', true);
                $('#txt_name').prop('disabled', true);
                $('.colorPicker-picker').attr('style', 'background:' + currentDataItem.tariff_colour + '!important');
            }
        }
        $.hideLoading({ name: 'circle-turn' });
    }
    function edit_driver(driver_id) {

        $('#costumModal88').modal('show');
        var Grid = $("#drivers_grid").data("kendoGrid");
        var data = Grid.dataSource.data();
        var totalNumber = data.length;
        for (var i = 0; i < totalNumber; i++) {
            var currentDataItem = data[i];
            if (currentDataItem.driver_id == driver_id) {
                $('#txt_driver_id').val(currentDataItem.driver_id);
                $('#txt_driver_name').val(currentDataItem.driver_name);
                $('#txt_driver_surname').val(currentDataItem.driver_surname)
                $('#txt_driver_number').val(currentDataItem.driver_number);
                $('#txt_driver_email').val(currentDataItem.driver_email);
                $('#txt_vehicle_reg').val(currentDataItem.driver_vehicle_reg);
                $('#txt_driver_model').val(currentDataItem.drvier_vehicle_model);
                $('#txt_drivercolour').val(currentDataItem.driver_vehicle_colour);
                $('#txt_drivertarrif').data("kendoDropDownList").value(currentDataItem.driver_tariff_id);
                $('#txt_driver_Password').val(currentDataItem.driver_password);
                $('#displayId_driver').val(currentDataItem.uni_no);
                $('#txt_driver_pconumber').val(currentDataItem.driver_pco_number);
                $('#txt_driver_phvnumber').val(currentDataItem.driver_phv_number);
                $('#txt_driver_phvexpiry').val(currentDataItem.driver_phv_expiry);
                $('#txt_driver_motExpiry').val(currentDataItem.driver_mot_expiry);
                var d1 = currentDataItem.driver_pco_expiry;
                var dateCovert = d1.replace(/^(\d{1,2}\/)(\d{1,2}\/)(\d{4})$/, "$2$1$3");
                $('#txt_driver_pcoexpiry').val(dateCovert);

                $('#txt_driver_insurance').val(kendo.toString(kendo.parseDate(currentDataItem.driver_insurance), "dd/MM/yyyy"));
                $('#reason_txt_override').val(currentDataItem.D_OR_Reason);
                $('#or_id').text(currentDataItem.D_OR_Id);
                $('#date_txt_override').val(kendo.toString(kendo.parseDate(currentDataItem.D_OR_Date), "dd/MM/yyyy"));
            }
        }
        dvla_api();
    }
    function ClearDriver() {
        $('#txt_driver_id').val('');
        $('#txt_driver_name').val('');
        $('#txt_driver_number').val('');
        $('#txt_driver_email').val('');
        $('#txt_vehicle_reg').val('');
        $('#txt_driver_model').val('');
        $('#txt_drivercolour').val('');
        $('#txt_driver_Password').val('');
        $('#txt_driver_surname').val('');
        $('#txt_drivertarrif').data("kendoDropDownList").value(0);
        getDriver_IdAuto();
        $('#txt_driver_Password').val(getRndInteger(100000, 500000));
        $('#txt_driver_pconumber').val('');
        $('#txt_driver_phvnumber').val('');
        $('#txt_driver_phvexpiry').val('');
        $('#txt_driver_insurance').val('');
        $('#txt_driver_motExpiry').val('');
        $('#txt_driver_pcoexpiry').val('');
        $('#reason_txt_override').val('');
        $('#date_txt_override').val('');
        
        
        
    }
    function clearTariff() {
        $('#txt_name').val('');
        $('#txt_charge').val('');
        $('#txt_incluse_miles').val('');
        $('#txt_per_miles').val('');
        $('#txt_colour').val('');
        $('#tariff_id').val(0);
        $('#txt_colour').val('');
        $('#txt_name').val('');
        $('#txt_colour').prop('disabled', false);
        $('#txt_name').prop('disabled', false);
        $('.colorPicker-picker').attr('style', 'background:#FFF !important');
    }
    //generate random number
    function getRndInteger(min, max) {
        return Math.floor(Math.random() * (max - min)) + min;
    }
    function resetPassword() {
        $('#txt_driver_Password').val(getRndInteger(100000, 500000));
    }
    function SubmitPayment() {
        var payment_txt_name = (CheckValueNullOrNOT($('#payment_txt_name').val()));
        if (!payment_txt_name) { alert('Enter Payment Name'); return; }

        var payment_txt_type = (CheckValueNullOrNOT($('#payment_txt_type').val()));
        if (!payment_txt_type) { alert('Select Payment Type'); return; }

        if (payment_txt_name && payment_txt_type) {
            var Payment_Data = {
                Pay_Id: $('#Pay_id').text() == '0' ? 0 : $('#Pay_id').text(),
                Pay_Name: $('#payment_txt_name').val(),
                Pay_Type: $('#payment_txt_type').val(),
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("ADD_Payment", "AdminPannel", new { area = "Admin" })',
                data: Payment_Data,
                success: function (data) {
                    if (data.msg = 'success') {
                        setInterval(function () {
                            window.location.reload();
                        }, 1000);

                        if ($('#Pay_id').text() == '0') {
                            alert('Add Payment Mathod Successfully.');
                        } else { alert('Update Payment Mathod Successfully.'); }
                        $('#Pay_id').text(0)
                        $('#costumModal8_payment').modal('hide');
                    } else { data }
                }
            });
        }
    }
    function ClearPayment() {
        $('#payment_txt_name').val('');
        $('#payment_txt_type').val(0);
    }
    function Get_PaymentData() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("Get_Payment", "AdminPannel", new { area = "Admin" })',
            data: { Pay_Id: 0 },
            success: function (data) {
                var dataJSON_Payment = JSON.parse(data.data_Payment);
                var element = $("#Payment_grid").kendoGrid({
                    dataSource: dataJSON_Payment,
                    sortable: true,
                    filterable: false,
                    pageable: true,
                    columns: [
                    { field: "Pay_Id", title: "ID", width: "62px" },
                    { field: "Pay_Name", title: "Name", width: "102px" },
                    { field: "Pay_Type", title: "Type", width: "100px", template: "#  if (Pay_Type == '1' ) { # <center><span class='fa fa-paypal' style='font-size:25px;'></span></center> #} else if (Pay_Type == '2'){ # <center><span class='fa fa-cc-stripe' style='font-size:25px;'></span></center> #}else if (Pay_Type == '3'){ # <center><span class='fa fa-money' style='font-size:25px;'></span></center> #} #" },
                    {
                        field: "", title: "Action", template: '<a onclick="EditPayment(#: Pay_Id #)" style="cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: green;padding: 5px;"><i class="fa fa-edit" style="font-size:20px;"></i></a> <a onclick="Delete_Payment(#: Pay_Id #)" style="cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: red;padding: 5px;"><i class="fa fa-trash" style="font-size:20px;color:red;"></i></a>', width: "80px"
                    }
                    ]
                });
            }
        });
    }

    function Delete_Payment(Payment_Id) {
        $.showLoading({ name: 'circle-fade' });
        var result = ConformDelete();
        if (result == 'YES') {
            if (Payment_Id != 0) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("DeletePayment", "AdminPannel", new { area = "Admin" })',
                    data: { Payment_Id: Payment_Id },
                    success: function (data) {
                        if (data.msg = 'success') {
                            setInterval(function () {
                                window.location.reload();
                            }, 1000);
                            alert('Delete Payment Successfully.');
                        } else { data }
                    }
                });
                $.hideLoading({ name: 'circle-fade' });
            } else {
                $.hideLoading({ name: 'circle-fade' });
            }
        } else {
            $.hideLoading({ name: 'circle-fade' });
        }
    }
    function EditPayment(Pay_Id) {

        $('#costumModal8_payment').modal('show');
        var Grid = $("#Payment_grid").data("kendoGrid");
        var data = Grid.dataSource.data();
        var totalNumber = data.length;
        for (var i = 0; i < totalNumber; i++) {
            var currentDataItem = data[i];
            if (currentDataItem.Pay_Id == Pay_Id) {
                $('#Pay_id').text(currentDataItem.Pay_Id);
                $('#payment_txt_name').val(currentDataItem.Pay_Name);
                $('#payment_txt_type').data("kendoDropDownList").value(currentDataItem.Pay_Type);
            }
        }
    }
    function bindDatepicker_fn() {

        $("#txt_driver_insurance").kendoDatePicker({
            //// value: new Date(),
            // dateInput: true,
            format: "dd/MM/yyyy"
            // width: 100
        });
        $("#date_txt_override").kendoDatePicker({
            value: new Date(),
            dateInput: true,
            format: "dd/MM/yyyy",
            width: 100
        });

    }

    function SubmitOverRide() {

        var reason_txt_override = (CheckValueNullOrNOT($('#reason_txt_override').val()));
        if (!reason_txt_override) { alert('Enter  Reason'); return; }

        var date_txt_override = (CheckValueNullOrNOT($('#date_txt_override').val()));
        if (!date_txt_override) { alert('Select date'); return; }

        if (reason_txt_override && date_txt_override) {
            var or_date = $('#date_txt_override').val().toString();
            var d1Convert = or_date.replace(/^(\d{1,2}\/)(\d{1,2}\/)(\d{4})$/, "$2$1$3");
            $.showLoading({ name: 'circle-fade' });
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("OverRide", "AdminPannel", new { area = "Admin" })',
                data: { or_Id: $('#or_id').text() != null ? $('#or_id').text() : 0, reason: $('#reason_txt_override').val(), date: d1Convert, driverNo: $('#displayId_driver').val() },
                success: function (data) {
                    if (data.msg == 'success') {
                        alert('OverRide Sucessfully Submit');
                        $.hideLoading({ name: 'circle-fade' });
                        $('#costumModal8_OverRide').modal('hide');
                        $('#reason_txt_override').val('');
                        $('#date_txt_override').val('');
                        $('#txt_driver_pcoexpiry').val(or_date)
                    }
                }
            });
        }
    }
    function opneOverRide() {
        $('#costumModal8_OverRide').modal('show');
    }
    function dvla_api() {
        var Regi_No = $('#txt_vehicle_reg').val();

        if (Regi_No != '') {
            $('#costumModal8_Process').modal({ backdrop: 'static', keyboard: false })
            $('#costumModal8_Process').modal('show');
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("DVLApi", "AdminPannel", new { area = "Admin" })',
                data: { Registration: Regi_No },
                success: function (data) {
                    console.log(data);
                    var jdata = JSON.parse(data.data);
                    var jsondata = JSON.parse(jdata);
                    if (jsondata != null) {
                        $('#costumModal8_Process').modal('hide');
                        $('#txt_driver_model').val(jsondata[0].make + ' / ' + jsondata[0].model);
                        $('#txt_drivercolour').val(jsondata[0].primaryColour);

                        if (jsondata[0].motTests[0].testResult == 'PASSED') {
                            $('#txt_driver_motExpiry').val(formatDate_dd_mm_yyy((jsondata[0].motTests[0].expiryDate).replace('.', '/')));
                            var date1 = formatDate_dd_mm_yyy((jsondata[0].motTests[0].expiryDate).replace('.', '/'));
                            var date2 = CurrentDate_dd_mm_yyyy();

                            $('#txt_driver_motStatus').val(date_diff_indays(date2, date1) + ' Days (remaining)');

                            $('#txt_driver_motStatus').attr("style", 'color:green !important;!important;width:53% !important;margin-left:-3px;font-size:11px;padding-top: 9px !important;border-left: 0px !important;margin-left: -8% !important;');
                            $('#mot_status_type').text(1);
                        }
                        if (jsondata[0].motTests[0].testResult == 'FAILED') {
                            console.log(jsondata[0].motTests[0].testResult);
                            console.log(formatDate_dd_mm_yyy((jsondata[0].motTests[0].completedDate).replace('.', '/')));
                            $('#txt_driver_motStatus').val(formatDate_dd_mm_yyy((jsondata[0].motTests[0].completedDate).replace('.', '/')));

                            $('#txt_driver_motExpiry').val(' on FAILED ');

                            $('#txt_driver_motExpiry').attr('style', 'color:red !important;width:39% !important;border-right: 0px !important;margin-left:-3px;font-size:11px;padding-top: 9px !important;margin-left:1% !important;');
                            $('#mot_status_type').text(2);
                        }
                    } else {
                        alert("Data Not Found.. Try again.");
                        $('#costumModal8_Process').modal('hide');
                    }
                }
            });

        } else { alert('Enter Vehicle Registration'); return; }
    }
    var date_diff_indays = function (date1, date2) {
        var d1Convert = date1.replace(/^(\d{1,2}\/)(\d{1,2}\/)(\d{4})$/, "$2$1$3");
        var d2Convert = date2.replace(/^(\d{1,2}\/)(\d{1,2}\/)(\d{4})$/, "$2$1$3");
        dt1 = new Date(d1Convert);
        dt2 = new Date(d2Convert);
        return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate())) / (1000 * 60 * 60 * 24));
    }
    function pco_Search() {
        alert('Api Not Found...');
    }
    function tarifNameCheck() {
        var Grid = $("#tarifs_grid").data("kendoGrid");
        var data = Grid.dataSource.data();
        var totalNumber = data.length;
        for (var i = 0; i < totalNumber; i++) {
            var currentDataItem = data[i];
            if (currentDataItem.tariff_name.toLowerCase() == $('#txt_name').val().toLowerCase()) {
                alert('\'' + $('#txt_name').val() + '\' ' + " Tariff Already Exist");
                $('#txt_name').val('');
                return;
            }
        }
    }
</script>
<div class="dashboard-right pg-pd">
    <div class="table-box">
        <h6>Admin Panel</h6>
        <div class="col-sm-12">
            <div class="col-sm-5">
                <div class="list_btn_page">
                    <ul>
                        <li><a href="#costumModal8" data-toggle="modal" onclick="return clearTariff();"><img src="~/Themes/images/cr_btn_icon.png" alt="cr_btn_icon">add new tariff</a></li>
                    </ul>
                </div>
                <div id="tarifs_grid" class="branch-table"></div>
            </div>
            <div class="col-sm-7">
                <div class="list_btn_page">
                    <ul>
                        <li><a href="#costumModal8_payment" data-toggle="modal" onclick="ClearPayment();" style="width:225px;"><img src="~/Themes/images/cr_btn_icon.png" alt="cr_btn_icon">Add Payment Method</a></li>
                    </ul>
                </div>
                <div id="Payment_grid" class="branch-table"></div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-12">
                <hr />
                <div class="list_btn_page">
                    <ul>
                        <li><a href="#costumModal88" data-toggle="modal" onclick="ClearDriver();"><img src="~/Themes/images/cr_btn_icon.png" alt="cr_btn_icon">add new driver</a></li>
                    </ul>
                </div>

                <div id="drivers_grid" class="branch-table"></div>
            </div>
        </div>
    </div>
</div>
<div id="costumModal8" class="modal animated bounceInUp" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="clearTariff();" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h2>Add Tariff</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                    <span id="tariff_id" style="display:none;"></span>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Name:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Name" type="text" id="txt_name" maxlength="25" onchange="tarifNameCheck();" tabindex="1">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Initial Charge:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Initial Charge" type="number" id="txt_charge" onKeyDown="if(this.value.length==8 && event.keyCode!=8) return false;" tabindex="3">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Incluse Miles:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Incluse Miles" type="number" id="txt_incluse_miles" onKeyDown="if(this.value.length==8 && event.keyCode!=8) return false;" tabindex="3">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Per Miles:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Per Miles" type="number" id="txt_per_miles" onKeyDown="if(this.value.length==8 && event.keyCode!=8) return false;" tabindex="4">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Colour:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Colour" class="colorPickSelector" type="text" id="txt_colour" tabindex="5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pick-up-btn">
                <ul>
                    <li><a href="#" data-toggle="modal" onclick="submit_tarif()" tabindex="6"><i class="fa fa-car"></i>Submit Tariff</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="costumModal8_payment" class="modal animated bounceInUp" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="ClearPayment();" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h2>Add Payment Method</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                    <span id="payment_id" style="display:none;"></span>
                    <div class="control-group">
                        <span id="Pay_id" style="display:none;"></span>
                        <label for="selsear" class="control-label">
                            Name:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Name" type="text" id="payment_txt_name" maxlength="25" tabindex="1">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Type:<span style="color: red">*</span>
                        </label>
                        <div class="from-box" id="payment_txt_type_box">
                            <input placeholder="Type" type="text" id="payment_txt_type" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                </div>
            </div>
            <div class="pick-up-btn">
                <ul>
                    <li><a href="#" data-toggle="modal" onclick="SubmitPayment()" tabindex="3"><i class="fa fa-money"></i>Submit Payment</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="costumModal88" class="modal animated bounceInUp" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 46%;margin-top: 0%;">
        <div class="modal-content">
            <div class="modal-header" style="padding:0px;">
                <button type="button" class="close" onclick="ClearDriver();" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h2>
                    <span style="margin-left:0%;"><span class="fa fa-user">&nbsp;&nbsp;</span>Driver</span>
                    <span style="margin-left:28%;"><span class="fa fa-car">&nbsp;&nbsp;</span>Vehicle</span>
                </h2>
            </div>

            <div class="modal-body" style="top:-16px;">
                <span id="txt_driver_id" style="display:none;"></span>
                <div class="col-md-6 col-sm-6 col-xs-12 from-box-width" style="padding: 20px;width:47%;">
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            HANDLE :<span style="color: red"></span>
                        </label>
                        <div class="from-box">
                            <input type="text" id="displayId_driver" readonly="readonly">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            PCO Number:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="PCO Number" type="number" id="txt_driver_pconumber" style="width:86% !important;" onKeyDown="if(this.value.length==6 && event.keyCode!=8) return false;" tabindex="1">
                            <div>
                                <a href="#" class="fa fa-search" aria-hidden="true" onclick="pco_Search();" style="font-size: 25px;padding:3px; margin-top:-17.3%;position: absolute;left: 81%;text-decoration: none;border: 1px solid #C0C0C0 !important;" tabindex="2"></a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            PCO Expiry:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="PCO Expiry" type="text" id="txt_driver_pcoexpiry" style="width:86% !important;" readonly="readonly" tabindex="3">
                            <div>
                                <a href="#" class="fa fa-lock" aria-hidden="true" onclick="opneOverRide();" style="font-size: 25px;padding:3px;margin-top:-17.3%;position: absolute;left: 81%;text-decoration: none;border: 1px solid #C0C0C0 !important;width:11%;text-align:center;" tabindex="4"></a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Name:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Name" type="text" id="txt_driver_name" maxlength="25" tabindex="5" onkeypress="return (event.charCode > 31 && event.charCode < 47) || (event.charCode > 57 && event.charCode < 126)">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Surname:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Surname" type="text" id="txt_driver_surname" maxlength="25" tabindex="6" onkeypress="return (event.charCode > 31 && event.charCode < 47) || (event.charCode > 57 && event.charCode < 126)">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Number:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Number" type="number" id="txt_driver_number" onKeyDown="if(this.value.length==15 && event.keyCode!=8) return false;" tabindex="7">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Email:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Email" type="text" id="txt_driver_email" tabindex="8">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Pin:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Password" type="text" id="txt_driver_Password" readonly="readonly" style="width:86% !important;">
                            <div>
                                <a href="#" class="fa fa-retweet" aria-hidden="true" onclick="resetPassword();" style="font-size: 25px;padding:3px;margin-top:-17.3%;position: absolute;left: 81%;text-decoration: none;border: 1px solid #C0C0C0 !important;" tabindex="9"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 from-box-width" style="padding: 20px;width:47%;margin-left:6%;">
                    <div class="control-group" id="select_tarif_box">
                        <label for="selsear" class="control-label">
                            Tarrif:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Tarrif" type="text" id="txt_drivertarrif" tabindex="10">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Vehicle Reg:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Vehicle Reg." type="text" id="txt_vehicle_reg" style="width:87% !important;" maxlength="8" tabindex="11">
                            <div>
                                <a href="#" id="dvla_api" class="fa fa-search" aria-hidden="true" onclick="dvla_api();" style="font-size: 25px;padding:3px; margin-top:-17%;position: absolute;left: 82%;text-decoration: none;border: 1px solid #C0C0C0 !important;" tabindex="12"></a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Colour:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Colour" type="text" id="txt_drivercolour" readonly="readonly">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Make/Model:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="Make/Model" type="text" id="txt_driver_model" readonly="readonly">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            MOT:<span style="color: red">* </span>
                        </label>
                        <div class="from-box">
                            <span id="mot_status_type" style="display:none;"></span>
                            <input placeholder="MOT" type="text" id="txt_driver_motExpiry" style="width:40% !important;border-right: 0px !important;" readonly="readonly">
                            <input placeholder="" type="text" id="txt_driver_motStatus" style="width:53% !important;margin-left:-3px;font-size:11px;padding-top: 9px !important;border-left: 0px !important;margin-left: -8% !important;" readonly="readonly">
                            <div>
                                <a href="#" class="fa fa-lock" aria-hidden="true" onclick="opneOverRide();" style="font-size: 25px;padding:3px; margin-top:-17.3%;position: absolute;left: 81%;text-decoration: none;border: 1px solid #C0C0C0 !important;width:11%;text-align:center;" tabindex="13"></a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Insurance:<span style="color: red">*</span>
                        </label>
                        <div class="from-box" id="txt_driver_motExpiry_box">
                            <input placeholder="Insurance" type="text" id="txt_driver_insurance" tabindex="14">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            PHV Number:<span style="color: red">*</span>
                        </label>
                        <div class="from-box">
                            <input placeholder="PHV Number" type="number" id="txt_driver_phvnumber" style="width:86% !important;" onKeyDown="if(this.value.length==9 && event.keyCode!=8) return false;" tabindex="15">
                            <div>
                                <a href="#" class="fa fa-search" aria-hidden="true" onclick="resetPassword();" style="font-size: 25px;padding:3px; margin-top:-17.3%;position: absolute;left: 81%;text-decoration: none;border: 1px solid #C0C0C0 !important;width:11%;text-align:center;" tabindex="16"></a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            PHV Expiry:<span style="color: red">*</span>
                        </label>
                        <div class="from-box" id="txt_driver_pcoexpiry_v_box">
                            <input placeholder="PHV Expiry" type="text" id="txt_driver_phvexpiry" style="width:86% !important;" tabindex="17">
                            <div>
                                <a href="#" class="fa fa-lock" aria-hidden="true" onclick="opneOverRide();" style="font-size: 25px;padding:3px; margin-top:-17.3%;position: absolute;left: 81%;text-decoration: none;border: 1px solid #C0C0C0 !important;width:11%;text-align:center;" tabindex="18"></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="pick-up-btn">
                <ul>
                    <li><a href="#" data-toggle="modal" onclick="submit_driver()" tabindex="19"><i class="fa fa-user-circle"></i>Submit Driver</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="costumModal8_OverRide" class="modal animated bounceInUp" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h2>Override</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Reason:<span style="color: red">*</span>
                        </label>
                        <div class="from-box" id="date_txt_override_box">
                            <span id="or_id" style="display:none;"></span>
                            <input placeholder="Reason" type="text" id="reason_txt_override">
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="selsear" class="control-label">
                            Date:<span style="color: red">*</span>
                        </label>
                        <div class="from-box" id="OverRide_txt_box">
                            <input placeholder="Date" type="text" id="date_txt_override">
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                </div>
            </div>
            <div class="pick-up-btn">
                <ul>
                    <li><a href="#" data-toggle="modal" onclick="SubmitOverRide();"><i class="fa fa-save"></i>Save</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="costumModal8_Process" class="modal" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="height:161px;">
            <div class="modal-body" style="text-align:center;">
                <img src="~/Themes/images/loader-large.gif" />
            </div>
        </div>
    </div>
</div>
