﻿
@{
    ViewBag.Title = "booking_form";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanel.cshtml";
}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyC6NJR2j3dlZdZNh_n7FZDghYULahe-eKM&sensor=false&libraries=geometry"></script>

<style>
    #from_txt_date {
        background: transparent;
    }

    #from_txt_address-list {
        font-size: 12px;
    }

    .fa .fa-gbp {
        font-size: 42px;
    }

    /*::-webkit-scrollbar {
           width: 4px;
       }*/

    #txt_pickupaddress {
        width: 100%;
        float: left;
    }

        #txt_pickupaddress table {
            background: #fff !important;
            box-shadow: none !important;
        }

            #txt_pickupaddress table tr td {
                padding: 2px;
                border: 1px solid gray;
            }

    #txt_dropoffaddress table {
        background: #fff !important;
        box-shadow: none !important;
    }

        #txt_dropoffaddress table tr td {
            padding: 2px;
            border: 1px solid gray;
        }

    .from-box1 {
        color: #0277BD;
        font-size: 170%;
        margin-left: 185px;
        font-weight: 700;
    }

    #multiple_drop_grid table tbody tr :hover {
        cursor: pointer;
    }

    #costumModal25 thead {
        display: none;
    }

    .k-grid-header {
        padding-right: 5px !important;
    }

    #PaymentMethod_GRID thead {
        display: none;
    }

    #from_txt_vehicle_box .k-select {
        background-image: url('../../Themes/images/dropdown_menu.png');
        background-repeat: no-repeat;
        width: 31px;
        height: 34px;
        top: 5px;
    }
</style>
<script>
    var mul_drop_loc = [];
    var dataJSON_tarif = [];
    var mul_drop_loc_change_order = [];

    $(document).ready(function () {
        if (!Number.prototype.toLowerCase) {
            Number.prototype.toLowerCase = function () {
                return this.toString();
            }
        }
        bind_tariff_drop();
        $('#paypal-button-container').hide();

        //$('#costumModal25_Payment').modal('show');
        //GetPayment();

        $('#ActiveStep').text("step1");
        $('#ActivePage').text("Pick up");

    });

    function step2Move() {
        var from_txt_street = true;
        var from_txt_notes = true;
        var from_txt_name = (CheckValueNullOrNOT($('#from_txt_name').val()));
        if (!from_txt_name) { alert('Please Enter Name'); return; }

        var from_txt_number = (CheckValueNullOrNOT($('#from_txt_number').val()));
        if (!from_txt_number) { alert('Please Enter Number'); return; }

        var from_txt_vehicle = (CheckValueNullOrNOT($('#from_txt_vehicle').val()));
        if (!from_txt_vehicle) { alert('Please Select Vehicle'); return; }

        var from_txt_time = (CheckValueNullOrNOT($('#from_txt_time').val()));
        if (!from_txt_time) { alert('Please Select Time'); return; }

        var from_txt_postcode = (CheckValueNullOrNOT($('#from_txt_postcode').val()));
        if (!from_txt_postcode) { alert('Please Enter Postcode'); return; }

        var from_txt_address = (CheckValueNullOrNOT($('#from_txt_address').val()))
        if (!from_txt_address) { alert('Please Select Address'); return; }

        if (from_txt_name && from_txt_number && from_txt_vehicle && from_txt_time && from_txt_postcode && from_txt_address && from_txt_street && from_txt_notes) {
            $.showLoading({ name: 'circle-turn' });
            $('#ActiveStep').text("step2");
            $('#ActivePage').text("Drop off");
            $("#step1").hide();
            $("#step2").show();
            bind_drop_off_Grid();
            $("#step3").hide();
            toggle_Click();
            $.hideLoading({ name: 'circle-turn' });
        }else{
            $('#ActivePage').text("Drop off");
        }
    }
    function step3Move() {
        if (mul_drop_loc.length > 0) {
            $.showLoading({ name: 'circle-turn' });
            $('#ActiveStep').text("step3");
            $('#ActivePage').text("Confirm");
            $("#step1").hide();
            $("#step2").hide();
            $("#step3").show();
            display_conformition();
            $.hideLoading({ name: 'circle-turn' });
        } else {
            var to_txt_street = true;
            var to_txt_postcode = (CheckValueNullOrNOT($('#to_txt_postcode').val()));
            if (!to_txt_postcode) { alert('Please Enter Postcode'); return; }

            var to_txt_address = (CheckValueNullOrNOT($('#to_txt_address').val()));
            if (!to_txt_address) { alert('Please Select Address'); return; }

            if (to_txt_postcode && to_txt_address && to_txt_street) {
                $.showLoading({ name: 'circle-turn' });
                $('#ActiveStep').text("step3");
                $('#ActivePage').text("Confirm");
                $("#step1").hide();
                $("#step2").hide();
                $("#step3").show();
                another_btn_click();
                display_conformition();

                $.hideLoading({ name: 'circle-turn' });
            }else{
                $('#ActivePage').text("Confirm");
            }
        }
    }
    function ConformBook() {
        var r = confirm("Conform Book Now ?");
        if (r == true) {
            $('#costumModal25_Payment').modal('show');
            GetPayment();
        }
    }

    function SuccessPayment(PaymentData, Select_PayId) {
        $.showLoading({ name: 'circle-turn' });
        var wayType = false;
        if ($("#toggle_btn").prop('checked') == true) {
            wayType = true;
        }
        var fromjob_data = {
            from_job_id: 0,
            from_job_name: $('#from_txt_name').val(),
            from_job_number: $('#from_txt_number').val(),
            from_job_street: $('#from_txt_street').val(),
            from_job_postcode: $('#from_txt_postcode').val(),
            from_job_address: $('#from_txt_address').val(),
            from_job_notes: $('#from_txt_notes').val(),
            from_job_time: $('#from_txt_time').val(),
            vehicletype: $('#from_txt_vehicle').val(),
            status: 0,
            PaymentData: PaymentData,
            PaymentType: Select_PayId,
            Miles:$('#distance_txt').text(),
            Amount: $('#Cost_Of_Journey1').text(),
            WayType: wayType
        }
        var to_job_list = '';
        _.each(mul_drop_loc, function (to_job_row) {
            if (to_job_row.street != null && to_job_row.street != '') {
                to_job_list = to_job_list + to_job_row.address + '$' + to_job_row.postcode + '$' + to_job_row.street + '+';
            }
            else {
                to_job_list = to_job_list + to_job_row.address + '$' + to_job_row.postcode + '$' + '0' + '+';
            }
        });
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("book_a_job", "booking", new { area = "Admin" })',
            data: { datafrom_job: fromjob_data, datato_job: to_job_list },
            success: function (data) {
                $.hideLoading({ name: 'circle-turn' });
                if (data.msg = 'success') {
                    alert('Journey Booking Sucessfully.')
                    setInterval(function () {
                        var logoutUrl = '@Url.Action("booking_form", "booking", new { area = "Admin" })';
                        window.location.href = logoutUrl;
                    }, 1000);
                    $.hideLoading({ name: 'circle-turn' });
                } else { console.log(data); $.hideLoading({ name: 'circle-turn' }); }
            }
        });
    }
    function BackClick() {
        if ($('#ActiveStep').text() == 'step2') {
            $("#step1").show();
            $("#step2").hide();
            $("#step3").hide();
            $('#ActiveStep').text("step1");
            $('#ActivePage').text("Pick up");
        }
        if ($('#ActiveStep').text() == 'step3') {
            $("#step2").show();
            $("#step3").hide();
            $("#step1").hide();
            $('#ActivePage').text("Drop off");
            $('#ActiveStep').text("step2");
        }
    }

    function bind_tariff_drop() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("get_tarrifs", "AdminPannel", new { area = "Admin" })',
            success: function (data) {
                dataJSON_tarif = JSON.parse(data.data_tarif);
                $("#from_txt_vehicle").kendoDropDownList({
                    index: 0,
                    dataTextField: "tariff_name",
                    dataValueField: "tariff_id",
                    dataSource: dataJSON_tarif,
                    optionLabel: "Tariff *",
                    change: onchange_cost
                });
            }
        });
        $("#from_txt_time").clockpicker({
            placement: 'middle',
            autoclose: true,
        });

    }
    function up(uid) {
        var grid = $("#multiple_drop_grid").data("kendoGrid");
        var dataItem = grid.dataSource.getByUid(uid);
        var index = grid.dataSource.indexOf(dataItem);
        var newIndex = Math.max(0, index - 1);

        if (newIndex != index) {
            grid.dataSource.remove(dataItem);
            grid.dataSource.insert(newIndex, dataItem);
        }
        DataChangePosition();
        CountAmmount();
        return false;
    }

    function down(uid) {
        var grid = $("#multiple_drop_grid").data("kendoGrid");
        var dataItem = grid.dataSource.getByUid(uid);
        var index = grid.dataSource.indexOf(dataItem);
        var newIndex = Math.min(grid.dataSource.total() - 1, index + 1);

        if (newIndex != index) {
            grid.dataSource.remove(dataItem);
            grid.dataSource.insert(newIndex, dataItem);
        }
        DataChangePosition();
        CountAmmount();
        return false;
    }

    var tariff_include_miles = 0;
    var tariff_per_mile = 0;
    var tariff_initial_charge = 0;

    function onchange_cost() {
        var select_vehicle = $('#from_txt_vehicle').val();
        _.each(dataJSON_tarif, function (tariff_list) {
            if (tariff_list.tariff_id == select_vehicle) {
                tariff_include_miles = tariff_list.tariff_include_miles;
                tariff_per_mile = tariff_list.tariff_per_mile;
                tariff_initial_charge = tariff_list.tariff_initial_charge;
            }
        });
    }

    function unique(list) {
        var result = [];
        $.each(list, function (i, e) {
            if ($.inArray(e, result) == -1) result.push(e);
        });
        return result;
    }

    var SelectedBranch = [];
    var selectedRecords = [];

    function postcodeToAddress(setid, valueid, streetId) {
        var address_t = [];
        var street_t = [];
        var unick_street = [];
        if ($('#' + valueid).val() != '') {
            $.showLoading({ name: 'circle-turn' });
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("get_postcode_to_address", "booking", new { area = "Admin" })',
                data: { postcode: $('#' + valueid).val() },
                success: function (data) {
                    var dataJSON_add_list = data.data;
                    $('#costumModal25').modal('show');

                    var element = $("#Address_GRID").kendoGrid({
                        dataSource: dataJSON_add_list,
                        sortable: true,
                        columns: [
                              { selectable: true, width: "60px" },
                              { field: "AddressId", title: "Address", template: '<div style="text-align:left">#=AddressId#</div>' },
                        ],
                        change: function onChange(e) {
                            SelectedBranch = [];
                            selectedRecords = [];
                            SelectedBranch.push(this.selectedKeyNames());
                            var rows = e.sender.select();
                            rows.each(function (e) {
                                var grid = $("#Address_GRID").data("kendoGrid");
                                var dataItem = grid.dataItem(this);
                                selectedRecords.push(dataItem.AddressId);
                                var split_add = selectedRecords[0].split(',');
                                $("#" + setid).val(split_add[0]);
                                var st_str = '';
                                for (var i = 0; i <= split_add.length - 1; i++) {
                                    if (i != 0) {
                                        st_str = st_str + (split_add[i].trim() + ',');
                                    }
                                }
                                $("#" + streetId).val(st_str.trim().replace(/,\s*$/, ""));
                                $('#costumModal25').modal('hide');
                            });
                        }
                    });

                    $.hideLoading({ name: 'circle-turn' });
                }
            });
        } else { alert('Enter postcode'); return; }
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function DataChangePosition()
    {
        mul_drop_loc = [];
        var Grid = $("#multiple_drop_grid").data("kendoGrid");
        var data = Grid.dataSource.data();
        var totalNumber = data.length;
        for (var i = 0; i < totalNumber; i++) {
            var currentDataItem = data[i];
            mul_drop_loc.push(currentDataItem);
        }
        console.log('Multiple Array ',mul_drop_loc);
    }

    async function submit_another_location() {
        var FinalTotal = 0;
        if ($('#another_txt_address').val() != '' && $('#another_txt_street').val() != '' && $('#another_txt_postcode').val() != '') {
            $.showLoading({ name: 'circle-turn' });

            var another_txt_address = $('#another_txt_address').val();
            var another_txt_street = $('#another_txt_street').val();
            var another_txt_postcode = $('#another_txt_postcode').val();
            var noSeriase = '';
            if ($('#location_edit_id').text() != '') {
                noSeriase = $('#location_edit_id').text();
                remove_location_up(noSeriase);
                $('#location_edit_id').text('');

            } else {
                noSeriase = mul_drop_loc.length + 1;
            }

            var startingAdd = $('#from_txt_address').val() + ',' + $('#from_txt_street').val()+' '+$('#from_txt_postcode').val().toUpperCase()+', UK';
            var end_Address = another_txt_address+','+another_txt_street+' ' + another_txt_postcode.toLowerCase().toUpperCase() +', UK';
            console.log('startingAdd',startingAdd);
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var waypts = [];
            directionsService.route({
                origin: startingAdd,
                destination:end_Address,
                waypoints: waypts,
                optimizeWaypoints: false,
                avoidHighways: false,
                unitSystem: google.maps.UnitSystem.IMPERIAL,
                avoidTolls: false,
                travelMode: google.maps.TravelMode.DRIVING

            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];
                    for (var i = 0; i < route.legs.length; i++) {
                        var distance_Type = route.legs[i].distance.text;
                        console.log(distance_Type);
                        if (distance_Type.indexOf('mi') !== -1)
                        {
                            var distance1 =( route.legs[i].distance.text).replace('mi', '').replace(',', '');
                            FinalTotal =parseFloat(distance1);
                        }else{FinalTotal =0;}
                    }

                }
            });
            await sleep(1800);
            console.log('FinalTotal ',FinalTotal);
            var arr = { "no": noSeriase, "postcode": another_txt_postcode, "address": another_txt_address, "street": another_txt_street,"distance":FinalTotal };

            mul_drop_loc.push(arr);
            cancel_another_location();
            bind_drop_off_Grid();
            $('#to_txt_address').val('');
            disable_field();

            $.hideLoading({ name: 'circle-turn' });
        }
        else { alert('Enter DropDetails'); }
    }
    function cancel_another_location() {
        $('#another_txt_address').val('');
        $('#another_txt_street').val('');
        $('#another_txt_postcode').val('');
    }
    function disable_field() {
        $("#to_txt_postcode").prop('disabled', true);
        $("#to_txt_street").prop('disabled', true);
        $("#to_txt_address").prop('disabled', true);
        $('#drop_first_area').hide();
    }
    function editable_field() {
        $("#to_txt_postcode").prop('disabled', false);
        $("#to_txt_street").prop('disabled', false);
        $("#to_txt_address").prop('disabled', false);
        $('#drop_first_area').show();
    }

    function CountAmmount()
    {
        if(mul_drop_loc.length > 0)
        {
            var waypts = [];
            for (var i = 0; i < mul_drop_loc.length - 1; i++) {
                waypts.push({
                    location: mul_drop_loc[i].address + ',' + mul_drop_loc[i].street+' '+mul_drop_loc[i].postcode+', UK',
                    stopover: true
                });
            }
            var startingAdd = $('#from_txt_address').val() + ',' + $('#from_txt_street').val()+' '+$('#from_txt_postcode').val().toUpperCase()+', UK';
            var end_Address = mul_drop_loc[mul_drop_loc.length-1].address+','+mul_drop_loc[mul_drop_loc.length-1].street+' ' + mul_drop_loc[mul_drop_loc.length-1].postcode.toUpperCase() +', UK';
            console.log('startingAdd',startingAdd);
            console.log('waypts',waypts);
            console.log('end_Address',end_Address);
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;

            directionsService.route({
                origin:startingAdd,
                destination: end_Address,
                waypoints: waypts,
                optimizeWaypoints: false,
                avoidHighways: false,
                unitSystem: google.maps.UnitSystem.IMPERIAL,
                avoidTolls: false,
                travelMode: google.maps.TravelMode.DRIVING,

            }, function (response, status) {
                console.log(response);
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];

                    var FinalTotal = 0;
                    for (var i = 0; i < route.legs.length; i++) {
                        var distance_Type = route.legs[i].distance.text;
                        console.log(distance_Type);
                        if (distance_Type.indexOf('mi') !== -1)
                        {
                            FinalTotal += parseFloat((route.legs[i].distance.text).replace('mi', '').replace(',', ''));
                            console.log('FinalTotal',FinalTotal);
                        }

                    }

                    console.log('tariff_include_miles',tariff_include_miles);
                    console.log('tariff_per_mile',tariff_per_mile);
                    console.log('tariff_initial_charge',tariff_initial_charge);
                    console.log('total d: ',FinalTotal);
                    console.log('total charge: ',(parseFloat(parseFloat(FinalTotal) - parseFloat(tariff_include_miles)) * parseFloat(tariff_per_mile) + parseFloat(tariff_initial_charge)).toFixed(2));
                    if(tariff_include_miles > FinalTotal)
                    {
                        $('#Pickup_Distance').text(parseFloat(FinalTotal).toFixed(2));
                        $('#Cost_Of_Journey1').text(tariff_initial_charge);
                        $('#Cost_Of_Journey').text(tariff_initial_charge);
                        var cost_total = parseFloat($('#Cost_Of_Journey1').text()) / parseFloat(mul_drop_loc.length == 0 ? 1 : mul_drop_loc.length);
                        $('#Cost_Per_Pesenger').text(cost_total.toFixed(2));
                        $('#Cost_Per_Pesenger1').text(cost_total.toFixed(2));
                        $('#distance_txt').text(FinalTotal.toFixed(2));
                    }
                    else
                    {
                        $('#Pickup_Distance').text(parseFloat(FinalTotal).toFixed(2));
                        $('#Cost_Of_Journey1').text((parseFloat(parseFloat(FinalTotal) - parseFloat(tariff_include_miles)) * parseFloat(tariff_per_mile) + parseFloat(tariff_initial_charge)).toFixed(2));
                        $('#Cost_Of_Journey').text((parseFloat(parseFloat(FinalTotal) - parseFloat(tariff_include_miles)) * parseFloat(tariff_per_mile) + parseFloat(tariff_initial_charge)).toFixed(2));
                        var cost_total = parseFloat($('#Cost_Of_Journey1').text()) / parseFloat(mul_drop_loc.length == 0 ? 1 : mul_drop_loc.length);
                        $('#Cost_Per_Pesenger').text(cost_total.toFixed(2));
                        $('#Cost_Per_Pesenger1').text(cost_total.toFixed(2));
                        $('#distance_txt').text(FinalTotal.toFixed(2));
                    }
                }
            });
        }
    }

    function bind_drop_off_Grid() {

        if (mul_drop_loc.length < 2) {
            $('#multiple_drop_grid').hide();
            $('#Divide_cost').hide();
            $('#divide_line').hide();
            $('#divide_toggel').hide();
            $('#journey_div_center').attr('style', 'margin-left:86px;');
            $('#journey_div_center').hide();
            $('#multiple_drop_grid_order').hide();
            editable_field();
        } else {
            $('#multiple_drop_grid').show();
            $('#Divide_cost').show();
            $('#divide_line').show();
            $('#divide_toggel').show();
            $('#journey_div_center').show();
            $('#journey_div_center').attr('style', 'margin-left:0px;');
            $('#multiple_drop_grid_order').show();
            disable_field();
        }
        $('#multiple_drop_grid').empty();
        if ($("#toggle_btn").prop('checked') == false) {
            $("#multiple_drop_grid").kendoGrid({
                dataSource: mul_drop_loc,
                columns: [
                  { field: "no", title: "Order", width: "80px", hidden: true, },
                  { field: "postcode", title: "PostCode", width: "130px" },
                  { field: "address", title: "Address", width: "250px" },
                   { field: "distance", title: "distance", width: "80px",hidden: true },
                  { field: "", title: "Action", template: "<a class='fa fa-pencil-square-o' onclick='edit_location(#: no #)' style='cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: green;padding: 5px;'></a>&nbsp;<a onclick='remove_location(#: no #)' style='cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: red;padding: 5px;' class='fa fa-trash'>", width: "80px" },
                  { field: "", title: "Up-Down", template: '<a onclick="return up(\'#=uid#\')" class="fa fa-arrow-up" style="cursor:pointer;font-size:20px;color:black;border: 1px solid gray;background: white;padding: 5px;"></a><a onclick="return down(\'#=uid#\')" class="fa fa-arrow-down" style="cursor:pointer;font-size:20px;color:black;border: 1px solid gray;background: white;padding: 5px;"></a>', width: "100px" }
                ]
            });
            DataChangePosition();
            CountAmmount();
        }else{

           var mul_drop_loc_temp = [];
            var Grid = $("#multiple_drop_grid").data("kendoGrid");
            var data = Grid.dataSource.data();
            var totalNumber = data.length;
            for (var i = 0; i < totalNumber; i++) {
                var currentDataItem = data[i];
                mul_drop_loc_temp.push(currentDataItem);
            }

            mul_drop_loc.sort((a, b) => Number(a.distance) - Number(b.distance));
            $("#multiple_drop_grid").kendoGrid({
                dataSource: mul_drop_loc,
                columns: [
                  { field: "no", title: "Order", width: "80px", hidden: true, },
                  { field: "postcode", title: "PostCode", width: "130px" },
                  { field: "address", title: "Address", width: "235px" },
                 { field: "distance", title: "distance", width: "80px",hidden: true },
                  { field: "", title: "Action", template: "<a class='fa fa-pencil-square-o' onclick='edit_location(#: no #)' style='cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: green;padding: 5px;'></a>&nbsp;<a onclick='remove_location(#: no #)' style='cursor:pointer;font-size:20px;color:white;border: 1px solid gray;background: red;padding: 5px;' class='fa fa-trash'>", width: "80px" },
                ]
            });
            DataChangePosition();
            CountAmmount();
            mul_drop_loc = [];
            _.each(mul_drop_loc_temp, function (DataPostion) {
                mul_drop_loc.push(DataPostion);
            });
        }
        var orderby = '<table><tr><td style="color:#0277BD;font-size:16px;height:44px">Order</td></tr>';
        $('#multiple_drop_grid_order').empty();
        for (var i = 0; i <= mul_drop_loc.length - 1; i++) {
            orderby = orderby + '<tr><td>' + parseInt(i + 1) + '</td></tr>';
        }
        $('#multiple_drop_grid_order').append(orderby + '</table>');

    }
    function display_conformition() {
        $.showLoading({ name: 'circle-turn' });
        $('#txt_pickupaddress').empty();
        $('#txt_dropoffaddress').empty();
        var tbl_pickup = '<table><tr><td>Name: </td><td>' + $('#from_txt_name').val() + '</td></tr>' +
                          '<tr><td>Number: </td><td>' + $('#from_txt_number').val() + '</td></tr>' +
                          '<tr><td>Address: </td><td>' + $('#from_txt_address').val() + '</td></tr>' +
                          '<tr><td>Postcode: </td><td>' + $('#from_txt_postcode').val() + '</td></tr>' +
                          '<tr><td>Street: </td><td>' + $('#from_txt_street').val() + '</td></tr>' +
                          '<tr><td>Notes: </td><td>' + $('#from_txt_notes').val() + '</td></tr></table>';
        $('#txt_pickupaddress').append(tbl_pickup);
        mul_drop_loc = [];
        var Grid = $("#multiple_drop_grid").data("kendoGrid");
        var data = Grid.dataSource.data();
        var totalNumber = data.length;
        for (var i = 0; i < totalNumber; i++) {
            var currentDataItem = data[i];
            mul_drop_loc.push(currentDataItem);
        }

        var jobCount = 1;
        _.each(mul_drop_loc, function (drop_data) {
            var tbl_pickup = '<table><tr><td>Order: </td><td>' + jobCount + '</td></tr>' +
                         '<tr><td>Address: </td><td>' + drop_data.address + '</td></tr>' +
                        '<tr><td>Postcode: </td><td>' + drop_data.postcode + '</td></tr>' +
                        '<tr><td>Street: </td><td>' + drop_data.street + '</td></tr></table>';
            $('#txt_dropoffaddress').append(tbl_pickup);
            jobCount++;
        });
        DataChangePosition();
        CountAmmount();
        $.hideLoading({ name: 'circle-turn' });
    }

    async function another_btn_click() {
        var FinalTotal;
        if ($('#to_txt_address').val() != '' && $('#to_txt_postcode').val() != '') {
            $.showLoading({ name: 'circle-turn' });
            var another_txt_address = $('#to_txt_address').val();
            var another_txt_street = $('#to_txt_street').val();
            var another_txt_postcode = $('#to_txt_postcode').val();
            var noSeriase = mul_drop_loc.length + 1;
            var directionsService = new google.maps.DirectionsService();

            var startingAdd = $('#from_txt_address').val() + ',' + $('#from_txt_street').val()+' '+$('#from_txt_postcode').val().toUpperCase()+', UK';
            var end_Address = another_txt_address+','+another_txt_street+' ' + another_txt_postcode.toUpperCase() +', UK';
            console.log('startingAdd',startingAdd);
            console.log('end_Address',end_Address);
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var waypts = [];

            directionsService.route({
                origin: startingAdd,
                destination: end_Address,
                waypoints: waypts,
                optimizeWaypoints: false,
                avoidHighways: false,
                unitSystem: google.maps.UnitSystem.IMPERIAL,
                avoidTolls: false,
                travelMode: google.maps.TravelMode.DRIVING,

            }, function (response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    var route = response.routes[0];
                    for (var i = 0; i < route.legs.length; i++) {
                        var distance_Type = route.legs[i].distance.text;
                        console.log(distance_Type);
                        if (distance_Type.indexOf('mi') !== -1)
                        { var distance1 = (route.legs[i].distance.text).replace('mi', '').replace(',', '');
                            FinalTotal =parseFloat(distance1);
                        }else{
                            FinalTotal = 0;
                        }
                    }
                }
            });
            await sleep(1800);
            console.log('FinalTotal ',FinalTotal);
            var arr = { "no": noSeriase, "postcode": another_txt_postcode, "address": another_txt_address, "street": another_txt_street,"distance":FinalTotal };

            mul_drop_loc.push(arr);
            $('#to_txt_address').val('');
            $('#to_txt_street').val('');
            $('#to_txt_postcode').val('');
            bind_drop_off_Grid();

            $.hideLoading({ name: 'circle-turn' });
        }
    }

    function edit_location(loc_id) {
        $('#location_edit_id').text(loc_id);
        $('#another_location_modal').modal('show');

        _.each(mul_drop_loc, function (drop_data) {
            if (drop_data.no == loc_id) {
                $('#another_txt_address').val(drop_data.address);
                $('#another_txt_street').val(drop_data.street);
                $('#another_txt_postcode').val(drop_data.postcode);
            }
        });
    }
    function remove_location(loc_id) {
        var result = ConformDelete();
        if (result == 'YES') {
            var tmp = [];
            temp = mul_drop_loc;
            mul_drop_loc = [];
            _.each(temp, function (drop_data_remove) {
                if (drop_data_remove.no != loc_id) {
                    mul_drop_loc.push(drop_data_remove);
                }
            });
            console.log('mul_drop_loc ',mul_drop_loc.length);

            bind_drop_off_Grid();
        }
    }
    function remove_location_up(loc_id) {
        var tmp = [];
        temp = mul_drop_loc;
        mul_drop_loc = [];
        _.each(temp, function (drop_data_remove) {
            if (drop_data_remove.no != loc_id) {
                mul_drop_loc.push(drop_data_remove);
            }
        });
        console.log(mul_drop_loc);
        bind_drop_off_Grid();
    }
    function ConformDelete() {
        var txt;
        var r = confirm("Conform Now ?");
        if (r == true) {
            txt = "YES";
        } else {
            txt = "NO";
        }
        return txt;
    }
    function toggle_Click() {

        $('#text_2_toggel').attr('style', 'color: blue');
        $('#text_1_toggel').attr('style', 'color: blue');
        if ($("#toggle_btn").prop('checked') == true) {

            $('#text_2_toggel').attr('style', 'font-weight: bold;color: blue');
            $('#text_1_toggel').attr('style', 'font-weight: normal;color: black');
            bind_drop_off_Grid();
        } else {

            $('#text_1_toggel').attr('style', 'font-weight: bold;color: blue');
            $('#text_2_toggel').attr('style', 'font-weight: normal;color: black');
            bind_drop_off_Grid();
        }
    }
    function getTimeStamp() {
        var now = new Date();
        return (now.getHours() + ':' + ((now.getMinutes() < 10) ? ("0" + now.getMinutes()) : (now.getMinutes())));
    }
    function GetCurrentTime() {
        document.getElementById("from_txt_time").value = getTimeStamp();
    }
    var Select_PayId = 0;
    function GetPayment() {
        var SelectedPay = [];
        var selectedMethod = [];
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("Get_Payment", "AdminPannel", new { area = "Admin" })',
            data: { Pay_Id: 0 },
            success: function (data) {
                var dataJSON_Payment = JSON.parse(data.data_Payment);
                var element = $("#PaymentMethod_GRID").kendoGrid({
                    dataSource: dataJSON_Payment,
                    sortable: true,
                    columns: [
                          { selectable: true, width: "30px" },
                          { field: "Pay_Name", title: "Payment Type", template: '<div style="text-align:left">#=Pay_Name#</div>' },
                    ],
                    change: function onChange(e) {
                        SelectedPay = [];
                        selectedMethod = [];
                        //SelectedPay.push(this.selectedKeyNames());
                        var rows = e.sender.select();
                        rows.each(function (e) {
                            var grid = $("#PaymentMethod_GRID").data("kendoGrid");
                            var dataItem = grid.dataItem(this);
                            Select_PayId = dataItem.Pay_Type;
                            if (Select_PayId == 1) {
                                $('#paypal-button-container').show();
                            } else if (Select_PayId == 2) {
                                //$('#costumModal25_strip').modal({ backdrop: 'static', keyboard: false })
                                //$('#costumModal25_strip').modal('show');
                                // $('#costumModal25_strip').show();
                                alert('Strip Payment Process Running');
                            } else if (Select_PayId == 3) {
                                SuccessPayment('Cash Payment', Select_PayId);
                            }
                        });
                    }
                });
            }
        });
    }
    //paypal payment
    paypal.Button.render({
        env: 'sandbox', // sandbox | production
        client: {
            sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
            production: '<insert production client id>'
        },
        commit: true,
        payment: function (data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: $('#Cost_Of_Journey').text(), currency: 'USD' }
                        }
                    ]
                }
            });
        },
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {

                var PaymentData = '';
                _.each(data, function (PayData) {
                    PaymentData = PaymentData + PayData + ',';
                });
                SuccessPayment(PaymentData, Select_PayId);
            });
        }
    }, '#paypal-button-container');


    function StripCancel() {
        $('#costumModal25_strip').modal('hide');
    }
    function SubmitStrip() {
        var stripe = Stripe('pk_test_gz44KxgHfxwAqXMKP0u13hX8');
        var elements = stripe.elements();
        var card = elements.create('card');
        card.mount('#card_no');

        var ccNum = $('#card_no').val();
        var cvcNum = $('#cvc_number').val();
        var expMonth = $('#ex_month').val();
        var expYear = $('#ex_years').val();
        var data = {
            number: ccNum,
            cvc: cvcNum,
            exp_month: expMonth,
            exp_year: expYear
        }
        var stripeResponseHandler = function (status, response) {

            var token = response.id;
            var form;
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token);
            hiddenInput.setAttribute('number', ccNum);
            hiddenInput.setAttribute('cvc', cvcNum);
            hiddenInput.setAttribute('exp_month', expMonth);
            hiddenInput.setAttribute('exp_year', expYear);
            form.appendChild(hiddenInput);
            form.submit();

        }
        Stripe.card.createToken(form, stripeResponseHandler);

    }
    function createToken() {
        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server
                stripeTokenHandler(result.token);
            }
        });
    };
    function stripeTokenHandler(token) {
        var ccNum = $('#card_no').val();
        var cvcNum = $('#cvc_number').val();
        var expMonth = $('#ex_month').val();
        var expYear = $('#ex_years').val();

        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token);
        hiddenInput.setAttribute('number', ccNum);
        hiddenInput.setAttribute('cvc', cvcNum);
        hiddenInput.setAttribute('exp_month', expMonth);
        hiddenInput.setAttribute('exp_year', expYear);
        form.appendChild(hiddenInput);
        form.submit();
    }

</script>
<div class="wrapper">
    <div class="dashboard-right">
        <div class="table-box">
            <h6 id="ActivePage"></h6>
            <span id="ActiveStep" style="display:none;"></span>
            <div class="page-from-bg" id="step1">
                <div class="book-form">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                            <div class="control-group">
                                <label for="selsear" class="control-label">
                                    Name:<span style="color: red">*</span>
                                </label>
                                <div class="from-box">
                                    <input placeholder="Name *" type="text" id="from_txt_name" maxlength="50" onkeypress="return (event.charCode > 31 && event.charCode < 47) || (event.charCode > 57 && event.charCode < 126)">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="selsear" class="control-label">
                                    Number:<span style="color: red">*</span>
                                </label>
                                <div class="from-box">
                                    <input placeholder="Number *" type="number" id="from_txt_number" onKeyDown="if(this.value.length==15 && event.keyCode!=8) return false;">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="selsear" class="control-label">
                                    Vehicle:<span style="color: red">*</span>
                                </label>
                                <div class="from-box" id="from_txt_vehicle_box">
                                    <input placeholder="Vehicle *" type="text" id="from_txt_vehicle">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="selsear" class="control-label">
                                    Time:<span style="color: red">*</span>
                                </label>
                                <div class="from-box">
                                    <input placeholder="Time *" type="text" id="from_txt_time" style="width:75% !important" readonly="readonly">
                                    <button type="button" id="nowdate" onclick="GetCurrentTime()" style="width:22%;color:white;background-color:#0277BD;height:38px">Now</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                            <div class="control-group">
                                <label for="selsear" class="control-label">
                                    Postcode:<span style="color: red">*</span>
                                </label>
                                <div class="from-box">
                                    <input placeholder="Postcode *" type="text" id="from_txt_postcode" onchange="postcodeToAddress('from_txt_address', 'from_txt_postcode', 'from_txt_street');" style='text-transform:uppercase'>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="selsear" class="control-label">
                                    Address:<span style="color: red">*</span>
                                </label>
                                <div class="from-box">
                                    <input placeholder="Address *" type="text" id="from_txt_address" readonly="readonly">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="selsear" class="control-label">
                                    Street:<span style="color: gray"></span>
                                </label>
                                <div class="from-box">
                                    <input placeholder="Street" type="text" id="from_txt_street" readonly="readonly">
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="selsear" class="control-label">
                                    Notes:<span style="color: red"></span>
                                </label>
                                <div class="from-box">
                                    <input placeholder="Notes" type="text" id="from_txt_notes">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>

                    <div class="arrow-steps">
                        <div class="step current"> <span>PICKUP</span> </div>
                        <div class="step"><a href="#" onclick="step2Move();" style="text-decoration:none;color:white;"> <span> DROP OFF</span></a> </div>
                        <div class="step"> <span>CONFIRM </span> </div>

                    </div>

                </div>
            </div>
            <div class="page-from-bg" id="step2" style="display:none;">
                <div class="book-form">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12 from-box-width">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                            <span id="location_edit_id" style="display:none;"></span>
                            <div id="drop_first_area">
                                <div class="control-group">
                                    <label for="selsear" class="control-label">
                                        Postcode:<span style="color: red">*</span>
                                    </label>
                                    <div class="from-box">
                                        <input placeholder="Postcode *" type="text" id="to_txt_postcode" onchange="postcodeToAddress('to_txt_address', 'to_txt_postcode', 'to_txt_street');" style='text-transform:uppercase'>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="selsear" class="control-label">
                                        Address:<span style="color: red">*</span>
                                    </label>
                                    <div class="from-box">
                                        <input placeholder="Address *" type="text" id="to_txt_address" readonly="readonly">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="selsear" class="control-label">
                                        Street:<span style="color: red"></span>
                                    </label>
                                    <div class="from-box">
                                        <input placeholder="Street" type="text" id="to_txt_street" readonly="readonly">
                                    </div>
                                </div>
                            </div>

                            <div class="from-box">
                                <a class="another-btn-2" href="#another_location_modal" data-keyboard="false" data-backdrop="static" data-toggle="modal" onclick="another_btn_click()"><i class="fa fa-map-marker"></i>Add Another Location</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 from-box-width">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 formate">
                            <div class="col-sm-6 toggal-text-3" id="journey_div_center">
                                <span>Distance: </span><i class="fa fa-road" style="font-size:18px;"><span id="Pickup_Distance"></span> </i>
                                <span style="margin-left: 20px;">Cost Of Journey : </span>
                                <i class="fa fa-gbp" style="font-size:18px;"><span id="Cost_Of_Journey"></span></i>
                            </div>
                            <div class="col-sm-6" id="Divide_cost">
                                <span>Cost Per location :</span>
                                <i class="fa fa-gbp" style="font-size:18px;"><span id="Cost_Per_Pesenger"></span></i>
                            </div>
                        </div>
                        <div class="col-sm-12" style="border-bottom:3px solid gray;margin-bottom:10px;" id="divide_line"></div>
                        <div class="row" id="divide_toggel">
                            <div class="col-sm-12">
                                <div class="col-sm-5 toggal-text-3"><span id="text_1_toggel">Drop off in the order below</span></div>
                                <div class="col-sm-2 toggal-text-2">
                                    <label class="switch">
                                        <input type="checkbox" id="toggle_btn" onchange="toggle_Click()">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="col-sm-5 toggal-text-1"><span id="text_2_toggel">Use most efficient route</span></div>
                            </div>
                        </div>
                        <div class="col-sm-12 branch-table">
                            <div class="col-sm-2" id="multiple_drop_grid_order" style="padding-right:0px;padding-left: 0px;margin-right:-1%"></div>
                            <div class="col-sm-10" id="multiple_drop_grid" style="padding-right:0px;padding-left: 0px;"></div>
                        </div>
                    </div>

                    <div class="arrow-steps">
                        <div class="step current"><a href="#" onclick="BackClick();" style="text-decoration:none;color:white;"><span>PICKUP</span></a></div>
                        <div class="step current"> <span>DROP OFF</span> </div>
                        <div class="step"><a href="#" onclick="step3Move();" style="text-decoration:none;color:white;"> <span>CONFIRM</span></a></div>

                    </div>

                </div>
            </div>
            <div class="page-from-bg" id="step3" style="display:none;">
                <div class="book-form-full">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <span class="from-box1">Pick up</span>
                                <div class="from-box">
                                    <span id="txt_pickupaddress"></span>
                                </div>
                                <div class="col-sm-12">
                                    <label>Distance :<span id="distance_txt">000</span></label><br>
                                </div>
                                <div class="col-sm-12">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <span class="from-box1">Drop off</span>
                                <div class="from-box">
                                    <span id="txt_dropoffaddress" style="height:300px;overflow:auto;width:100%;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12 formate">
                        <div class="col-sm-6 toggal-text-3">
                            <span>Cost Of Journey :</span>
                            <i class="fa fa-gbp" style="font-size:18px;"><span id="Cost_Of_Journey1"></span></i>
                        </div>
                        <div class="col-sm-6">
                            <span>Cost Per location :</span>
                            <i class="fa fa-gbp" style="font-size:18px;"><span id="Cost_Per_Pesenger1"></span></i>
                        </div>
                    </div>
                    <div class="form-btn">
                        <ul>
                            <li><a href="#" onclick="ConformBook();" style="width: 76px;">Book</a></li>
                        </ul>
                    </div>

                    <div class="arrow-steps" style="margin-left: 16%;">
                        <div class="step current"> <span>PICKUP</span> </div>
                        <div class="step current"><a href="#" onclick="BackClick();" style="text-decoration:none;color:white;"> <span>DROP OFF</span></a> </div>
                        <div class="step current"><span>CONFIRM</span></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div id="another_location_modal" class="modal" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <center>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>

                </div>
                <div class="modal-body">
                    <div class="col-md-6 col-sm-6 col-xs-12 from-box-width">
                        <h3 class="another-heading1">Another Drop off</h3>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Postcode:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Postcode *" type="text" id="another_txt_postcode" onchange="postcodeToAddress('another_txt_address', 'another_txt_postcode', 'another_txt_street');" style='text-transform:uppercase'>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Address:<span style="color: red">*</span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Address *" type="text" id="another_txt_address" readonly="readonly">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="selsear" class="control-label">
                                Street:<span style="color: red"></span>
                            </label>
                            <div class="from-box">
                                <input placeholder="Street" type="text" id="another_txt_street" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-btn">
                            <ul>
                                <li><a href="#" onclick="submit_another_location();" data-dismiss="modal">Add</a></li>
                                <li><a href="#" onclick="cancel_another_location()" data-dismiss="modal">Cancel</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>

<div id="costumModal25" class="modal" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h2>Address List</h2>
            </div>
            <div class="modal-body">
                <div class="branch-table grid-height" style="width: 98%;margin-left: 1%;height: 350px;">
                    <div id="Address_GRID"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="costumModal25_Payment" class="modal" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h2>Payment Method</h2>
            </div>
            <div class="modal-body">
                <div class="branch-table grid-height" style="width: 70%;margin-left: 1%;height: 350px;">
                    <div id="PaymentMethod_GRID" style="margin-left:28%;"></div>
                </div>
                <div id="paypal-button-container" style="margin-top: 32%;margin-left: 35%;position: absolute;"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="costumModal25_strip" class="modal" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true" style="background:#FAF5E1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="branch-table grid-height" style="width:70%;margin-left: 10%;height: 200px;">
                    <table>
                        <tr>
                            <td>Card Number</td>
                            <td><input type="text" id="card_no" /></td>
                        </tr>
                        <tr>
                            <td>Expiration (MM/YY)</td>
                            <td><input type="text" style="width:50%;" id="ex_month" /><input type="text" style="width:50%;" id="ex_years" /></td>
                        </tr>
                        <tr>
                            <td>CVC </td>
                            <td><input type="text" id="cvc_number" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align:left;">
                                <input type="button" style="width:48%;" value="Pay Now" onclick="SubmitStrip();" />
                                <input type="button" onclick="StripCancel();" style="width:50%;" value="Cancel" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>