﻿@{
    ViewBag.Title = "OperatorConsole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanel.cshtml";
}

<script type="text/javascript" src="~/Themes/js/jquery-ui-range-slider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyC6NJR2j3dlZdZNh_n7FZDghYULahe-eKM&sensor=false&libraries=geometry"></script>

<style>
    #content1 {
        width: 100%;
    }

    .pd-rgt {
        padding: 0px !important;
        /*width: 100% !important;*/
    }

    #search_job_grid .k-grid-header {
        padding: 0 !important;
    }

    #search_job_grid .k-grid-content {
        overflow-y: visible;
    }

    #job_queue_grid thead {
        display: none;
    }

    /*::-webkit-scrollbar {
            width: 4px;
        }*/

    .k-checkbox-label .k-no-text {
        display: none;
    }

    .k-grid input.k-checkbox + label.k-checkbox-label {
        cursor: default;
        outline: 0;
        text-align: center !important;
        left: 38%;
    }

    table thead tr td .k-checkbox {
        display: none !important;
    }

    .k-select {
        background-image: url('../../Themes/images/calender.png');
    }

    .pck {
        width: 17%;
    }

    .k-grid-header {
        border: 1px solid gray;
    }

        .k-grid-header .k-grid-header-wrap.k-auto-scrollable table tr th:first-child label {
            display: none !important;
        }

    .from-box1 {
        color: #0277BD;
        font-size: 170%;
        margin-left: 185px;
        font-weight: 700;
    }

    .summary {
        width: 10%;
        border: 1px solid #808080;
    }

    .summry {
        width: 10%;
    }

    #assign_job_summary .modal-content {
        width: 100%;
        float: left;
        top: -172px;
    }

    #pending_job_summary .modal-dialog {
        width: 80%;
        top: -44px;
    }

    #txt_drivers div.k-grid-footer, #txt_drivers div.k-grid-header {
        padding-right: 17px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        zoom: 1;
        padding-right: 5px !important;
    }
</style>
<script>
    var DriverList = [];
    var TimeValueList = [];
    var myarr = [];
    var myarrNew = [];
    var mainDriverDB = [];
    var driver_list = [];
    var todayAll_job = [];
    var Driver_full_details = [];
    $(document).ready(function () {

        if (!Number.prototype.toLowerCase) {
            Number.prototype.toLowerCase = function () {
                return this.toString();
            }
        }
        get_driver();
        getDriver_Count();
        set_current_date();

        GetJOBDateWise(CurrentDate());
        ChartJOBDateWise(CurrentDate());
        getToday_jobdata(CurrentDate());

        setInterval(function () {
            get_driver();
            GetJOBDateWise(CurrentDate());
            ChartJOBDateWise(CurrentDate());
            getToday_jobdata(CurrentDate());
            
        }, 60000);

        //var socket = io.connect("http://localhost:8083");
        //socket.emit('UserId', 0);
        //socket.on('Notification_Driver', function (dataJourney) {
        //    console.log(dataJourney.recordsets[0]);
        //});
    });
    var job_id_list = [];
    var dataJSON = [];
    function GetJOBDateWise(Se_date) {
        job_id_list = [];
        $.showLoading({ name: 'circle-fade' });
        $('#job_queue_grid').empty();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("GetJobsDateWise", "OperatorConsole", new { area="Admin"})',
            data: { select_Date_JOB: Se_date },
            success: function (data) {
                dataJSON = JSON.parse(data.data);

                _.each(dataJSON, function (job) {
                    var arr = { "from_job_id": job.from_job_id };
                    job_id_list.push(arr);
                });

                var temp = {}
                for (var i = 0; i < job_id_list.length; i++) {
                    temp[job_id_list[i].from_job_id] = job_id_list[i];
                }
                job_id_list = [];
                for (var o in temp) {
                    job_id_list.push(temp[o]);
                }
                var element = $("#job_queue_grid").kendoGrid({
                    dataSource: job_id_list,
                    sortable: true,
                    columns: [
                    { field: "from_job_id", title: "JOB ID", width: "150px", template: "<a style='cursor:pointer;color:black;font-size:15px;text-decoration: none;' onclick='pending_summary(#=from_job_id#)'><div style='background-color:yellow;text-align:center;width:25%;'>#= from_job_id #</div></a>" },
                    ],
                });
                $(".scrollbar").css('height', window.innerHeight - 80);
            }
        });
        $.hideLoading({ name: 'circle-fade' });
    }

    async function getDriverTarrifwise(jobId) {
        $.showLoading({ name: 'circle-fade' });
        driver_list = [];
        var address_Start = [];
        _.each(dataJSON, function (from_job_data) {
            if (from_job_data.from_job_id == jobId) {
                address_Start.push(from_job_data.from_job_address);
            }});

        var startAddress = address_Start[0];
        var latitude_job,longitude_job;
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode( { 'address': startAddress}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                latitude_job = results[0].geometry.location.lat();
                longitude_job = results[0].geometry.location.lng();
            }
        });
        await sleep(1500);

        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("getDriverTarrifwise", "AdminPannel", new { area = "Admin" })',
            data: { "jobid": jobId },
            success: function (data) {
                var dataJSON_driver = JSON.parse(data.data_driver);
                Driver_full_details = [];
               
                _.each(dataJSON_driver, function (driver_lst) {
                    console.log('driver',driver_lst.driver_let, driver_lst.driver_lon);
                    console.log('journey',latitude_job, longitude_job);
                    //var distance = google.maps.geometry.spherical.computeDistanceBetween(new google.maps.LatLng(latitude_job, longitude_job), new google.maps.LatLng(driver_lst.driver_let, driver_lst.driver_lon));
                    var distance = getDistanceFromLatLonInKm(latitude_job, longitude_job,driver_lst.driver_let, driver_lst.driver_lon)
                    var arrD = { "driver_id": driver_lst.driver_id, "driver_uni": driver_lst.uni_no, "distance":parseFloat(distance).toFixed(2)};
                    driver_list.push(arrD)
                    DriverList.push(driver_lst.driver_id);
                    Driver_full_details.push(driver_lst);
                });
                bind_driver_grid();
                $.hideLoading({ name: 'circle-fade' });
            }
        });
    }
    function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
        var R = 6371; // Radius of the earth in km
        var dLat = deg2rad(lat2-lat1);  // deg2rad below
        var dLon = deg2rad(lon2-lon1); 
        var a = 
          Math.sin(dLat/2) * Math.sin(dLat/2) +
          Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
          Math.sin(dLon/2) * Math.sin(dLon/2)
        ; 
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
        var d = R * c; // Distance in km
        return d;
    }

    function deg2rad(deg) {
        return deg * (Math.PI/180)
    }
    function get_driver() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("get_Driver_List", "OperatorConsole", new { area = "Admin" })',
            success: function (data) {
                Driver_full_details = [];
                var dataJSON_driver = JSON.parse(data.data_driver);
                _.each(dataJSON_driver, function (driver_lst) {
                    DriverList.push(driver_lst.driver_id);
                    Driver_full_details.push(driver_lst);
                });
            }
        });
    }
    var SelectedBranch = [];
    var selectedRecords = [];
    function bind_driver_grid() {
        $('#txt_drivers').empty();

        SelectedCompany = [];
        driver_list.sort((a, b) => Number(a.distance) - Number(b.distance));
        var element = $("#txt_drivers").kendoGrid({
            dataSource: driver_list,
            sortable: true,
            columns: [
                  { selectable: true, width: "40px" },
                  { field: "driver_uni", title: "Driver ID", width: "100px" },
                  { field: "distance", title: "Distance", width: "100px" },

            ],
            change: function onChange(e) {
                SelectedBranch = [];
                selectedRecords = [];
                SelectedBranch.push(this.selectedKeyNames());
                var rows = e.sender.select();
                rows.each(function (e) {
                    var grid = $("#txt_drivers").data("kendoGrid");
                    var dataItem = grid.dataItem(this);
                    selectedRecords.push(dataItem.driver_id);
                });
            }
        });
       
    }
    //function DriverAvailableCheck(DriverId) {
    //    var Dstatus;

    //    return Dstatus;
    //}

    function assign_job() {
        if (selectedRecords.length > 0) {
            if (selectedRecords.length < 2) {
                $.showLoading({ name: 'circle-fade' });
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("DriverAvailable", "OperatorConsole", new { area="Admin"})',
                    data: { DriverId: selectedRecords[0] },
                    success: function (data) {
                        var Dstatus = data.result;
                        if (Dstatus != '0') {
                            alert('Driver already allocate another journey');
                            selectedRecords = [];
                            $('#pending_job_summary').modal('hide');
                            $.hideLoading({ name: 'circle-fade' });
                            return;
                        } else {
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: '@Url.Action("assign_driver", "OperatorConsole", new { area="Admin"})',
                                data: { from_jobid: $('#hiddn_drop_id').text() == '' ? 0 : $('#hiddn_drop_id').text(), drive_id: selectedRecords[0] },
                                success: function (data) {
                                    $('#pending_job_summary').modal('hide');
                                    $.hideLoading({ name: 'circle-fade' });
                                    alert('Assign Driver Successfully', 'Please Wait...');
                                    setInterval(function () {
                                        window.location.reload();
                                    }, 1000);
                                }
                            });
                        }
                    }
                });
            } else {
                alert('Select only one driver');
                return;
            }
        } else {
            alert('Select driver'); return;
        }
    }
    function pending_summary(fjob_id) {
        getDriverTarrifwise(fjob_id);
        $('#pending_job_summary').modal('show');
        $('#hiddn_drop_id').text(fjob_id);
        $.showLoading({ name: 'circle-turn' });
        $('#txt_pickupaddresss').empty();
        $('#txt_dropoffaddresss').empty();
        var tbl_pickup = '';
        var t_t_address = [];
        var Ammount_string = 0;
        _.each(dataJSON, function (from_job) {
            if (from_job.from_job_id == fjob_id) {
                tbl_pickup = '<table><tr><td class=summry>Name: </td><td>' + from_job.from_job_name + '</td></tr>' +
                         '<tr><td class=summry>Number: </td><td>' + from_job.from_job_number + '</td></tr>' +
                         '<tr><td class=summry>Address: </td><td>' + from_job.from_job_address + '</td></tr>' +
                         '<tr><td class=summry>Postcode: </td><td>' + from_job.from_job_postcode + '</td></tr>' +
                         '<tr><td class=summry>Notes: </td><td>' + from_job.from_job_notes + '</td></tr></table>';
                t_t_address.push(from_job.from_job_address);
                Ammount_string = from_job.Amount;
            }
        });
        $('#txt_pickupaddresss').append(tbl_pickup);

        var tbl_pickup1
        var t_f_address = [];
        var i = 1;
        _.each(dataJSON, function (drop_job) {
            if (drop_job.from_job_id == fjob_id) {
                tbl_pickup1 = '<table style="margin-bottom: 20px;"><tr><td class="pck">Order: </td><td>' + i + '</td></tr>' +
                        '<tr><td class="pck">Address: </td><td>' + drop_job.tojob_address + '</td></tr>' +
                       '<tr><td class="pck">Postcode: </td><td>' + drop_job.tojob_postcode + '</td></tr>' +
                       '</table>';
                $('#txt_dropoffaddresss').append(tbl_pickup1);
                i++;
                t_f_address.push(drop_job.tojob_address);
            }
        });

        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var waypts = [];

        for (var i = 0; i < t_f_address.length - 1; i++) {
            waypts.push({
                location: t_f_address[i],
                stopover: true
            });
        }
        var starting =t_t_address[0];
        var Ending = t_f_address[t_f_address.length - 1];
        console.log('starting',starting);
        console.log('Ending',Ending);
        console.log('waypts',waypts);
        directionsService.route({
            origin: starting,
            destination: Ending,
            waypoints: waypts,
            optimizeWaypoints: false,
            avoidHighways: false,
            unitSystem: google.maps.UnitSystem.IMPERIAL,
            avoidTolls: false,
            travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];

                var totalDistance = 0;
                for (var i = 0; i < route.legs.length; i++) {
                    var distance_Type = route.legs[i].distance.text;
                    if (distance_Type.indexOf('mi') !== -1)
                    {
                        console.log(route.legs[i].distance.text);
                        totalDistance +=parseFloat(route.legs[i].distance.text);
                    }
                }
                $('#distance_p').text(parseFloat(totalDistance).toFixed(2));
                $('#amount_txt_p').text(Ammount_string);
                $('#JobId_txt_p').text(fjob_id);
                  
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
        $.hideLoading({ name: 'circle-turn' });
    }

    function ChartJOBDateWise(Chart_date_select) {

        $('#MainDiv').empty();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("GetAssignJobsDateWise", "OperatorConsole", new { area="Admin"})',
            data: { Select_Chart_dt: Chart_date_select },
            success: function (data) {
                var count = 1
                var dataJSON1 = JSON.parse(data.data);
                mainDriverDB = [];
                _.each(unique(DriverList), function (DriverNO) {
                    var Driver_DriverNO = [];
                    _.each(dataJSON1, function (item) {
                        if (item.Driver_Id == DriverNO) {
                            Driver_DriverNO.push(item);
                        }
                    });
                    mainDriverDB.push(Driver_DriverNO);
                });

                if (unique(DriverList).length != 0) {
                    _.each(unique(DriverList), function (DriverNOId) {

                        $('#MainDiv').append('<div class="box-border" style="height:44px;">' +
                                                   '<div class="green-border" id="d_Login_' + DriverNOId + '"></div>' +
                                                   '<div class="second-box">' +
                                                       '<ul><li>driver Id <span class="first-no" id="D_id_' + DriverNOId + '"></span></li>' +
                                                           '<li>tarrif  <span class="first-no2"id="R_id_' + DriverNOId + '"></span></li>' +
                                                           '<li>[ET A] to [Next Waypdrt] <span></span></li></ul>' +
                                                  ' </div>' +
                                                   '<div class="last-box">' +
                                                       '<div class="first-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="third-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                       '<div class="first-box"></div>' +
                                                        '<div class="second-box2"></div>' +
                                                       //'<div class="first-box"></div>' +
                                                       '<div>' +
                                                           '<div class="border-line border-line-00"></div>' +
                                                           '<div class="border-line border-line-01"></div>' +
                                                           '<div class="border-line border-line-02"></div>' +
                                                           '<div class="border-line border-line-03"></div>' +
                                                           '<div class="border-line border-line-04"></div>' +
                                                           '<div class="border-line border-line-05"></div>' +
                                                           '<div class="border-line border-line-06"></div>' +
                                                           '<div class="border-line border-line-07"></div>' +
                                                           '<div class="border-line border-line-08"></div>' +
                                                           '<div class="border-line border-line-09"></div>' +
                                                           '<div class="border-line border-line-10"></div>' +
                                                           '<div class="border-line border-line-11"></div>' +
                                                           '<div class="border-line border-line-12"></div>' +
                                                           '<div class="border-line border-line-13"></div>' +
                                                           '<div class="border-line border-line-14"></div>' +
                                                           '<div class="border-line border-line-15"></div>' +
                                                           '<div class="border-line border-line-16"></div>' +
                                                           '<div class="border-line border-line-17"></div>' +
                                                           '<div class="border-line border-line-18"></div>' +
                                                           '<div class="border-line border-line-19"></div>' +
                                                           '<div class="border-line border-line-20"></div>' +
                                                           '<div class="border-line border-line-21"></div>' +
                                                           '<div class="border-line border-line-22"></div>' +
                                                           '<div class="border-line border-line-23"></div>' +
                                                           '<div class="border-line border-line-24"></div>' +
                                                       '</div>' +
                                                   '</div>' + '<div id="slider-range-' + DriverNOId + '" style="margin-bottom: 8%;width: 75%;left: 24%;margin: 0px !important;top: 14px;"></div>' +
                                               '</div><div class="icon-box">' +
                                              '<a onclick="callclick()" style="cursor: pointer;"><img src="../../Themes/images/phone.png" alt="phone"></a>' +
                                              '</div>');
                    });

                    for (index = 0, len = mainDriverDB.length; index < len; ++index) {
                        TimeValueList = [];
                        _.each(mainDriverDB[index], function (Time_item) {
                            TimeValueList.push(parseInt(Time_item.Ctime.replace(':', '')));
                        });
                        myarr = [];
                        _.each(mainDriverDB[index], function (itemSource) {
                            var bgcolor = '';
                            hrs = itemSource.Ctime.replace(':', '');
                            if (itemSource.Noc_Status == 1) { bgcolor = 'white'; }
                            else if (itemSource.Noc_Status == 2) { bgcolor = 'gray'; }
                            else if (itemSource.Noc_Status == 3) { bgcolor = 'green'; }
                            else if (itemSource.Noc_Status == 4) { bgcolor = 'red'; }
                            myarr.push({ "id": count, "startValue": hrs, "endValue": getMaxOfArray(TimeValueList), "color": bgcolor, "data": itemSource.Assign_Time, "status": itemSource.Noc_Status, "Driver_Id": itemSource.Driver_Id, "RouteId": itemSource.RouteId, "LoginStatus": itemSource.LoginStatus, "from_job_id": itemSource.from_job_id });
                            count++;
                        });

                        if (myarr.length > 0) {
                            $('#D_id_' + myarr[0].Driver_Id).text(myarr[0].Driver_Id);
                            $('#R_id_' + myarr[0].Driver_Id).text(myarr[0].RouteId);
                            $('#R_id_' + myarr[0].Driver_Id).attr('style', 'color:black');
                            $('#D_id_' + myarr[0].Driver_Id).attr('style', 'color:black');
                            MakeRangeSlider(myarr[0].Driver_Id);
                        }
                        _.each(Driver_full_details, function (d_details) {
                            $('#D_id_' + d_details.driver_id).text(': ' + d_details.uni_no);
                            $('#R_id_' + d_details.driver_id).text(': ' + d_details.tariff_name);
                            $('#R_id_' + d_details.driver_id).attr('style', 'color:black');
                            $('#D_id_' + d_details.driver_id).attr('style', 'color:black');
                            if (d_details.driver_status == 0) {
                                $('#d_Login_' + d_details.driver_id).addClass('red-border');
                            }
                        });
                    }
                } else {
                    $('#MainDiv').append('<div class="box-border" style="height:44px;">' +
                                                  '<div class="green-border"></div>' +
                                                  '<div class="second-box">' +
                                                      '<ul><li>driver d<span class="first-no" ></span></li>' +
                                                          '<li>tarrif <span class="first-no2"></span></li>' +
                                                          '<li>[ET A] to [Next Waypdrt] <span></span></li></ul>' +
                                                 ' </div>' +
                                                  '<div class="last-box">' +
                                                      '<div class="first-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="third-box"></div>' +
                                                      '<div class="second-box2"></div>' +
                                                      '<div class="first-box"></div>' +
                                                       '<div class="second-box2"></div>' +
                                                      //'<div class="first-box"></div>' +
                                                      '<div>' +
                                                          '<div class="border-line border-line-00"></div>' +
                                                          '<div class="border-line border-line-01"></div>' +
                                                          '<div class="border-line border-line-02"></div>' +
                                                          '<div class="border-line border-line-03"></div>' +
                                                          '<div class="border-line border-line-04"></div>' +
                                                          '<div class="border-line border-line-05"></div>' +
                                                          '<div class="border-line border-line-06"></div>' +
                                                          '<div class="border-line border-line-07"></div>' +
                                                          '<div class="border-line border-line-08"></div>' +
                                                          '<div class="border-line border-line-09"></div>' +
                                                          '<div class="border-line border-line-10"></div>' +
                                                          '<div class="border-line border-line-11"></div>' +
                                                          '<div class="border-line border-line-12"></div>' +
                                                          '<div class="border-line border-line-13"></div>' +
                                                          '<div class="border-line border-line-14"></div>' +
                                                          '<div class="border-line border-line-15"></div>' +
                                                          '<div class="border-line border-line-16"></div>' +
                                                          '<div class="border-line border-line-17"></div>' +
                                                          '<div class="border-line border-line-18"></div>' +
                                                          '<div class="border-line border-line-19"></div>' +
                                                          '<div class="border-line border-line-20"></div>' +
                                                          '<div class="border-line border-line-21"></div>' +
                                                          '<div class="border-line border-line-22"></div>' +
                                                          '<div class="border-line border-line-23"></div>' +
                                                          '<div class="border-line border-line-24"></div>' +
                                                      '</div>' +
                                                  '</div>' + '<div id="slider-range-" style="margin-bottom: 8%;width: 75%;left: 24%;margin: 0px !important;top: 14px;"></div>' +
                                              '</div><div class="icon-box">' +
                                              '<a onclick="callclick()" style="cursor: pointer;"><img src="../../Themes/images/phone.png" alt="phone"></a>' +
                                              '</div>');
                }

            }
        });
    }
    function getMaxOfArray(numArray) {
        return Math.max.apply(null, numArray);
    }
    function unique(list) {
        var result = [];
        $.each(list, function (i, e) {
            if ($.inArray(e, result) == -1) result.push(e);
        });
        return result;
    }

    function MakeRangeSlider(divId) {

        var renderLabel;
        renderLabel = function (ui, customContent) {
            var content, endAt, range, startAt;
            if (customContent == null) {
                customContent = false;
            }
            range = ui.range;
            startAt = moment(range.startAt, "YYYY-MM-DD h:mm").add(range.startValue, "minutes");
            return content;
        };
        $('#slider-range-' + divId).rangeSlider({
            min: 0,
            max: 2480,
            ranges: myarr
        });
    };

    function getDriver_Count() {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("Get_DriverCount", "Admin_Dashboard", new { area = "Admin" })',
            success: function (data) {
                var dataJSON_driver_count = JSON.parse(data.data);
                if (dataJSON_driver_count.length > 0) {
                    $('#tariff_tbl').empty();

                    var tbl_driverCount = '<div class="dynamic_table2"><div class="dynamic_table1" style="text-align:center; color:black;"> TYPE </div>';
                    _.each(dataJSON_driver_count, function (tariff_data1) {
                        tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="text-align:center;font-weight:bold;background-color:' + tariff_data1.Tariff_Colour + '">' + tariff_data1.Tariff_Name + '</div>';
                    });
                    tbl_driverCount = tbl_driverCount + '</div><div class="dynamic_table2">'
                    tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="text-align:center;color:black;">ONLINE (AVAILABLE)</div>'
                    _.each(dataJSON_driver_count, function (tariff_data2) {
                        var tarif_Y = tariff_data2.Y;
                        if (tarif_Y > 0) {
                            tarif_Y = tariff_data2.Y;
                        } else {
                            tarif_Y = 0;
                        }
                        tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="background-color:' + tariff_data2.Tariff_Colour + '">' + tariff_data2.X + ' (' + tarif_Y + ')</div>';
                    });
                    tbl_driverCount = tbl_driverCount + '</div><div class="dynamic_table2">'

                    tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="text-align:center; color:black;">LOGGED OUT</div>'
                    _.each(dataJSON_driver_count, function (tariff_data3) {
                        tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="background-color:' + tariff_data3.Tariff_Colour + '">' + tariff_data3.Z + '</div>';
                    });
                    tbl_driverCount = tbl_driverCount + '</div><div class="dynamic_table2">'

                    tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="text-align:center; color:black;">TOTAL</div>'
                    _.each(dataJSON_driver_count, function (tariff_data4) {
                        tbl_driverCount = tbl_driverCount + '<div class="dynamic_table1" style="background-color:' + tariff_data4.Tariff_Colour + '">' + (tariff_data4.Total_Driver) + '</div>';
                    });
                    tbl_driverCount = tbl_driverCount + '</div>'

                    tbl_driverCount = tbl_driverCount + '';

                    $('#tariff_tbl').append(tbl_driverCount);
                    $.hideLoading({ name: 'circle-turn' });
                } else { $.hideLoading({ name: 'circle-turn' }); }

            }

        });
    }
    function set_current_date() {
        var date = new Date();
        var n = date.toDateString();
        var time = date.toLocaleTimeString();

        $("#datepickur_search").kendoDatePicker({
            value: new Date(),
            dateInput: true,
            format: "dd/MM/yyyy",
            change: function (e) {
                var selectedDate1 = $("#datepickur_search").val();
                var selectedDate = selectedDate1.split("/").reverse().join("/")
                ChartJOBDateWise(selectedDate);
                GetJOBDateWise(selectedDate);
                getToday_jobdata(selectedDate);
            }
        });

    }
    function callclick() {
        alert('Pressing \'Call\' burron will invoke SIP client');
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function assign_job_summary(fjob_id) {
        $.showLoading({ name: 'circle-turn' });

        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("ActivityLog", "OperatorConsole", new { area="Admin"})',
            data: { From_jobid: fjob_id },
            success: function (data) {
                var Job_Activity_data = JSON.parse(data.data);
                $('#txt_Activity_assign').empty();
                var tbl_Activity = '<table><tr><td style="text-align:center;font-weight:700" class="summary">Activity</td>' +
                                    '<td style="text-align:center;font-weight:700" class="summary">Time</td><td style="text-align:center;font-weight:700" class="summary">User</td></tr>';
                var i = 1;
                _.each(Job_Activity_data, function (Activity_data) {
                    tbl_Activity = tbl_Activity + '<tr><td style="text-align:center" class=summary>' + Activity_data.Activity_Name + '</td><td style="text-align:center"  class=summary>' + Activity_data.Activity_Time + '</td><td style="text-align:center" class=summary>' + Activity_data.Activity_User + '</td></tr>';
                    i++;
                });
                tbl_Activity = tbl_Activity + '</table>';
                $('#txt_Activity_assign').append(tbl_Activity);
            }
        });

        $('#assign_job_summary').modal('show');
        $('#txt_assign_activity_drop').empty();
        $('#txt_assign_activity_pickup').empty();
        var tbl_pickup_assign1 = '';
        var t_t_address = [];
        var Ammount_string=0;
        _.each(todayAll_job, function (from_job_assi) {
            
            if (from_job_assi.from_job_id == fjob_id) {
                tbl_pickup_assign1 = '<table><tr><td style="font-weight:700" class="summary">Name: </td><td>' + from_job_assi.from_job_name + '</td></tr>' +
                         '<tr><td style="font-weight:700" class="summary">Number: </td><td>' + from_job_assi.from_job_number + '</td></tr>' +
                         '<tr><td style="font-weight:700" class="summary">Address: </td><td>' + from_job_assi.from_job_address + '</td></tr>' +
                         '<tr><td style="font-weight:700" class="summary">Postcode: </td><td>' + from_job_assi.from_job_postcode + '</td></tr>' +
                         '<tr><td style="font-weight:700" class="summary">Notes: </td><td>' + from_job_assi.from_job_notes + '</td></tr></table>';
                t_t_address.push(from_job_assi.from_job_address);
                Ammount_string = from_job_assi.Amount;
            }
            return;
        });
        $('#txt_assign_activity_pickup').append(tbl_pickup_assign1);

        var tbl_pickup_assign2
        var i = 1;
        var t_f_address = [];
        _.each(todayAll_job, function (tojob_assi) {
            if (tojob_assi.from_job_id == fjob_id) {
                tbl_pickup_assign2 = '<table style="margin-bottom: 20px;"><tr><td style="font-weight:700" class=summary>Order: </td><td>' + i + '</td></tr>' +
                        '<tr><td style="font-weight:700" class=summary>Address: </td><td>' + tojob_assi.tojob_address + '</td></tr>' +
                       '<tr><td style="font-weight:700" class=summary>Postcode: </td><td>' + tojob_assi.tojob_postcode + '</td></tr>' +
                       '</table>';
                $('#txt_assign_activity_drop').append(tbl_pickup_assign2);
                i++;
                t_f_address.push(tojob_assi.tojob_address);
            }
        });


        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var waypts = [];

        for (var i = 0; i < t_f_address.length - 1; i++) {
            waypts.push({
                location: t_f_address[i],
                stopover: true
            });
        }
        var starting =t_t_address[0];
        var Ending = t_f_address[t_f_address.length - 1];
        var FinalTotal = 0;
        console.log('starting',starting);
        console.log('Ending',Ending);
        console.log('waypts',waypts);
        directionsService.route({
            origin: starting,
            destination: Ending,
            waypoints: waypts,
            optimizeWaypoints: false,
            avoidHighways: false,
            unitSystem: google.maps.UnitSystem.IMPERIAL,
            avoidTolls: false,
            travelMode: google.maps.TravelMode.DRIVING

        }, function (response, status) {
            console.log(response);
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
                var route = response.routes[0];
                for (var i = 0; i < route.legs.length; i++) {
                    var distance_Type = route.legs[i].distance.text;
                    if (distance_Type.indexOf('mi') !== -1)
                    {
                        var distance1 =( route.legs[i].distance.text).replace('mi', '').replace(',', '');
                        FinalTotal += parseFloat(distance1);
                    }
                }

            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
        await sleep(1000);
        $('#distance_txt_a').text(parseFloat(FinalTotal).toFixed(2));
        $('#amount_txt_a').text(Ammount_string);
        $('#JobId_txt_a').text(fjob_id);
        $.hideLoading({ name: 'circle-turn' });

    }

    function getToday_jobdata(Select_Today_Date) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("GetTodayJobs_data", "OperatorConsole", new { area="Admin"})',
            data: { Select_Date_get: Select_Today_Date },
            success: function (data) {
                todayAll_job = JSON.parse(data.data);
            }
        });

    }

</script>

<div id="pending_job_summary" class="modal" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog animated flipInX lazy-hidden">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h2>Pending Job Summary</h2>
            </div>
            <div class="modal-body">
                @*<div class="branch-table" id="pending_grid">
                    </div>*@
                <div class="col-sm-12" style="margin-top: -31px;">
                    <div class="col-sm-6">
                        <div style="height:200px;">
                            <div style="text-align: center;font-weight:700"><span>Pick up</span></div>
                            <span id="hiddn_drop_id" style="display:none;"></span>
                            <span id="txt_pickupaddresss"></span>
                        </div>
                        <div style="text-align: center;font-weight:700;margin-top: 16px;"><span>Drop off</span></div>
                        <div style="height:233px;overflow:auto;margin-bottom:10px;">
                            <span id="txt_dropoffaddresss"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div style="text-align: center;font-weight:700;"><span>Drivers</span></div>
                        <div style="height:300px;overflow:auto;margin-bottom:10px;">
                            <div id="txt_drivers"></div>
                        </div>
                        <div class="form-btn">
                            <ul>
                                <li><a href="#" onclick="assign_job();" style="width: 177%;">Assign job</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <label>Job Id:<span id="JobId_txt_p">000</span></label><label style="margin-left:4%;">Distance :<span id="distance_p">000</span></label><label style="margin-left:4%;">Amount:<span id="amount_txt_p">000</span></label> <br>
                        </div>
                        <div class="col-sm-12">
                            @*<label>Duration :<span id="duration_txt">0000</span></label>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="assign_job_summary" class="modal" data-easein="perspectiveDownIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
    <div class="modal-dialog animated flipInX lazy-hidden">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h2>Assign Job Summary</h2>
            </div>
            <div class="modal-body">
                @*<div class="branch-table" id="pending_grid">
                    </div>*@
                <div class="col-sm-12" style="margin-top:-3%">
                    <div class="col-sm-6">
                        <div class="from-box1">
                            <span>Pick up</span>
                        </div>
                        <div style="height:191px;">
                            <span id="txt_assign_activity_pickup"></span>
                        </div>
                        <div class="from-box1">
                            <span>Drop off</span>
                        </div>
                        <div style="height:200px;overflow:auto;margin-bottom:10px;">
                            <span id="txt_assign_activity_drop"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="from-box1">
                            <span>Activity</span>
                        </div>
                        <div style="height:171px;overflow:auto;margin-bottom:10px;border:1px solid gray;">
                            <div id="txt_Activity_assign"></div>
                        </div>
                        <div class="col-sm-12"> 
                            <label>Job Id:<span id="JobId_txt_a">000</span></label><label style="margin-left:4%;">Distance :<span id="distance_txt_a">000</span></label><label style="margin-left:4%;">Amount:<span id="amount_txt_a">000</span></label> <br>
                        </div>
                        <div class="col-sm-12">
                            @*<label>Duration :<span id="duration_txt1">0000</span></label>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div id="content1" class="pd-rgt">
        <div class="col-sm-12" style="margin-top: 5px;">
            <div class="table-box11" id="tariff_tbl">
            </div>
        </div>
        <div class="dashboard-right pd">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12 images-width">

                    <div class="images-section">
                        <div class="root-book-btn">
                        </div>
                        <div class="last-box number">
                            <div class="border-line border-line-00">&nbsp;&nbsp;00</div>
                            <div class="border-line border-line-01" style="margin-left:20px;">&nbsp;01</div>
                            <div class="border-line border-line-02">&nbsp;02</div>
                            <div class="border-line border-line-03">03</div>
                            <div class="border-line border-line-04">&nbsp;04</div>
                            <div class="border-line border-line-05">&nbsp;05</div>
                            <div class="border-line border-line-06">&nbsp;06</div>
                            <div class="border-line border-line-07">&nbsp;07</div>
                            <div class="border-line border-line-08">&nbsp;&nbsp;08</div>
                            <div class="border-line border-line-09">&nbsp;&nbsp;09</div>
                            <div class="border-line border-line-10">&nbsp;&nbsp;10</div>
                            <div class="border-line border-line-11">&nbsp;11</div>
                            <div class="border-line border-line-12">&nbsp;&nbsp;12</div>
                            <div class="border-line border-line-13">&nbsp;&nbsp;13</div>
                            <div class="border-line border-line-14">&nbsp;&nbsp;14</div>
                            <div class="border-line border-line-15">&nbsp;&nbsp;15</div>
                            <div class="border-line border-line-16">&nbsp;&nbsp;&nbsp;16</div>
                            <div class="border-line border-line-17">&nbsp;&nbsp;&nbsp;17</div>
                            <div class="border-line border-line-18">&nbsp;&nbsp;&nbsp;18</div>
                            <div class="border-line border-line-19">&nbsp;&nbsp;&nbsp;19</div>
                            <div class="border-line border-line-20">&nbsp;&nbsp;&nbsp;20</div>
                            <div class="border-line border-line-21">&nbsp;&nbsp;&nbsp;21</div>
                            <div class="border-line border-line-22">&nbsp;&nbsp;&nbsp;&nbsp;22</div>
                            <div class="border-line border-line-23">&nbsp;&nbsp;&nbsp;23</div>
                            <div class="border-line border-line-24">&nbsp;&nbsp;&nbsp;&nbsp;24</div>
                        </div>
                        <div class="main-border" id="MainDiv">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 dashboard-box-width">
                    <div class="dashboard-right-table">

                        <div class="job-queue">
                            <div class="root-book-btn">
                                <ul>
                                    <li><a href="@Url.Action("booking_form", "booking" , new { area="Admin" })"><img src="~/Themes/images/loction.png" style="background: #5b9bd5;padding: 5px;" /></a></li>
                                </ul>
                            </div>
                            <div class="clock-div">
                                <input type="text" id="datepickur_search">
                            </div>
                            <div class="job-queue-box">
                                <div class="job-queue-hd">
                                    <h2>job-queue</h2>
                                    <div id="job_queue_grid" style="overflow:auto;height:220px;border:1px solid gray;"></div>
                                </div>
                                <div class="job-queue-btm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

