﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="~/Themes/images/favicon.ico" />

    <link href="~/Themes/css/loading.min.css" rel="stylesheet" />
    <link href="~/Themes/css/CommonClass.css" rel="stylesheet" />
    <link href="~/Themes/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Themes/css/style.css" rel="stylesheet">
    <link href="~/Themes/css/responsive.css" rel="stylesheet">
    <link href="~/Themes/css/fonts.css" rel="stylesheet">
    <link href="~/Themes/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Themes/css/menu-style.css" rel="stylesheet" />
    <link href="~/Themes/css/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Themes/css/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Themes/css/CommonClass.css" rel="stylesheet" />
    <link href="~/Themes/css/animate.css" rel="stylesheet" />
    <link href="~/Themes/css/qry_new.css" rel="stylesheet" />
    <link href="~/Themes/css/jquery-clockpicker.css" rel="stylesheet" />
    <link href="~/Themes/css/CustomeBord.css" rel="stylesheet" />
    <link href="~/Themes/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Themes/css/main.css" rel="stylesheet">
    <link href="~/Themes/css/jquery-ui-range-slider.css" rel="stylesheet">
    @*<link href="~/Themes/css/color1.css" rel="stylesheet" />*@
    <link href="~/Themes/css/colorPicker.css" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="~/Themes/js/jquery.colorPicker.js"></script>
    <script src="~/Themes/js/color1.js"></script>
    <script src="~/Themes/js/jquery-clockpicker.js"></script>
    <script src="~/Themes/js/kendo.all.min.js"></script>
    <script src="~/Themes/js/jquery.loading.min.js"></script>
    <script src="~/Themes/CommonFunction/CommonFunction.js"></script>
    <script src="~/Themes/js/bootstrap.min.js"></script>
    <script src="~/Themes/js/underscore-min.js"></script>
    <script src="~/Themes/js/jquery_003.js"></script>
    <script src="~/Themes/js/jquery_002.js"></script>
    <script src="~/Themes/js/jquery.js"></script>
    <script src="~/Themes/js/Menu.js"></script>
    <script>
        $(document).ready(function () {
            if (!Number.prototype.toLowerCase) {
                Number.prototype.toLowerCase = function () {
                    return this.toString();
                }
            }
            var UserName = '@Session["UserName"]';
            var date = new Date();
            var n = date.toDateString();
            var time = date.toLocaleTimeString();
            $('#datetime_lable').text(n + ' ' + time);
            $('#login_Username').text('User Name : ' + UserName);
            setInterval(function () {
                var date = new Date();
                var n = date.toDateString();
                var time = date.toLocaleTimeString();
                $('#datetime_lable').text(n + ' ' + time);
            }, 100);
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="left-sidebar">
            <div class="dashboard-logo">
                <a href="#"><img src="~/Themes/images/pinpoint-7.png" alt="user"></a>
            </div>
            <div class="mm-page">
                <form method="post" action="./ListZoneMaster.aspx" id="frm_Lease">
                    <div class="main">
                        <div class="middle">
                            <div id="left">
                                <ul id="nav">
                                    <li>
                                        <a class="link" href="#">
                                            <span id="Left1_rpt_Menu_l_GroupName_0">Master Group</span>
                                        </a>
                                        <ul>
                                            <li><a class="link" href="@Url.Action("Admin_Dashboard", "Admin_Dashboard", new { area = "Admin" })"><img src="~/Themes/images/branch-master-3.png" alt="branch-master">Dashboard</a></li>
                                            <li><a class="link" href="@Url.Action("AdminPanel", "AdminPannel", new { area = "Admin" })"><img src="~/Themes/images/company-icon-2.png" alt="Company-master">Admin Panel</a></li>
                                            <li><a class="link" href="@Url.Action("OperatorConsole", "OperatorConsole", new { area = "Admin" })"><img src="~/Themes/images/branch-master-3.png" alt="branch-master">Operator Console</a></li>
                                            <li><a class="link" href="@Url.Action("booking_form", "booking", new { area = "Admin" })"><img src="~/Themes/images/branch-master-3.png" alt="branch-master">Book Job</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </nav>

        <div id="content" class="pd-rgt">

            <div class="logout-top">
                <div class="date-time">
                    <span id="datetime_lable"></span>
                    <span id="login_Username"></span>
                </div>
                <a href="@Url.Action("Logout","OperatorConsole",new { area="Admin"})">logout <i class="fa fa-sign-out"></i></a>
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>
                    </div>
                </nav>
            </div>
            <div class="clearfix"></div>
            @RenderBody()
        </div>
    </div>
</body>
</html>

